// .lbl-txt{
// position: absolute;
// }
// .cla-tbl{
//     margin: 49px;
//     // width: 800px;  
// }
// table#cla-tbl {
//     width: 1084px;
//     margin-left: 21px;
// }
#claim-tbl th {
    background: rgb(135, 146, 167);
  
  border:white 1px solid;
  color: white;
  font-size: 12px;
  font-weight: bold;
  }
  #claim-tbl td {
    font-size: 12px; 
  }
  
  ::-webkit-scrollbar {
    height: 5px;
    width: 12px;
    background: rgb(190, 188, 188);
  }
  
  ::-webkit-scrollbar-thumb {
    background: #797979;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(116, 114, 114, 0.75);
  }
  
  ::-webkit-scrollbar-corner {
    background: #000;
  }
  

