<div class="row">
    <div class="col-12 mb-4">
        <div class="card mb-4">
            <div class="card-body">
                <!-- <form> -->
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="dateRange"><span class="text-danger">*</span>Select Date Range</label>
                        <input class="form-control" #drp="bsDaterangepicker" bsDaterangepicker [container]="'html'"
                            [ngModel]="bsRangeValue" (ngModelChange)="bsRangeValue=$event;GetcompanyNames()" />
                    </div>

                    <div class="form-group col-md-3">
                        <label for="productId"><span class="text-danger">*</span>Select Product</label>
                        <select class="form-control" name="productId" required [(ngModel)]="productId"
                            (change)="getcommodityProduct($event.target.value)">
                            <option value="">Select product</option>
                            <option *ngFor="let p of allproducts" value="{{p.productId}}">{{p.productName}}</option>
                        </select>

                    </div>
                    <div class="form-group col-md-3">
                        <label for="commodityId"><span class="text-danger">*</span>Select Commodity</label>
                        <select class="form-control" name="commodityId" required [(ngModel)]="subProductId">
                            <option value="">Select commodity</option>
                            <option *ngFor="let c of allcommodity" value="{{c.subProductId}}">{{c.subProductName}}
                            </option>

                        </select>
                        <!-- <span class="invalid-tooltip" *ngIf="PError">{{PError}}</span> -->

                    </div>
                    <div class="form-group col-md-2">
                        <label for="email">State</label>
                             <select name="state" class="form-control"  [(ngModel)]="state">
                                <option value="">Select State</option>
                                <option *ngFor="let state of states" value="{{state.stateId}}">
                                    {{state.stateName}}</option>
                            </select>
                          
                   </div>
                    <div class="form-group col-md-1">
                        <button class="btn btn-success mt-4" (click)="Getclaimdata()">Submit</button>
                    </div>

                </div>
                <!-- <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="dateRange"><span class="text-danger">*</span>Select State</label>
                        <select class="form-control">
                            <option>Select State</option>
                        </select>

                    </div>
                    <div class="form-group col-md-4">
                        <label for="dateRange"><span class="text-danger">*</span>Company</label>
                        <select class="form-control">
                            <option>Select Company</option>
                        </select>

                    </div>
                    <div class="form-group col-md-4">
                        <label for="dateRange"><span class="text-danger">*</span>TCN</label>
                        <select class="form-control">
                            <option>Select tcn</option>
                        </select>
                    </div>
                </div> -->


                <!-- </form> -->
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <table class="table table-hover" id="claim-tbl" >
                        <thead>
                            <tr style="background-color: rgb(167, 167, 202);">
                                <th>Product</th>
                                <th>Sub Product</th>
                                <th>TCN</th>
                                <th>Company Name</th>
                                <th>Date of Trade </th>
                                <th>Action </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let c of claimData">
                                <td >{{c.productName}}</td>
                                <td>{{c.subProductName}}</td>
                                <td>{{c.tcn}}</td>
                                <td>{{c.companyName}}</td>
                                <td>{{c.tradeTimestamp}}</td>
                                <td><button class="btn btn-success" (click)="RaiseclainFlag(claimModal,c.tcn)">Raise Claim</button></td>
                            </tr>

                            <!-- <tr *ngIf="bankDetailsList.length==0">
                <td colspan="9">No Record Found!</td>
            </tr> -->
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<ng-template #claimModal style="height: 500px;overflow-x: hidden;">
    <div class="modal-content" height="400px" style="height: 500px;overflow-x: hidden;">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Raise claim</h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="claimForm" [formGroup]="claimForm" (ngSubmit)="Submitclaim(claimForm)">
                <div class="form-row">

                    <div class="form-group col-md-4">
                        <label for="dateRange"><span class="text-danger">*</span>Select Issue Type</label>

                        <select class="form-control" required (change)="GetIssueIdDtl($event.target.value)" formControlName="issueType" name="issueType">
                            <option value="">Select Type</option>
                            <option *ngFor="let c of issueList " value="{{c.id}}" >{{c.categoryName}}</option>
                          
                        </select>
                        <div class="invalid-tooltip"
                        *ngIf="claimForm.get('issueType').hasError('required') && claimForm.get('issueType').touched">
                        Issue Type is required!</div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="dateRange"><span class="text-danger">*</span>Select Issue Id</label>
                        <select class="form-control" required formControlName="issueId" name="issueId">
                            <option value="">Select Issue</option>
                            <option *ngFor="let list of issueIdList " value="{{list.issueIds}}" >{{list.issueIds}}</option>
                        </select>
                        <div class="invalid-tooltip"
                        *ngIf="claimForm.get('issueId').hasError('required') && claimForm.get('issueId').touched">
                        Issue Id is required!</div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="dateRange"><span class="text-danger">*</span>Priority</label>
                        <select class="form-control" required formControlName="priority"  name="priority">
                            <option value="">Select Priority</option>
                            <option value="High">High</option>
                            <option value="Medium">Medium</option>
                            <option value="Low">Low</option>
                        </select>
                        <div class="invalid-tooltip"
                        *ngIf="claimForm.get('priority').hasError('required') && claimForm.get('priority').touched">
                        Issue Id is required!</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="dateRange"><span class="text-danger">*</span>Message</label>
                        <textarea class="form-control" required formControlName="message" name="message">

                        </textarea>
                        <div class="invalid-tooltip"
                        *ngIf="claimForm.get('message').hasError('required') && claimForm.get('message').touched">
                        Message is required!</div>

                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="profileImage">Upload Supprtive Documents</label>
                        <div class="input-group">
                            <input type="file" class="form-control profileImg" required (change)="CheckUploadfile($event)"
                                id="Image" name="Image" formControlName="Image" placeholder="Name" multiple>
                            <!-- <div class="input-group-append">
                                <button class="btn btn-primary" type="button" (click)="ImageUpload()">Upload</button>
                            </div> -->
                        </div>
                        <div class="invalid-tooltip"
                        *ngIf="claimForm.get('Image').hasError('required') && claimForm.get('Image').touched">
                        Image is required!</div>
                    </div>

                </div>
                    <button class="btn btn-success" [disabled]="!claimForm.valid">Submit</button>
            </form>
        </div>
    </div>
</ng-template>
<simple-notifications></simple-notifications>