 <div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <app-breadcrumb></app-breadcrumb>
        <div class="separator mb-5"></div>
    </div>
</div>

<div class="row">
    <div class="col-12 mb-4">
        <div class="card mb-4">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-12">
                        <span class="float-right"><button (click)="addShipmentDetailsModal(addCompanyModal)" [disabled]="shipmentflag"
                                class="btn btn-primary btn-md"><i class="simple-icon-plus"></i>
                                Shipment Branch</button></span>
                    </div>
                </div>
                <div class="table-responsive shadow-sm bg-white rounded mt-4">
                <table class="table text-center table-hover mb-0 pb-0" id="shipment-tbl">
                    <thead class="thead-dark">
                        <tr>
                            <th>Sl No</th>
                            <th>BranchName</th>
                            <th>AddressLineOne</th>
                            <th>AddressLineTwo</th>
                            <th>Country</th>
                            <th>State</th>
                            <th>District</th>
                            <th>City</th>
                            <th>Pincode</th>
                            <th>Contact No</th>

                            <th>Action</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let company of ShipmentlocationList; let i=index;">
                            <!-- <td *ngIf="bankDetail.primaryBankFlag=='1'"><input type="radio" (click)="makedefaultalert(alertBankModal,bankDetail.companyBankId)" checked="checked"></td>
                            <td *ngIf="bankDetail.primaryBankFlag!='1'"><input type="radio" (click)="makedefaultalert(alertBankModal,bankDetail.companyBankId)"></td> -->
                            <td>{{i+1}}</td>
                            <td>{{company.branchName || 'N/A'}}</td>
                            <td>{{company.addressLineOne || 'N/A'}}</td>
                            <td>{{company.addressLineTwo || 'N/A'}}</td>
                            <td>{{company.countryName || 'N/A'}}</td>
                            <td>{{company.stateName || 'N/A'}}</td>
                            <td>{{company.districtName || 'N/A'}}</td>
                            <td>{{company.cityName || 'N/A'}}</td>
                            <td>{{company.pinCode || 'N/A'}}</td>
                            <td>{{company.contactNo || 'N/A'}}</td>
                            <td><button class="btn btn-secondary btn-xs" (click)="EditComhModal(i,editShipmentModal)"><i
                                        class="simple-icon-pencil"></i>
                                    edit</button>
                            </td>
                            <td><button class="btn btn-danger btn-xs"
                                    (click)="DeletealertModal(alertDeleteBankModal,company.shipmentId)"><i
                                        class="simple-icon-pencil"></i>
                                    delete</button>
                            </td>
                        </tr>
                        <tr *ngIf="ShipmentlocationList==null">
                            <td colspan="9">No Record Found!</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>
<ng-template #addCompanyModal style="height: 650px;overflow-x: hidden;">
    <div class="modal-content" height="400px" style="height: 650px;overflow-x: hidden;">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Shipment Branch</h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="addshipmentBranchForm" [formGroup]="addshipmentBranchForm"
                (ngSubmit)="addShipmentBranchDetails(addshipmentBranchForm)">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="accountHolderName">Banch Name</label>
                        <input type="text" name="branchname" required class="form-control" id="branchname"
                            pattern="^[#./0-9a-zA-Z\s,-]+$" placeholder="Branchname" formControlName="branchname"
                            [value]="addshipmentBranchForm.addresslinetwo">
                        <div class="invalid-tooltip"
                            *ngIf="addshipmentBranchForm.get('branchname').hasError('required') && addshipmentBranchForm.get('branchname').touched">
                            Branchname One is required!</div>
                        <div class="invalid-tooltip"
                            *ngIf="addshipmentBranchForm.get('branchname').invalid && addshipmentBranchForm.get('branchname').touched">
                            Enter valid Branchname!</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="accountHolderName">Addressline 1</label>
                        <input type="text" name="addresslineone" required class="form-control" id="addresslineone"
                            pattern="^[#./0-9a-zA-Z\s,-]+$" placeholder="Addressline one"
                            formControlName="addresslineone" [value]="addshipmentBranchForm.addresslinetwo">
                        <div class="invalid-tooltip"
                            *ngIf="addshipmentBranchForm.get('addresslineone').hasError('required') && addshipmentBranchForm.get('addresslineone').touched">
                            addressline One is required!</div>
                        <div class="invalid-tooltip"
                            *ngIf="addshipmentBranchForm.get('addresslineone').invalid && addshipmentBranchForm.get('addresslineone').touched">
                            Enter valid address!</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="accountNo">Addressline 2</label>
                        <input type="text" name="addresslinetwo" class="form-control" id="addresslinetwo"
                            placeholder="Addressline two" formControlName="addresslinetwo"
                            [value]="addshipmentBranchForm.addresslinetwo">

                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="state">State</label>
                        <select name="state" id="state" class="form-control" required formControlName="state"
                            (change)="GetRegion($event.target.value)">
                            <option value="">Select State</option>
                            <option *ngFor="let state of states" value="{{state.stateId}}">
                                {{state.stateName}}</option>
                        </select>
                        <div class="invalid-tooltip"
                            *ngIf="addshipmentBranchForm.get('state').hasError('required') && addshipmentBranchForm.get('state').touched">
                            State is required!</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="region">Region</label>
                        <select name="region" class="form-control" required formControlName="region"
                            (change)="GetDistrictForRegion($event.target.value)">
                            <option value="">Select Region</option>
                            <option *ngFor="let reg of region" value="{{reg.regionId}}">
                                {{reg.regionName}}</option>
                        </select>
                        <div class="invalid-tooltip"
                            *ngIf="addshipmentBranchForm.get('region').hasError('required') && addshipmentBranchForm.get('region').touched">
                            Region is required!</div>
                    </div>
                    </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="state">District</label>

                        <select name="state" id="state" class="form-control" required formControlName="district"
                            (change)="Getcity($event.target.value)">
                            <option value="">Select District</option>
                            <option *ngFor="let district of zones" value="{{district.districtId}}">
                                {{district.districtName}}</option>
                        </select>
                        <div class="invalid-tooltip"
                            *ngIf="addshipmentBranchForm.get('district').hasError('required') && addshipmentBranchForm.get('district').touched">
                            State is required!</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="city">City</label>
                        <select name="city" id="city" class="form-control" required formControlName="city">
                            <option value="">Select City</option>
                            <option *ngFor="let city of City" value="{{city.cityId}}">
                                {{city.cityName}}</option>
                        </select>

                        <div class="invalid-tooltip"
                            *ngIf="addshipmentBranchForm.get('city').hasError('required') && addshipmentBranchForm.get('city').touched">
                            City is required!</div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="pinCode">PinCode</label>
                        <input type="text" name="pinCode" pattern="^[1-9][0-9]{5}$" maxlength="6" class="form-control"
                            id="pinCode" required placeholder="PinCode" formControlName="pinCode"
                            [value]="addshipmentBranchForm.pincode">
                        <div class="invalid-tooltip"
                            *ngIf="addshipmentBranchForm.get('pinCode').hasError('required') && addshipmentBranchForm.get('pinCode').touched">
                            Pincode is required!</div>
                        <div class="invalid-tooltip"
                            *ngIf="addshipmentBranchForm.get('pinCode').invalid && addshipmentBranchForm.get('pinCode').touched">
                            Enter valid Pincode!</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="ifscCode">Contact No</label>
                        <input type="text" name="contactNo" class="form-control" pattern="[0-9]{10,10}" maxlength="10"
                            required id="contactNo" placeholder="contac tNo" formControlName="contactNo"
                            [value]="addshipmentBranchForm.contactNo">
                        <div class="invalid-tooltip"
                            *ngIf="addshipmentBranchForm.get('contactNo').hasError('required') && addshipmentBranchForm.get('contactNo').touched">
                            Contact No required!</div>
                        <div class="invalid-tooltip"
                            *ngIf="addshipmentBranchForm.get('contactNo').invalid && addshipmentBranchForm.get('contactNo').touched">
                            Enter valid Contact No !</div>
                    </div>
                </div>

                <div class="modal-footer">
                    <!-- <button type="submit" class="btn btn-primary" [disabled]="!addshipmentBranchForm.valid">ADD
                        BRANCH</button> -->
                        <button type="button" class="btn btn-primary" appDebounceClick (throttledClick)="addShipmentBranchDetails(addshipmentBranchForm)" [throttleTime]="700" [disabled]="!addshipmentBranchForm.valid">ADD BRANCH</button>
                </div>
            </form>
        </div>
    </div>
</ng-template>
<ng-template #editShipmentModal style="height: 650px;overflow-x: hidden;">
    <div class="modal-content" height="400px" style="height: 650px;overflow-x: hidden;">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Shipment Branch</h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="editShipmentBranchForm" [formGroup]="editShipmentBranchForm"
              >
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="accountHolderName">Branch Name</label>
                        <input type="text" name="branchname" required class="form-control" id="branchname"
                            pattern="^[#./0-9a-zA-Z\s,-]+$" placeholder="Branchname" formControlName="branchname"
                            [(ngModel)]="editShipmentLocationlist.branchName" [value]="editShipmentBranchForm.branchname">
                        <div class="invalid-tooltip"
                            *ngIf="editShipmentBranchForm.get('branchname').hasError('required') && editShipmentBranchForm.get('branchname').touched">
                            Branchname One is required!</div>
                        <div class="invalid-tooltip"
                            *ngIf="editShipmentBranchForm.get('branchname').invalid && editShipmentBranchForm.get('branchname').touched">
                            Enter valid Branchname!</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="accountHolderName">Addressline 1</label>
                        <input type="text" name="accountHolderName" hidden class="form-control" id="shipmentId"
                            formControlName="shipmentId" [(ngModel)]="editComLocationlist.shipmentId">
                        <input type="text" name="accountHolderName" required class="form-control" id="addresslineone"
                            pattern="^[#./0-9a-zA-Z\s,-]+$" placeholder="Account Holder Name"
                            formControlName="addresslineone" [(ngModel)]="editShipmentLocationlist.addressLineOne">

                        <div class="invalid-tooltip"
                            *ngIf="editShipmentBranchForm.get('addresslineone').hasError('required') && editShipmentBranchForm.get('addresslineone').touched">
                            Addressline 1 is required!</div>
                        <div class="invalid-tooltip"
                            *ngIf="editShipmentBranchForm.get('addresslineone').invalid && editShipmentBranchForm.get('addresslineone').touched">
                            Enter valid Addressline!</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="accountNo">Addressline 2</label>
                        <input type="text" name="addresslinetwo" class="form-control" id="addresslinetwo"
                            placeholder="Account Number" formControlName="addresslinetwo" ngModel
                            [(ngModel)]="editShipmentLocationlist.addressLineTwo">

                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="state">State</label>
                        <select name="state" id="state" class="form-control" required formControlName="state" name=""
                            [(ngModel)]="editShipmentLocationlist.stateId" (change)="GetRegion($event.target.value)">
                            <option value="">Select State</option>
                            <option *ngFor="let state of states" value="{{state.stateId}}">
                                {{state.stateName}}</option>
                        </select>
                        <div class="invalid-tooltip"
                            *ngIf="editShipmentBranchForm.get('state').hasError('required') && editShipmentBranchForm.get('state').touched">
                            State is required!</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="state">Region</label>
                        <select name="state" class="form-control" required formControlName="region" [(ngModel)]="editShipmentLocationlist.regionId"
                            (change)="GetDistrictForRegion($event.target.value)">
                            <option value="">Select Region</option>
                            <option *ngFor="let reg of region" value="{{reg.regionId}}">
                                {{reg.regionName}}</option>
                        </select>
                        <div class="invalid-tooltip"
                            *ngIf="editCompanyBranchForm.get('region').hasError('required') && editCompanyBranchForm.get('region').touched">
                            Region is required!</div>
                    </div>
                    </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="state">District</label>

                        <select name="district" id="district" class="form-control" required formControlName="district"
                            [(ngModel)]="editShipmentLocationlist.districtId" (change)="Getcity($event.target.value)">
                            <option value="">Select District</option>
                            <option *ngFor="let district of zones" value="{{district.districtId}}">
                                {{district.districtName}}</option>
                        </select>
                        <div class="invalid-tooltip"
                            *ngIf="editShipmentBranchForm.get('district').hasError('required') && editShipmentBranchForm.get('district').touched">
                            State is required!</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="city">City</label>
                        <select name="city" id="city" class="form-control" required formControlName="city"
                            [(ngModel)]="editShipmentLocationlist.cityId">
                            <option value="">Select City</option>
                            <option *ngFor="let city of City" value="{{city.cityId}}">
                                {{city.cityName}}</option>
                        </select>

                        <div class="invalid-tooltip"
                            *ngIf="editShipmentBranchForm.get('city').hasError('required') && editShipmentBranchForm.get('city').touched">
                            City is required!</div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="pinCode">PinCode</label>
                        <input type="text" name="pinCode" class="form-control" id="pinCode" required
                            placeholder="PinCode" maxlength="6" formControlName="pinCode" pattern="^[1-9][0-9]{5}$"
                            [(ngModel)]="editShipmentLocationlist.pinCode">
                        <div class="invalid-tooltip"
                            *ngIf="editShipmentBranchForm.get('pinCode').hasError('required') && editShipmentBranchForm.get('pinCode').touched">
                            Pincode is required!</div>
                        <div class="invalid-tooltip"
                            *ngIf="editShipmentBranchForm.get('pinCode').invalid && editShipmentBranchForm.get('pinCode').touched">
                            Enetr valid Pincode!</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="ifscCode">Contact No</label>
                        <input type="text" name="contactNo" class="form-control" pattern="[0-9]{10,10}" maxlength="10"
                            required id="contactNo" placeholder="Contact No" formControlName="contactNo"
                            [(ngModel)]="editShipmentLocationlist.contactNo">
                        <div class="invalid-tooltip"
                            *ngIf="editShipmentBranchForm.get('contactNo').hasError('required') && editShipmentBranchForm.get('contactNo').touched">
                            Contact No required!</div>
                        <div class="invalid-tooltip"
                            *ngIf="editShipmentBranchForm.get('contactNo').invalid && editShipmentBranchForm.get('contactNo').touched">
                            Enter valid Contact No !</div>
                    </div>
                </div>
                <!-- <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="ifscCode">GstIn No</label>
                        <input type="text" name="gstinNo" class="form-control" required id="gstinNo"
                            placeholder="Gstin No" pattern="\d{2}[A-Z]{5}\d{4}[A-Z]{1}[A-Z\d]{1}[Z]{1}[A-Z\d]{1}"
                            formControlName="gstinNo" [(ngModel)]="editComLocationlist.gstinNo">
                        <div class="invalid-tooltip"
                            *ngIf="editShipmentBranchForm.get('gstinNo').hasError('required') && editShipmentBranchForm.get('gstinNo').touched">
                            Gstin No is required!</div>
                        <div class="invalid-tooltip"
                            *ngIf="editShipmentBranchForm.get('gstinNo').invalid && editShipmentBranchForm.get('gstinNo').touched">
                            Enter valid GstinNo !</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="ifscCode">GstIn Issuance Date</label>
                        <input class="form-control" placeholder="yyyy-mm-dd" type="date" required
                            formControlName="gstinIssueDate"
                            [maxDate]='{year:currentYear,month:currentMonth,day:currentDay}'
                            [minDate]="{year: 1980, month: 1, day: 1}" id="gstinIssueDate"
                            [(ngModel)]="editComLocationlist.gstIssuanceDate">

                        <div class="invalid-tooltip"
                            *ngIf="editShipmentBranchForm.get('gstinIssueDate').hasError('required') && editShipmentBranchForm.get('gstinIssueDate').touched">
                            Gstin issuence date is required!</div>
                    </div>
                </div> -->

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" appDebounceClick (throttledClick)="editShipmentDetailsModal(editShipmentBranchForm)" [throttleTime]="700" [disabled]="!editShipmentBranchForm.valid">Update</button>
                    <!-- <button type="submit" class="btn btn-primary"
                        [disabled]="!editShipmentBranchForm.valid">Update</button> -->
                </div>
            </form>
        </div>
    </div>
</ng-template>
<simple-notifications></simple-notifications>
<ng-template #alertDeleteBankModal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalertDeleteBankModalalLabel">Alert</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">×</span>
            </button>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure,you want to delete this shipment branch?</h5>


            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">CANCEL</button>
            <button type="button" class="btn btn-primary" (click)="DelecompanyModal()">OK</button>
        </div>
    </div>
</ng-template>