<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <app-breadcrumb></app-breadcrumb>
        <div class="separator mb-5"></div>
    </div>
</div>


<div class="row">
    <div class="col-12 mb-4">
        <div class="card">
            <div class="card-body">
                <span style="font-size: 14px;font-weight: bold;">MARKET WATCH</span>
                <div>
                    <!-- <tabset>
                        <tab heading="MARKET WATCH" [active]="true"> -->
                            <div class="table-watchlist table-responsive">
                                <table class="table table-hover" id="bank-record">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>PRODUCT NAME</th>
                                            <th>SUB PRODUCT NAME</th>
                                            <th>VARIETY NAME</th>
                                            <th>PRODUCT STATION</th>
                                            <th>BID QUANTITY/UNIT</th>
                                            <th>BID PRICE</th>
                                            <th>ASK QUANTITY/UNIT</th>
                                            <th>ASK PRICE</th>
                                            <th>CTP</th>
                                            <th>LTP</th>
                                            <th>VOLUME</th>
                                            <th>ROC</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let watch of watchlist;let i=index">
            
                                            <td>{{watch.productName|| 'N/A'}}</td>
                                            <td>{{watch.subProductName|| 'N/A'}}</td>
                                            <td>{{watch.varietyName|| 'N/A'}}</td>
                                            <!-- <td>{{watch.grade|| 'N/A'}}</td> -->
                                            <td>{{watch.productStation|| 'N/A'}}</td>
                                            <td>{{watch.bidQuantity|| 'N/A'}} {{watch.bidUnit}}</td>
                                            <td>{{watch.bidPrice|| 'N/A'}}</td>
                                            <td>{{watch.askQuantity}} {{watch.askUnit}}</td>
                                            <td>{{watch.askPrice|| 'N/A'}}</td>
                                            <td>{{watch.ctp|| 'N/A'}}</td>
                                            <td>{{watch.ltp|| 'N/A'}}</td>
                                            <td>{{watch.volume|| 'N/A'}}</td>
                                            <td>{{watch.roc|| 'N/A'}}</td>
                                            <!-- <td><button class="btn btn-primary"
                                                    (click)="OpenEditmodal(editorderModal,order.orderId,order.price,order.currentQuantity)">Edit</button></td> -->
            
                                        </tr>
                                        <tr *ngIf="watchlist==null"><td colspan="5">No Record Found!</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        <!-- </tab> -->
                        <!-- <tab heading="MARKET TRADE">
                           
                         
                        </tab> -->
                     
                    <!-- </tabset> -->
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 mb-4">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="table-wd table-responsive">
                        <div class="graph-body">
                            <div style="display: block;">
                                <canvas baseChart width="800" height="800"
                                  [datasets]="lineChartData"
                                  [labels]="lineChartLabels"
                                  [options]="lineChartOptions"
                                  [colors]="lineChartColors"
                                  [legend]="lineChartLegend"
                                  [chartType]="lineChartType"
                                  [plugins]="lineChartPlugins">
                                </canvas>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 mb-4">
            <div class="card mb-4">
                <div class="card-body">
                    <span style="font-size: 14px;font-weight: bold;">MARKET TRADES</span>
                    
                    <div class="table-market table-responsive">
                        <table class="table table-hover" id="bank-record">
                            <thead>
                                <tr>
                                    <th>PRODUCT NAME</th>
                                    <th>SUB PRODUCT NAME</th>
                                    <th>PRICE/UNIT</th>
                                    <th>QUANTITY/UNIT</th>
                                    <th>ORDER TYPE</th>
                                    <th>TRADE DATE</th>
    
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let market of marketdata;let i=index">
                                    <td>{{market.productName|| 'N/A'}}</td>
                                    <td>{{market.subProductName|| 'N/A'}}</td>
                                    <td>{{market.tradePrice|| 'N/A'}} {{market.tradePriceUnit}}</td>
                                    <td>{{market.tradeQuantity|| 'N/A'}} {{market.tradeQuantityUnit}}</td>
                                    <th *ngIf="market.orderType==1" style="color:green;">BUY</th>
                                    <th *ngIf="market.orderType==2" style="color:red;">SELL</th>
                                    <td>{{market.tradeTimestamp|date:'medium'}}</td>
                                   </tr>
                                <tr *ngIf="marketdata==null"><td colspan="5">No Record Found!</td></tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- <h4 class="" style="color: blue;">Product Description</h4>
                    <h5>Basmati rice is a type of white <br>
                        rice commonly grown in the Himalayas, India, <br>
                        and Pakistan—with India producing about two-thirds<br>
                        of the world's supply. It is a long-grain rice .<br>
                      
                    </h5> -->
                </div>
            </div>
        </div>
      
    </div>
</div>