.graph-body{
    height:400px;
    width:400px
}
#bank-record th {
    background: rgb(135, 146, 167);
  
  border:white 1px solid;
  color: white;
  font-size: 12px;
  font-weight: bold;
  }
  #bank-record td {
    font-size: 12px; 
  }