<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <app-breadcrumb></app-breadcrumb>
        <div class="separator mb-5"></div>
    </div>
</div>
<div class="row">
    <div class="col-12 mb-4">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-md-4">
                        <label for="dateRange"><b>Select Date Range</b></label>
                        <input class="form-control inp mt-1" #drp="bsDaterangepicker" bsDaterangepicker
                            placeholder="Select Date Range" style="background-color: white;" readonly
                            [bsConfig]="{ ranges: ranges,rangeInputFormat : 'DD-MM-YYYY', dateInputFormat: 'DD-MM-YYYY'}"
                            [container]="'html'" [ngModel]="bsRangeValue"
                            (ngModelChange)="bsRangeValue=$event;getTcnList();getViewByTcn();" />
                    </div>
                    <div class="col-md-4">
                        <label for="state"><b>Select Product</b></label>
                        <select class="form-control inp" name="state" [(ngModel)]="productId"
                            (change)="GetAllSubProducts($event.target.value);getTcnList();getViewByTcn();">
                            <option value="0" disabled>Select Product</option>
                            <option *ngFor="let product of productList;" [value]="product.productId">
                                {{product.productName}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="state"><b>Select Sub Product</b></label>
                        <select class="form-control inp" name="state" [(ngModel)]="subProductId"
                            (change)="getTcnList();getViewByTcn();getSeason();">
                            <option value="0" disabled>Select Sub Product</option>
                            <option *ngFor="let product of subProductList;" [value]="product.subProductId">
                                {{product.subProductName}}
                            </option>
                        </select>
                    </div>
                    <!-- <div class="col-md-3">
                        <label for="state"><b>Select Season</b></label>
                        <select class="form-control inp" name="state" [(ngModel)]="seasonId"
                            (change)="getViewByTcn();getTcnList();">
                            <option value="0" disabled>Select Season</option>
                            <option *ngFor="let season of seasonList;" [value]="season.season_id">
                                {{season.season_year}}
                        </select>
                    </div> -->
                </div>
                <div class="row mt-4">
                    <div class="col-md-4">
                        <label for="state"><b>Select State</b></label>
                        <select class="form-control inp" name="state" [(ngModel)]="stateId"
                            (change)="tncId='';getTcnList();getViewByTcn();">
                            <option value="0" disabled>Select State</option>
                            <option [value]="state.stateId" *ngFor="let state of stateList">{{state.stateName}}</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="company"><b>Search Company</b></label>
                        <input id="searchBar" (typeaheadOnSelect)="onSelect($event);getTcnList();tncId='';"
                            typeaheadWaitMs=" 500" [isAnimated]="true" [typeaheadScrollable]="true" [ngModel]="search"
                            (ngModelChange)="buyerCompanyId=0;sellerCompanyId=0;tncId='';search=$event;getTcnList();"
                            typeaheadOptionField="companyName" [typeahead]="suggestions$" [typeaheadAsync]="true"
                            class="form-control inp mt-1" placeholder="Enter Company Name">
                        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
                            {{ errorMessage }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="tnc"><b>Select TCN</b></label>
                        <select class="form-control inp" name="tcn" [(ngModel)]="tncId"
                            (change)="deliveryNo='0';deliveryNoList=[];getDeliveryNoListByTcn($event.target.value);getViewByTcn();">
                            <option value="" disabled>Select TCN</option>
                            <option [value]="tcn.tcn" *ngFor="let tcn of tcnList;">{{tcn.tcn}}</option>
                        </select>
                    </div>
                    <!-- <div class="col-md-3">
                        <label for="deliveryNo"><b>Select Delivery No</b></label>
                        <select class="form-control inp" name="deliveryNo" [(ngModel)]="deliveryNo"
                            (change)="getViewByTcn();">
                            <option value="0" disabled>Select Delivery No</option>
                            <option *ngFor="let object of deliveryNoList;" [value]="object.deliveryNo">
                                {{object.deliveryNo}}
                            </option>
                        </select>
                    </div> -->
                </div>
                <!-- <hr /> -->
                <div class="row mb-2 p-2 mt-3">
                    <div class="col-md-3 my-auto">
                        <b>Product Name &nbsp;:&nbsp;</b>{{deliveryDtl.productName||'N/A'}}
                    </div>
                    <div class="col-md-3 my-auto">
                        <b>Sub Product Name&nbsp;:&nbsp;</b>{{deliveryDtl.subProductName||'N/A'}}
                    </div>
                    <div class="col-md-3 my-auto">
                        <b>Buyer Name&nbsp;:&nbsp;</b>{{deliveryDtl.buyerCompanyName||'N/A'}}
                    </div>
                    <div class="col-md-3 my-auto">
                        <b>Seller Name&nbsp;:&nbsp;</b>{{deliveryDtl.sellerCompanyName||'N/A'}}
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-md-3 my-auto">
                        <b>TCN&nbsp;:&nbsp;</b>{{deliveryDtl.tcn||'N/A'}}
                    </div>
                    <div class="col-md-3 my-auto">
                        <b>Trade Timestamp&nbsp;:&nbsp;</b>{{(deliveryDtl.tradeTimestamp|date:'medium')||'N/A'}}
                    </div>
                    <div class="col-md-3 my-auto">
                        <b>Location&nbsp;:&nbsp;</b>{{deliveryDtl.location||'N/A'}}
                    </div>
                    <div class="col-md-3 my-auto">
                        <b>AllotmentNo&nbsp;:&nbsp;</b>{{deliveryDtl.allotmentNo||'N/A'}}
                    </div>
                </div>
                <div class="row p-2 mb-3">
                    <div class="col-md-3 my-auto">
                        <b>Trade Rate&nbsp;:&nbsp;</b>{{deliveryDtl.trade_rate!=null?deliveryDtl.trade_rate:'N/A'}}
                    </div>
                    <div class="col-md-3 my-auto">
                        <b>Trade
                            Qty&nbsp;:&nbsp;</b>{{deliveryDtl.trade_quantity!=null?deliveryDtl.trade_quantity:'N/A'}}
                    </div>
                    <div class="col-md-3 my-auto">
                        <b>Pending Qty&nbsp;:&nbsp;</b>{{deliveryDtl.pendingQty!=null?deliveryDtl.pendingQty:'N/A'}}
                    </div>
                    <div class="col-md-3 my-auto"></div>
                </div>
                <!-- <hr /> -->
                <div class="table-responsive shadow-sm bg-white rounded">
                    <table class="table table-hover text-center mb-0 pb-0">
                        <thead class="thead-dark">
                            <tr>
                                <th>Do ID</th>
                                <th>Do Date</th>
                                <th>Do Qty</th>
                                <th>Actual Delivery</th>
                                <th>Pending Delivery</th>
                                <th>Expected Delivery Date</th>
                                <th>Status</th>
                                <th>Download</th>
                                <th>Hash</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let object of deliveryList;let i=index;">
                                <td>{{object.doId||'N/A'}}</td>
                                <td>{{object.doDate|date:'medium'||'N/A'}}</td>
                                <td>{{object.doQty}}</td>
                                <td>{{object.actualDeliveryQty}}</td>
                                <td>{{object.pendingDeliveryQty}}</td>
                                <td>{{object.expectedDeliveryDate|date:'medium'||'N/A'}}</td>
                                <td>{{object.deliveryStatus||'N/A'}}</td>
                                <td><button *ngIf="deliveryDtl!=null && deliveryList.length>0"
                                        class="btn btn-sm btn-primary pl-2 pr-2 pt-1 pb-1 m-0"
                                        style="border-radius: 100%!important;" (click)="printPdf(i)"><i
                                            class="iconsminds-download"></i></button></td>
                                <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;white-space:normal;"><a *ngIf="object.hash" class="font-weight-bold text-primary" [href]="hashUrl+object.hash" target="_blank">{{object.hash}}</a><span *ngIf="!object.hash">N/A</span></td>
                            </tr>
                            <tr *ngIf="deliveryList.length==0">
                                <td colspan="9" class="text-center">No Record Found!</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<simple-notifications></simple-notifications>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="line-scale" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>