<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <app-breadcrumb></app-breadcrumb>
        <div class="separator mb-5"></div>
    </div>
</div>
<div class="row">
    <div class="col-12 mb-4">
        <div class="card mb-4">
            <div class="card-body">
                <!-- <form> -->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Name" [value]="personalinfo.name"
                            disabled>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="profileImage">Add Image</label>
                        <div class="input-group">
                            <input type="file" class="form-control profileImg"  (change)="CheckUploadfile($event)" id="profileImage" name="profileImage" placeholder="Name">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" (click)="ImageUpload()" >Upload</button>
                            </div>
                        </div>
                        <small class="text-danger" style="display:none">Upload valid document with in 1 MB
                            (pdf,.doc,.docx)</small>
                        <div class="invalid-tooltip" *ngIf="imagecheck">Image is required!</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="email">Email</label>
                        <div class="input-group">
                            <input type="email" class="form-control" email id="email" required ngModel #email="ngModel"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" [(ngModel)]="Pemail" placeholder="Email"
                                [value]="personalinfo.email">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" (click)="showOtpModalformail(template)">Save</button>
                                
                            </div>
                        </div>
                        <div class="invalid-tooltip" *ngIf="email.dirty&&!Pemail">Email is required!</div>
                        <div *ngIf="email.dirty&&email.invalid" class="invalid-tooltip">Email must be a valid address</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="contactNo">Contact No</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="contactNo" name="contactNo" #contactNo="ngModel" [(ngModel)]="Pcontact" ngModel placeholder="Contact No" pattern="[0-9]{10,10}"
                                [value]="personalinfo.contactNo">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" (click)="showOtpModalcontact(template)">Save</button>
                            </div>
                        </div>
                        <div class="invalid-tooltip" *ngIf="contactNo.dirty&&!Pcontact">ContactNo is required!</div>
                        <div class="invalid-tooltip"*ngIf="contactNo.dirty&&contactNo.invalid">Input valid Contact No!</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="addressLine1">Address </label>
                    <textarea class="form-control" id="addressLine1" placeholder="Address Line 1" [value]="personalinfo.addressLine1" disabled></textarea>
                
                </div>
               
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <label for="name"><h1>Membership Details</h1></label>
                <div class="separator mb-5"></div>
                <!-- <form> -->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">Membership Name</label>
                        <input type="text" class="form-control"  name="name" placeholder="Name" [value]="membershipinfo.typeName"
                            disabled>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="profileImage">Membership Description</label>
                        <input type="text" class="form-control" name="Description" placeholder="Description" [value]="membershipinfo.description"
                        disabled>
                      
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="email">Membership Status</label>
                        <div class="input-group" *ngIf="membershipinfo.status=='1'">
                            <input type="text" class="form-control" disabled   name="status" required value="Approved">
                          
                        </div>
                        <div class="input-group" *ngIf="membershipinfo.status=='2'">
                            <input type="text" class="form-control" disabled   name="status" required value="Reject">
                          
                        </div>
                        <div class="input-group" *ngIf="membershipinfo.status=='0'">
                            <input type="text" class="form-control" disabled   name="status" required value="Pending">
                          
                        </div>
                        
                    </div>
                    <div class="form-group col-md-6">
                        <label for="email">Membership Fee</label>
                        <div class="input-group">
                            <input type="text" class="form-control" disabled   name="email" required  
                                [value]="membershipinfo.fees">
                          
                        </div>
                        
                    </div>
                    <div class="form-group col-md-6">
                        <label for="contactNo">Membership Created on</label>
                        <div class="input-group">
                            <input type="text" class="form-control"name="date" disabled 
                                [value]="membershipinfo.createdOn">
                           
                        </div>
                    
                    </div>
                </div>
               
              
               
            </div>
        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Validate OTP</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="otp">OTP</label>
                <input type="text" name="otp" class="form-control" placeholder="Enter OTP" [(ngModel)]="otp" />
                <div class="invalid-tooltip" *ngIf="false">OTP is required!</div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="validateOTP()">Validate</button>
        </div>
    </div>
</ng-template>
<simple-notifications></simple-notifications>