<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <app-breadcrumb></app-breadcrumb>
        <div class="separator mb-5"></div>
    </div>
</div>
<div class="row">
    <div class="col-12 mb-4">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-md-3">
                        <label for="dateRange"><b>Select Date Range</b></label>
                        <input class="form-control inp mt-1" #drp="bsDaterangepicker" bsDaterangepicker
                            [container]="'html'" placeholder="Select Date Range" style="background-color: white;"
                            readonly
                            [bsConfig]="{ ranges: ranges,rangeInputFormat : 'DD-MM-YYYY', dateInputFormat: 'DD-MM-YYYY'}"
                            [ngModel]="bsRangeValue"
                            (ngModelChange)="bsRangeValue=$event;getTcnList();shipmentValue={};shipmentViewDetailsList=[];" />
                    </div>
                    <div class="col-md-3">
                        <label for="state"><b>Select Product</b></label>
                        <select class="form-control inp" name="state" [(ngModel)]="productId"
                            (change)="GetAllSubProducts($event.target.value);getTcnList();shipmentValue={};shipmentViewDetailsList=[];">
                            <option value="0" disabled>Select Product</option>
                            <option *ngFor="let product of productList;" [value]="product.productId">
                                {{product.productName}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="state"><b>Select Sub Product</b></label>
                        <select class="form-control inp" name="state" [(ngModel)]="subProductId"
                            (change)="getTcnList();getSeason();shipmentValue={};shipmentViewDetailsList=[];">
                            <option value="0" disabled>Select Sub Product</option>
                            <option *ngFor="let product of subProductList;" [value]="product.subProductId">
                                {{product.subProductName}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="state"><b>Select Season</b></label>
                        <select class="form-control inp" name="state" [(ngModel)]="seasonId"
                            (change)="getTcnList();shipmentValue={};shipmentViewDetailsList=[];">
                            <option value="0" disabled>Select Season</option>
                            <option *ngFor="let season of seasonList;" [value]="season.season_id">
                                {{season.season_year}}
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-3">
                        <label for="state"><b>Select State</b></label>
                        <select class="form-control inp" name="state" [(ngModel)]="stateId"
                            (change)="getTcnList();tncId='';shipmentValue={};shipmentViewDetailsList=[];">
                            <option value="0" disabled>Select State</option>
                            <option [value]="state.stateId" *ngFor="let state of stateList">{{state.stateName}}</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="company"><b>Search Company</b></label>
                        <input id="searchBar" (typeaheadOnSelect)="onSelect($event);getTcnList();"
                            typeaheadWaitMs=" 500" [isAnimated]="true" [typeaheadScrollable]="true" [ngModel]="search"
                            (ngModelChange)="buyerCompanyId=0;sellerCompanyId=0;search=$event;getTcnList();shipmentValue={};shipmentViewDetailsList=[];"
                            typeaheadOptionField="companyName" [typeahead]="suggestions$" [typeaheadAsync]="true"
                            class="form-control inp mt-1" placeholder="Enter Company Name">
                        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
                            {{ errorMessage }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="tnc"><b>Select TCN</b></label>
                        <select class="form-control inp" name="tcn" [(ngModel)]="tncId"
                            (change)="getDeliveryNoListByTcn($event.target.value);deliveryNo='0';deliveryNoList=[];shipmentValue={};shipmentViewDetailsList=[];getTradeInfoByproductTcn();">
                            <option value="" disabled>Select TCN</option>
                            <option [value]="tcn.tcnNo" *ngFor="let tcn of tcnList;">{{tcn.tcnNo}}</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="deliveryNo"><b>Select Delivery No</b></label>
                        <select class="form-control inp" name="deliveryNo" [(ngModel)]="deliveryNo"
                            (change)="getDeliveryDetailsByDeliverNo($event.target.value);shipmentValue={};shipmentViewDetailsList=[];">
                            <option value="0" disabled>Select Delivery No</option>
                            <option *ngFor="let object of deliveryNoList;" [value]="object.deliveryNo">
                                {{object.deliveryNo}}
                            </option>
                        </select>
                    </div>
                </div>
                <ng-container *ngIf="isEnable">
                    <!-- <hr> -->
                    <div class="table-responsive shadow-sm bg-white rounded mt-3 mb-3">
                        <table class="table table-hover text-left mb-0 pb-0">
                            <thead class="thead-dark">
                                <th>Check/UnCheck</th>
                                <th>DeliveryNo</th>
                                <th>ContractNo</th>
                                <th>RegionName</th>
                                <th>ZoneName</th>
                                <th>Quantity</th>
                                <th>UnitName</th>
                                <th>LotNo</th>
                                <th>PartyLotNo</th>
                                <!-- <th>StorageLocation</th>
                                <th>PressRunningNo</th>
                                <th>LocationAddress</th>
                                <th>IDCardNo</th>
                                <th>IDCardType</th>
                                <th>AuthorizedPersonInfo</th>
                                <th>StationName</th> -->
                            </thead>
                            <tbody>
                                <tr *ngFor="let object of shipmentViewDetailsList;let i=index;">
                                    <td><input type="checkbox" class="form-control inp" [(ngModel)]="checkBoxArray[i]"
                                            (click)="addRemoveObject($event.target.checked,i,object.deliveryShipmentId,object.quantity)" />
                                    </td>
                                    <td>{{object.deliveryNo||'N/A'}}</td>
                                    <td>{{object.contractNo||'N/A'}}</td>
                                    <td>{{object.regionName||'N/A'}}</td>
                                    <td>{{object.zoneName||'N/A'}}</td>
                                    <td>{{object.quantity||'N/A'}}</td>
                                    <td>{{object.unitName||'N/A'}}</td>
                                    <td>{{object.lotNo||'N/A'}}</td>
                                    <td>{{object.partyLotNo||'N/A'}}</td>
                                    <!-- <td>{{object.storageLocation||'N/A'}}</td>
                                    <td>{{object.pressRunningNo||'N/A'}}</td>
                                    <td>{{object.locationAddress||'N/A'}}</td>
                                    <td>{{object.idcardNo||'N/A'}}</td>
                                    <td>{{object.idCardType||'N/A'}}</td>
                                    <td>{{object.authorizedPersonInfo||'N/A'}}</td>
                                    <td>{{object.stationName||'N/A'}}</td> -->
                                </tr>
                                <tr *ngIf="shipmentViewDetailsList.length==0">
                                    <td colspan="9" class="text-center">No Record Found!</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- <hr /> -->
                    <form [formGroup]="form">
                        <!-- <div class="row p-2">
                            <div class="col-md-6">
                                <label for="tnc"><b><b>Billing Address</b></label>
                                <select class="form-control inp" formControlName="billingAddressId"
                                    (change)="form.get('dispatchFromId').setValue($event.target.value)">
                                    <option value="" disabled>Select Billing Address</option>
                                    <option *ngIf="billingAddress!=null" [value]="billingAddress.companyId">
                                        {{(billingAddress.regAddressLineOne||'')+','+(billingAddress.regAddressLineTwo||'')+','+(billingAddress.cityName||'')+','+(billingAddress.districtName||'')+','+(billingAddress.pinCode||'')+','+(billingAddress.stateName||'')+','+(billingAddress.countryName||'')}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="tnc"><b><b>Shipping Address</b></label>
                                <select class="form-control inp" formControlName="shippingAddressId"
                                    (change)="form.get('shipToId').setValue($event.target.value)">
                                    <option value="" disabled>Select Shipping Address</option>
                                    <option [value]="shipment.shipmentId" *ngFor="let shipment of shipmentList">
                                        {{(shipment.addressLineOne||'')+','+(shipment.addressLineTwo||'')+','+(shipment.cityName||'')+','+(shipment.districtName||'')+','+(shipment.pinCode||'')+','+(shipment.stateName||'')+','+(shipment.countryName||'')}}
                                    </option>
                                </select>
                            </div>
                        </div> -->
                        <div class="row p-2 mb-3">
                            <div class="col-md-4">
                                <label for="documentId"><small class="text-danger">*</small><b>Document ID</b></label>
                                <input type="text" class="form-control inp" placeholder="Enter Document ID"
                                    formControlName="documentId" name="documentId" />
                                <small
                                    *ngIf="form.get('documentId').hasError('required') && form.get('documentId').touched"
                                    class="text-danger float-left">*document id is required!</small>
                            </div>
                            <div class="col-md-4">
                                <label for="vehicleNo"><small class="text-danger">*</small><b>Vehicle No</b></label>
                                <input type="text" class="form-control inp" placeholder="Enter Vehicle No"
                                    formControlName="vehicleNo" name="vehicleNo" />
                                <small
                                    *ngIf="form.get('vehicleNo').hasError('required') && form.get('vehicleNo').touched"
                                    class="text-danger float-left">*vehicleNo is required!</small>
                            </div>
                            <div class="col-md-4">
                                <label for="transportDocNo"><small class="text-danger">*</small><b>Transport Doc
                                        No</b></label>
                                <input type="text" class="form-control inp" placeholder="Enter Transport Doc No"
                                    formControlName="transportDocNo" name="transportDocNo" />
                                <small
                                    *ngIf="form.get('transportDocNo').hasError('required') && form.get('transportDocNo').touched"
                                    class="text-danger float-left">*transport doc no is required!</small>
                            </div>
                        </div>
                        <div class="row p-2 mb-3">
                            <div class="col-md-4">
                                <label for="documentDate"><small class="text-danger">*</small><b>Document
                                        Date</b></label>
                                <input class="form-control inp" #datepickerYMD1="bsDatepicker" bsDatepicker
                                    formControlName="documentDate" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                                    placeholder="Enter Document Date" [container]="'html'">
                                <small
                                    *ngIf="form.get('documentDate').hasError('required') && form.get('documentDate').touched"
                                    class="text-danger float-left">*document date is required!</small>
                            </div>
                            <div class="col-md-4">
                                <label for="transportDocDate"><small class="text-danger">*</small><b>Transport Doc
                                        Date</b></label>
                                <input class="form-control inp" #datepickerYMD2="bsDatepicker" bsDatepicker
                                    formControlName="transportDocDate" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                                    placeholder="Enter Transport Doc Date" [container]="'html'">
                                <small
                                    *ngIf="form.get('transportDocDate').hasError('required') && form.get('transportDocDate').touched"
                                    class="text-danger float-left">*transport doc date is required!</small>
                            </div>
                            <!-- <div class="col-md-3">
                                <label for="dispatchFromId"><small class="text-danger">*</small><b>Dispatch From
                                        ID</b></label>
                                <input type="text" class="form-control inp" placeholder="Enter Dispatch From ID"
                                    formControlName="dispatchFromId" name="dispatchFromId" />
                                <small
                                    *ngIf="form.get('dispatchFromId').hasError('required') && form.get('dispatchFromId').touched"
                                    class="text-danger float-left">*dispatch from id is required!</small>
                            </div>
                            <div class="col-md-3">
                                <label for="shipToId"><small class="text-danger">*</small><b>Ship To
                                        ID</b></label>
                                <input type="text" class="form-control inp" placeholder="Enter Ship To ID"
                                    formControlName="shipToId" name="shipToId" />
                                <small *ngIf="form.get('shipToId').hasError('required') && form.get('shipToId').touched"
                                    class="text-danger float-left">*ship to id is required!</small>
                            </div> -->
                            <div class="col-md-4">
                                <label for="netValue"><small class="text-danger">*</small><b>Net Value</b></label>
                                <span
                                    class="input-group-text font-weight-bold inp">{{(form.get('netValue').value|number:'1.2-2':'en-IN')||'0.00'}}</span>
                            </div>
                        </div>
                        <!-- <hr> -->
                        <div class="table-responsive shadow-sm bg-white rounded">
                            <table class="table table-hover text-left mb-0 pb-0">
                                <thead class="thead-dark">
                                    <th>SNo</th>
                                    <th>HSN Code</th>
                                    <th>No Of Bags</th>
                                    <th>Unit Price</th>
                                    <th>Quantity</th>
                                    <th>Shipment Pricing Code</th>
                                    <th>Amount</th>
                                    <th>Shipment Packaging Code</th>
                                    <th>Tax Rate</th>
                                    <th>Tax Value</th>
                                    <th>Other Charge</th>
                                    <th>Total Value</th>
                                    <th>Round Off Total</th>
                                    <!-- <th><button class="btn btn-primary btn-sm mb-2 pb-2 float-right"
                                            (click)="addShipmentRow();calaulateTotal();"><i
                                                class="simple-icon-plus"></i>&nbsp;Add</button></th> -->
                                </thead>
                                <tbody formArrayName="shipmentRequests">
                                    <tr *ngFor="let control of shipmentRequests.controls;let i=index;"
                                        formGroupName="{{i}}">
                                        <td class="font-weight-bold">{{i+1}}</td>
                                        <td>
                                            <span
                                                class="input-group-text font-weight-bold">{{shipmentRequests.controls[i].get('hsnCode').value||'N/A'}}</span>
                                        </td>
                                        <td>
                                            <!-- <span
                                                class="input-group-text font-weight-bold">{{shipmentRequests.controls[i].get('noOfBags').value||'N/A'}}</span> -->
                                            <input type="text" class="form-control inp" placeholder="Enter No Of Bags"
                                                formControlName="noOfBags" (change)="checkVariationsForBags(shipmentRequests.controls[i].get('noOfBags').value,shipmentRequests.controls[i].get('deliveryShipmentId').value,
                                                shipmentRequests.controls[i].get('noOfBags'))" />
                                            <small
                                                *ngIf="shipmentRequests.controls[i].get('noOfBags').hasError('required') &&shipmentRequests.controls[i].get('noOfBags').touched"
                                                class="text-danger float-left">*no of bags is required!</small>
                                            <!-- (change)="checkVariationsForBags(shipmentRequests.controls[i].get('quantity').value,
                                                shipmentRequests.controls[i].get('noOfBags').value,shipmentRequests.controls[i].get('noOfBags'))" -->
                                        </td>
                                        <td>
                                            <span
                                                class="input-group-text font-weight-bold">{{(shipmentRequests.controls[i].get('unitPrice').value|number:'1.2-2':'en-IN')||'0.00'}}/{{pricingUnitCode||'unit'}}</span>
                                        </td>
                                        <td><input type="text" class="form-control inp" placeholder="Enter Quantity"
                                                formControlName="quantity" (keyup)="calculateValue(i)" /><small
                                                *ngIf="shipmentRequests.controls[i].get('quantity').hasError('required') &&shipmentRequests.controls[i].get('quantity').touched"
                                                class="text-danger float-left">*quantity is required!</small>
                                            <!-- checkVariationsForBags(shipmentRequests.controls[i].get('quantity').value,
                                                shipmentRequests.controls[i].get('noOfBags').value,shipmentRequests.controls[i].get('noOfBags')) -->
                                        </td>
                                        <td>
                                            <span
                                                class="input-group-text font-weight-bold">{{shipmentRequests.controls[i].get('shipmentPricingCode').value||'N/A'}}</span>
                                        </td>
                                        <td>
                                            <span
                                                class="input-group-text font-weight-bold">{{(shipmentRequests.controls[i].get('taxableValue').value|number:'1.2-2':'en-IN')||'0.00'}}</span>
                                        </td>
                                        <td>
                                            <span
                                                class="input-group-text font-weight-bold">{{shipmentRequests.controls[i].get('shipmentPackagingCode').value||'N/A'}}</span>
                                        </td>
                                        <td>
                                            <span
                                                class="input-group-text font-weight-bold">{{(shipmentRequests.controls[i].get('taxRate').value|number:'1.2-2':'en-IN')||'0.00'}}</span>
                                        </td>
                                        <td>
                                            <span
                                                class="input-group-text font-weight-bold">{{(shipmentRequests.controls[i].get('taxValue').value|number:'1.2-2':'en-IN')||'0.00'}}</span>
                                        </td>
                                        <td><input type="text" class="form-control inp" placeholder="Enter Other Charge"
                                                formControlName="otherCharge" (keyup)="calculateValue(i)" /><small
                                                *ngIf="shipmentRequests.controls[i].get('otherCharge').hasError('required') &&shipmentRequests.controls[i].get('otherCharge').touched"
                                                class="text-danger float-left">*other charge is required!</small></td>
                                        <td>
                                            <span
                                                class="input-group-text font-weight-bold">{{(shipmentRequests.controls[i].get('totalValue').value|number:'1.2-2':'en-IN')||'0.00'}}</span>
                                        </td>
                                        <td>
                                            <span
                                                class="input-group-text font-weight-bold">{{(shipmentRequests.controls[i].get('roundOffTotal').value|number:'1.2-2':'en-IN')||'0.00'}}</span>
                                        </td>
                                        <!-- <td>
                                            <button class="btn btn-sm btn-danger" [disabled]="i==0"
                                                (click)="removeShipmentRow(i);calaulateTotal();"><i
                                                    class="simple-icon-minus"></i>&nbsp;Remove</button>
                                        </td> -->
                                    </tr>
                                    <tr>
                                        <td colspan="11" class="font-weight-bold text-right">Total</td>
                                        <td class="font-weight-bold">{{(total|number:'1.2-2')||'0.00'}}</td>
                                        <td class="font-weight-bold">{{(roundTotal|number:'1.2-2')||'0.00'}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <span class="text-danger float-left">*</span><b>Invoice Copy</b>
                                        </td>
                                        <td colspan="5">
                                            <input class="form-control inp" type="file"
                                                (change)="setFile(0,1,$event.target.files[0])" />
                                            <small class="text-danger float-left" *ngIf="fileArray[0]==null">*file is
                                                required!</small>
                                        </td>
                                        <td colspan="2">
                                            <b>E-Way Bill</b>
                                        </td>
                                        <td colspan="5">
                                            <input class="form-control inp" type="file"
                                                (change)="setFile(1,2,$event.target.files[0])" />
                                            <!-- <small class="text-danger float-left">*pdf is required!</small> -->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <b>Transport Doc</b>
                                        </td>
                                        <td colspan="5">
                                            <input class="form-control inp" type="file"
                                                (change)="setFile(2,3,$event.target.files[0])" />
                                            <!-- <small class="text-danger float-left">*pdf is required!</small> -->
                                        </td>
                                        <td colspan="2">
                                            <b>Weight Slip</b>
                                        </td>
                                        <td colspan="5">
                                            <input class="form-control inp" type="file"
                                                (change)="setFile(3,4,$event.target.files[0])" />
                                            <!-- <small class="text-danger float-left">*pdf is required!</small> -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <button (click)="showPreview(preview)" class="btn btn-success mt-3 mb-2" type="button"
                            [disabled]="!(form.valid && fileArray[0]!=null)"><i
                                class=" simple-icon-eye"></i>&nbsp;Preview</button>
                    </form>
                </ng-container>
            </div>
        </div>
    </div>
</div>
<simple-notifications></simple-notifications>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="line-scale" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>

<ng-template #preview>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Preview Shipment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide();">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <form [formGroup]="form" (ngSubmit)="addShipmentInformation()">
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-left mb-0 pb-0" style="border-top: none!important;">
                        <tbody>
                            <tr>
                                <td><b>State Name&nbsp;:&nbsp;</b>{{shipmentValue.stateName||'N/A'}}</td>
                                <td><b>Tcn&nbsp;:&nbsp;</b>{{shipmentValue.tcn||'N/A'}}</td>
                                <td><b>Buyer Company
                                        Name&nbsp;:&nbsp;</b>{{shipmentValue.buyerCompanyName||'N/A'}}</td>
                                <td><b>Product Name&nbsp;:&nbsp;</b>{{shipmentValue.productName||'N/A'}}</td>
                            </tr>
                            <tr>
                                <td><b>Sub Product Name&nbsp;:&nbsp;</b>{{shipmentValue.subProductName||'N/A'}}</td>
                                <td><b>Season Year&nbsp;:&nbsp;</b>{{shipmentValue.seasonYear||'N/A'}}</td>
                                <td><b>Seller Company
                                        Name&nbsp;:&nbsp;</b>{{shipmentValue.sellerCompanyName||'N/A'}}
                                </td>
                                <td><b>Allotment No&nbsp;:&nbsp;</b>{{shipmentValue.allotmentNo||'N/A'}}</td>
                            </tr>
                            <tr>
                                <td><b>Seller
                                        Address&nbsp;:&nbsp;</b>{{shipmentValue.sellerAddress||'N/A'}}</td>
                                <td><b>Shipment Address&nbsp;:&nbsp;</b>{{shipmentValue.shipmentAddress||'N/A'}}
                                </td>
                                <td><b>Billing
                                        Address&nbsp;:&nbsp;</b>{{shipmentValue.billingAddress||'N/A'}}</td>
                                <td><b>Buyer Address&nbsp;:&nbsp;</b>{{shipmentValue.buyerAddress||'N/A'}}</td>
                            </tr>
                            <tr>
                                <td><b>Allotment
                                        Date&nbsp;:&nbsp;</b>{{(shipmentValue.allotmentDate|date:'medium')||'N/A'}}
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center mb-0 pb-0">
                        <thead>
                            <th>DeliveryNo</th>
                            <th>ContractNo</th>
                            <th>RegionName</th>
                            <th>ZoneName</th>
                            <th>Quantity</th>
                            <th>UnitName</th>
                            <th>LotNo</th>
                            <th>PartyLotNo</th>
                            <th>StorageLocation</th>
                            <th>PressRunningNo</th>
                            <th>LocationAddress</th>
                            <th>IDCardNo</th>
                            <th>IDCardType</th>
                            <th>AuthorizedPersonInfo</th>
                            <th>StationName</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let object of shipmentViewDetailsList;let i=index;">
                                <td>{{object.deliveryNo||'N/A'}}</td>
                                <td>{{object.contractNo||'N/A'}}</td>
                                <td>{{object.regionName||'N/A'}}</td>
                                <td>{{object.zoneName||'N/A'}}</td>
                                <td>{{object.quantity||'N/A'}}</td>
                                <td>{{object.unitName||'N/A'}}</td>
                                <td>{{object.lotNo||'N/A'}}</td>
                                <td>{{object.partyLotNo||'N/A'}}</td>
                                <td>{{object.storageLocation||'N/A'}}</td>
                                <td>{{object.pressRunningNo||'N/A'}}</td>
                                <td>{{object.locationAddress||'N/A'}}</td>
                                <td>{{object.idcardNo||'N/A'}}</td>
                                <td>{{object.idCardType||'N/A'}}</td>
                                <td>{{object.authorizedPersonInfo||'N/A'}}</td>
                                <td>{{object.stationName||'N/A'}}</td>
                            </tr>
                            <tr *ngIf="shipmentViewDetailsList.length==0">
                                <td colspan="15" class="text-center">No Record Found!</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr>
                <div class="table-responsive">
                    <table class="table table-bordered text-center mb-0 pb-0">
                        <tbody>
                            <tr>
                                <td>
                                    <b>Document ID&nbsp;:&nbsp;</b>{{form.get('documentId').value}}
                                </td>
                                <td>
                                    <b>Vehicle No&nbsp;:&nbsp;</b>{{form.get('vehicleNo').value}}
                                </td>
                                <td>
                                    <b>Transport Doc No&nbsp;:&nbsp;</b>{{form.get('transportDocNo').value}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Document Date&nbsp;:&nbsp;</b>{{form.get('documentDate').value}}
                                </td>
                                <td>
                                    <b>Transport Doc Date&nbsp;:&nbsp;</b>{{form.get('transportDocDate').value}}
                                </td>
                                <td>
                                    <b>Net
                                        Value&nbsp;:&nbsp;</b>{{(form.get('netValue').value|number:'1.2-2':'en-IN')||'0.00'}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered text-center mb-0 pb-0">
                        <thead class="thead-light">
                            <tr>
                                <th>SNo</th>
                                <th>HSN Code</th>
                                <th>No Of Bags</th>
                                <th>Unit Price</th>
                                <th>Quantity</th>
                                <th>Shipment Pricing Code</th>
                                <th>Amount</th>
                                <th>Shipment Packaging Code</th>
                                <th>Tax Rate</th>
                                <th>Tax Value</th>
                                <th>Other Charge</th>
                                <th>Total Value</th>
                                <th>Round Off Total</th>
                            </tr>
                        </thead>
                        <tbody formArrayName="shipmentRequests">
                            <tr *ngFor="let control of shipmentRequests.controls;let i=index;" formGroupName="{{i}}">
                                <td class="font-weight-bold">{{i+1}}</td>
                                <td>
                                    {{shipmentRequests.controls[i].get('hsnCode').value||'N/A'}}
                                </td>
                                <td>
                                    {{shipmentRequests.controls[i].get('noOfBags').value||'N/A'}}
                                </td>
                                <td>
                                    {{(shipmentRequests.controls[i].get('unitPrice').value|number:'1.2-2':'en-IN')||'0.00'}}/{{pricingUnitCode||'unit'}}
                                </td>
                                <td>
                                    {{shipmentRequests.controls[i].get('quantity').value||'N/A'}}
                                </td>
                                <td>
                                    {{shipmentRequests.controls[i].get('shipmentPricingCode').value||'N/A'}}
                                </td>
                                <td>
                                    {{(shipmentRequests.controls[i].get('taxableValue').value|number:'1.2-2':'en-IN')||'0.00'}}
                                </td>
                                <td>
                                    {{shipmentRequests.controls[i].get('shipmentPackagingCode').value||'N/A'}}
                                </td>
                                <td>
                                    {{(shipmentRequests.controls[i].get('taxRate').value|number:'1.2-2':'en-IN')||'0.00'}}
                                </td>
                                <td>
                                    {{(shipmentRequests.controls[i].get('taxValue').value|number:'1.2-2':'en-IN')||'0.00'}}
                                </td>
                                <td>
                                    {{shipmentRequests.controls[i].get('otherCharge').value||'0.00'}}
                                </td>
                                <td>
                                    {{(shipmentRequests.controls[i].get('totalValue').value|number:'1.2-2':'en-IN')||'0.00'}}
                                </td>
                                <td>
                                    {{(shipmentRequests.controls[i].get('roundOffTotal').value|number:'1.2-2':'en-IN')||'0.00'}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="11" class="font-weight-bold text-right">Total</td>
                                <td class="font-weight-bold">{{(total|number:'1.2-2')||'0.00'}}</td>
                                <td class="font-weight-bold">{{(roundTotal|number:'1.2-2')||'0.00'}}</td>
                            </tr>
                            <ng-container *ngFor="let item of fileArray;">
                                <tr *ngIf="item">
                                    <td colspan="13"><i class="simple-icon-paper-clip"></i>&nbsp;{{item.name}}</td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" type="submit"><i class="simple-icon-plus"></i>&nbsp;Generate
                    Shipment</button>
            </div>
        </form>
    </div>
</ng-template>