.table-watchlist{
    height:261px;
}
.table-market{
  height:261px;
}
.graph-body{
    height:313px;
}
#myInput2 {
    /* background-image: url('../../assets/img/searchiconf.png'); */
   
    width: 100%;
    font-size: 14px;
    padding: 12px 20px 12px 40px;
    margin-top: 0px;
    margin-left: 2px;
    color: #080808;
    background-color: white;
    height: 38px;
  }
  .dropdown-menu{
    background-color:white;
    
    }
    div#asset-table {
      width: 133px;
    margin-left: 24px;
    height: 200px;
    overflow-y: auto;
    background-color: white
      
    }
    div#assetP-table[_ngcontent-mwh-c100] {
      /* width: 133px; */
      /* margin-left: 24px; */
      height: 104px;
      overflow-y: auto;
      background-color: white;
  }