<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <app-breadcrumb></app-breadcrumb>
        <div class="separator mb-5"></div>
    </div>
</div>
<div class="row">
    <div class="col-4 mb-3">
        <label for="email">Search Product</label>
        <div class="input-group">

            <input type="text" class="form-control" id="myInput2" (click)="myFunctionP()"
                name="Locationone" (keyup)="filterFunctionP()" [value]="product" placeholder="Search.."
                title="Type in a name">
            <ul class="dropdown-menu space-up" role="menu" id="myDropdownP">
                <div class="table-hight solid" id="assetP-table">
                    <li class="ml-3" *ngFor="let c of SavedProd"><a href="javascript:void(0);"
                            (click)="getProduct(c)" style="color: black;">{{c.ProdName}}</a>
                    </li>

                </div>
            </ul>

        </div>
    </div>
</div>
<div class="row">
 
    <div class="col-9 mb-4">
        <div class="card mb-4">
            <div class="card-body">
                <div class="table-responsive shadow-sm bg-white rounded">
                    <table class="table text-center table-hover mb-0 pb-0" id="bank-record">
                        <thead class="thead-dark">
                            <tr>
                                <th>PRODUCT NAME</th>
                                <th>SUB PRODUCT NAME</th>
                                <th>VARIETY NAME</th>
                                <th>PRODUCT STATION</th>
                                <th>BID QUANTITY/UNIT</th>
                                <th>BID PRICE</th>
                                <th>ASK QUANTITY/UNIT</th>
                                <th>ASK PRICE</th>
                                <th>CTP</th>
                                <th>LTP</th>
                                <th>VOLUME</th>
                                <th>ROC</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let watch of watchlist;let i=index">

                                <td>{{watch.productName|| 'N/A'}}</td>
                                <td>{{watch.subProductName|| 'N/A'}}</td>
                                <td>{{watch.varietyName|| 'N/A'}}</td>
                                <!-- <td>{{watch.grade|| 'N/A'}}</td> -->
                                <td>{{watch.productStation|| 'N/A'}}</td>
                                <td>{{watch.bidQuantity|| 'N/A'}} {{watch.bidUnit}}</td>
                                <td>{{watch.bidPrice|| 'N/A'}}</td>
                                <td>{{watch.askQuantity}} {{watch.askUnit}}</td>
                                <td>{{watch.askPrice|| 'N/A'}}</td>
                                <td>{{watch.ctp|| 'N/A'}}</td>
                                <td>{{watch.ltp|| 'N/A'}}</td>
                                <td>{{watch.volume|| 'N/A'}}</td>
                                <td>{{watch.roc|| 'N/A'}}</td>
                                <!-- <td><button class="btn btn-primary"
                                        (click)="OpenEditmodal(editorderModal,order.orderId,order.price,order.currentQuantity)">Edit</button></td> -->

                            </tr>
                            <tr *ngIf="watchlist==null"><td colspan="9">No Record Found!</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3 mb-4">
        <div class="card mb-4">
            <!-- <div class="card-body"> -->
                <div class="graph-body">
                    <div style="display: block;">
                        <canvas baseChart height="300"
                          [datasets]="barChartData"
                          [labels]="barChartLabels"
                          [options]="barChartOptions"
                          [plugins]="barChartPlugins"
                          [legend]="barChartLegend"
                          [chartType]="barChartType">
                        </canvas>
                      </div>
                </div>
            <!-- </div> -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-9 mb-4">
        <div class="card mb-4">
            <div class="card-body">
                <div class="table-responsive shadow-sm bg-white rounded">
                    <table class="table text-center table-hover mb-0 pb-0" id="bank-record">
                        <thead class="thead-dark">
                            <tr>
                                <th>PRODUCT NAME</th>
                                <th>SUB PRODUCT NAME</th>
                                <th>PRICE/UNIT</th>
                                <th>QUANTITY/UNIT</th>
                                <th>ORDER TYPE</th>
                                <th>TRADE DATE</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let market of marketdata;let i=index">
                                <td>{{market.productName|| 'N/A'}}</td>
                                <td>{{market.subProductName|| 'N/A'}}</td>
                                <td>{{market.tradePrice|| 'N/A'}} {{market.tradePriceUnit}}</td>
                                <td>{{market.tradeQuantity|| 'N/A'}} {{market.tradeQuantityUnit}}</td>
                                <th *ngIf="market.orderType==1" style="color:green;">BUY</th>
                                <th *ngIf="market.orderType==2" style="color:red;">SELL</th>
                                <td>{{market.tradeTimestamp|date:'medium'}}</td>
                               </tr>
                            <!-- <tr *ngIf="OpenOrder.length==0">No record found</tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3 mb-4">
        <div class="card mb-4">
            <div class="card-body">
                <h4 class="" style="color: blue;">Product Description</h4>
                <h5>Basmati rice is a type of white <br>
                    rice commonly grown in the Himalayas, India, <br>
                    and Pakistan—with India producing about two-thirds<br>
                    of the world's supply. It is a long-grain rice .<br>
                  
                </h5>
            </div>
        </div>
    </div>
    <!-- <div class="col-4 mb-4">
        <div class="card mb-4">
            <div class="card-body">
                <div class="table-wd table-responsive">
                    <table class="table table-hover" id="bank-record">
                        <thead>
                            <tr>
                                <th></th>
                                <th>COMPANY NAME</th>
                                <th>PRODUCT NAME</th>
                                <th>SUB PRODUCT NAME</th>
                                <th>VARIETY NAME</th>
                                <th>PRICE</th>
                                <th>QUANTITY</th>
                                <th>PAYMENT MODE</th>
                                <th>ORDER DATE</th>
                                <th>ORDER TYPE</th>
                                <th>BID COUNT</th>
                                <th>HARVESTED MONTH YEAR</th>
                             

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let order of Orderdata;let i=index">
                                <td>{{i+1}}</td>
                                <td
                                    (click)="OpenEditmodal(editorderModal,order.orderId,order.price,order.currentQuantity,order.orderType)">
                                    {{order.companyName|| 'N/A'}}</td>
                                <td
                                    (click)="OpenEditmodal(editorderModal,order.orderId,order.price,order.currentQuantity,order.orderType)">
                                    {{order.productName|| 'N/A'}}</td>
                                <td
                                    (click)="OpenEditmodal(editorderModal,order.orderId,order.price,order.currentQuantity,order.orderType)">
                                    {{order.subProductName|| 'N/A'}}</td>
                                <td
                                    (click)="OpenEditmodal(editorderModal,order.orderId,order.price,order.currentQuantity,order.orderType)">
                                    {{order.varietyName|| 'N/A'}}</td>
                                <td
                                    (click)="OpenEditmodal(editorderModal,order.orderId,order.price,order.currentQuantity,order.orderType)">
                                    {{order.price|| 'N/A'}}</td>
                                <td
                                    (click)="OpenEditmodal(editorderModal,order.orderId,order.price,order.currentQuantity,order.orderType)">
                                    {{order.currentQuantity|| 'N/A'}}</td>
                                <td
                                    (click)="OpenEditmodal(editorderModal,order.orderId,order.price,order.currentQuantity,order.orderType)">
                                    {{order.paymentMode|| 'N/A'}}</td>
                                <td
                                    (click)="OpenEditmodal(editorderModal,order.orderId,order.price,order.currentQuantity,order.orderType)">
                                    {{order.orderDate|| 'N/A'}}</td>
                                <td *ngIf="order.orderType==1"
                                    (click)="OpenEditmodal(editorderModal,order.orderId,order.price,order.currentQuantity,order.orderType)">
                                    BUY</td>
                                <td *ngIf="order.orderType==2"
                                    (click)="OpenEditmodal(editorderModal,order.orderId,order.price,order.currentQuantity,order.orderType)">
                                    SELL</td>
                                <td
                                    (click)="OpenEditmodal(editorderModal,order.orderId,order.price,order.currentQuantity)">
                                    {{order.bidCount|| 'N/A'}}</td>
                                <td
                                    (click)="OpenEditmodal(editorderModal,order.orderId,order.price,order.currentQuantity)">
                                    {{order.harvestedMonthYear|| 'N/A'}}</td>
                            

                            </tr>
                            <tr *ngIf="OpenOrder.length==0">No record found</tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> -->
</div>
<simple-notifications></simple-notifications>

<ng-template #editorderModal>
    <div class="modal-content" style="overflow-x: hidden;">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel" *ngIf="orderType==1">ASK</h5>
            <h5 class="modal-title" id="exampleModalLabel" *ngIf="orderType==2">BID</h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="editOrderForm" [formGroup]="editOrderForm" (ngSubmit)="Editorder(editOrderForm)">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="accountHolderName">Price</label>

                        <input type="number" name="Orderprice" required class="form-control" id="price"
                            placeholder="Account Holder Name" formControlName="Orderprice">
                        <div class="invalid-tooltip"
                            *ngIf="editOrderForm.get('Orderprice').hasError('required') && editOrderForm.get('Orderprice').touched">
                            Price is required!</div>

                    </div>
                    <div class="form-group col-md-6">
                        <label for="Orderprice">Quantity</label>
                        <input type="number" name="OrderQuantity" required class="form-control" id="OrderQuantity"
                            placeholder="Quantity" formControlName="OrderQuantity">

                        <div class="invalid-tooltip"
                            *ngIf="editOrderForm.get('OrderQuantity').hasError('required') && editOrderForm.get('OrderQuantity').touched">
                            Quantity is required!</div>
                        <div class="invalid-tooltip"
                            *ngIf="editOrderForm.get('OrderQuantity').invalid && editOrderForm.get('OrderQuantity').touched">
                            Please input valid quantity!</div>
                    </div>
                </div>

                <div class="form-row">

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" [disabled]="!editOrderForm.valid">Place Order</button>
                </div>
            </form>
        </div>
    </div>
</ng-template>