<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <app-breadcrumb></app-breadcrumb>
        <div class="separator mb-5"></div>
    </div>
</div>
<div class="row">
    <div class="col-12 mb-4">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-md-4">
                        <label for="dateRange"><b>Select Date
                                Range</b></label>
                        <input placeholder="Select Date Range" style="background-color: white;" readonly
                            class="form-control inp mt-1" #drp="bsDaterangepicker" bsDaterangepicker
                            [container]="'html'" [ngModel]="bsRangeValue"
                            [bsConfig]="{ ranges: ranges,rangeInputFormat : 'DD-MM-YYYY', dateInputFormat: 'DD-MM-YYYY'}"
                            (ngModelChange)="bsRangeValue=$event;getSelectionTcn();viewAllSelectionDetails(1);" />
                    </div>
                    <div class="col-md-4">
                        <label for="state"><b>Select Product</b></label>
                        <select class="form-control inp" name="state" [(ngModel)]="productId"
                            (change)="GetAllSubProducts($event.target.value);getSelectionTcn();viewAllSelectionDetails(1);">
                            <option value="0" disabled>Select Product</option>
                            <option *ngFor="let product of productList;" [value]="product.productId">
                                {{product.productName}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="state"><b>Select Sub Product</b></label>
                        <select class="form-control inp" name="state" [(ngModel)]="subProductId"
                            (change)="getSelectionTcn();viewAllSelectionDetails(1);getSeason();">
                            <option value="0" disabled>Select Sub Product</option>
                            <option *ngFor="let product of subProductList;" [value]="product.subProductId">
                                {{product.subProductName}}
                            </option>
                        </select>
                    </div>
                    <!-- <div class="col-md-3">
                        <label for="state"><b>Select Season</b></label>
                        <select class="form-control inp" name="state" [(ngModel)]="seasonId"
                            (change)="viewAllSelectionDetails(1);getSelectionTcn();">
                            <option value="0" disabled>Select Season</option>
                            <option *ngFor="let season of seasonList;" [value]="season.season_id">
                                {{season.season_year}}
                        </select>
                    </div> -->
                </div>
                <div class="row mt-4">
                    <div class="col-md-4">
                        <label for="state"><b>Select State</b></label>
                        <select class="form-control inp" name="state" [(ngModel)]="stateId"
                            (change)="getSelectionTcn();viewAllSelectionDetails(1);getRDCList($event.target.value,'region');">
                            <option value="0" disabled>Select State</option>
                            <option [value]="state.stateId" *ngFor="let state of stateList">{{state.stateName}}</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="company"><b>Search Company</b></label>
                        <input id="searchBar" (typeaheadOnSelect)="onSelect($event);getSelectionTcn();"
                            typeaheadWaitMs="500" [isAnimated]="true" [typeaheadScrollable]="true" [ngModel]="search"
                            (ngModelChange)="buyerCompanyId=0;sellerCompanyId=0;search=$event;getSelectionTcn();"
                            typeaheadOptionField="companyName" [typeahead]="suggestions$" [typeaheadAsync]="true"
                            class="form-control inp mt-1" placeholder="Enter Company Name">
                        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
                            {{ errorMessage }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="tnc"><b>Select TCN</b></label>
                        <select class="form-control inp" name="tcn" [(ngModel)]="tncId"
                            (change)="viewAllSelectionDetails(1);">
                            <option value="" disabled>Select TCN</option>
                            <option [value]="tcn.tcn" *ngFor="let tcn of tcnList;">{{tcn.tcn}}</option>
                        </select>
                    </div>
                </div>
                <!-- <hr /> -->
                <div class="row mt-3 mb-3">
                    <div class="col-md-12">
                        <div class="table-responsive mt-0 pt-0 mb-0 pb-0">
                            <table class="table table-borderless mb-0 pb-0">
                                <tbody>
                                    <tr>
                                        <td><b>Product Name&nbsp;:&nbsp;</b>{{selectionValue.productName||'N/A'}}</td>
                                        <td><b>Sub Product Name&nbsp;:&nbsp;</b>{{selectionValue.subProductName||'N/A'}}
                                        </td>
                                        <td><b>Buyer Name&nbsp;:&nbsp;</b>{{selectionValue.buyerCompanyName||'N/A'}}
                                        </td>
                                        <td><b>Seller Name&nbsp;:&nbsp;</b>{{selectionValue.sellerCompanyName||'N/A'}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>TCN&nbsp;:&nbsp;</b>{{selectionValue.tcnNo||'N/A'}}</td>
                                        <td><b>Trade
                                                Timestamp&nbsp;:&nbsp;</b>{{(selectionValue.tradeTimeStamp|date:'medium')||'N/A'}}
                                        </td>
                                        <td><b>Location&nbsp;:&nbsp;</b>{{selectionValue.location||'N/A'}}</td>
                                        <td><b>Allotment No&nbsp;:&nbsp;</b>{{selectionValue.allotmentNo||'N/A'}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Trade
                                                Rate&nbsp;:&nbsp;</b>{{selectionValue.tradeRate!=null?selectionValue.tradeRate:'N/A'}}
                                        </td>
                                        <td><b>Trade
                                                Qty&nbsp;:&nbsp;</b>{{selectionValue.tradeQuantity!=null?selectionValue.tradeQuantity:'N/A'}}
                                        </td>
                                        <td><b>Pending
                                                Qty&nbsp;:&nbsp;</b>{{selectionValue.pendingQuantity!=null?selectionValue.pendingQuantity:'N/A'}}
                                        </td>
                                        <td><button *ngIf="selectionValue!=null && selectionList.length>0"
                                                class="btn btn-sm btn-primary" (click)="printPdf()"><i
                                                    class="iconsminds-download"></i>&nbsp;DOWNLOAD</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- <hr /> -->
                <!-- <button class="btn btn-primary btn-sm float-right mb-2 pb-2" (click)="openAddModal(addModal)"
                    [disabled]="allotmentNo==null"><i class="simple-icon-plus"></i>&nbsp;Add</button> -->
                <div class="table-responsive shadow-sm bg-white rounded">
                    <table class="table text-center table-hover mb-0 pb-0">
                        <thead class="thead-dark">
                            <tr>
                                <th>State Name</th>
                                <th>Region Name</th>
                                <th>District Name</th>
                                <th>City Name</th>
                                <th>Quantity</th>
                                <th>Lot No</th>
                                <th>Party Lot No</th>
                                <!-- <th>Pr No</th> -->
                                <th>Storage Location</th>
                                <!-- <th>Unit Name</th> -->
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let object of selectionList;let i=index;">
                                <td>{{object.stateName||'N/A'}}</td>
                                <td>{{object.regionName||'N/A'}}</td>
                                <td>{{object.districtName||'N/A'}}</td>
                                <td>{{object.cityName||'N/A'}}</td>
                                <td>{{object.quantity}}&nbsp;{{object.unitName||'Unit'}}</td>
                                <td>{{object.lotNo||'N/A'}}</td>
                                <td>{{object.partyLotNo||'N/A'}}</td>
                                <!-- <td>{{object.prNo||'N/A'}}</td> -->
                                <td>{{object.storageLocation||'N/A'}}</td>
                                <!-- <td>{{object.unitName||'N/A'}}</td> -->
                                <td>
                                    <h6 *ngIf="object.status==0">
                                        <span class="badge badge-info">{{object.allotedStatus||'N/A'}}</span>
                                    </h6>
                                    <h6 *ngIf="object.status==1">
                                        <span class="badge badge-success">{{object.allotedStatus||'N/A'}}</span>
                                    </h6>
                                    <h6 *ngIf="object.status==2">
                                        <span class="badge badge-danger">{{object.allotedStatus||'N/A'}}</span>
                                    </h6>
                                    <h6 *ngIf="object.status==3">
                                        <span class="badge badge-warning">{{object.allotedStatus||'N/A'}}</span>
                                    </h6>
                                    <h6 *ngIf="object.status==4">
                                        <span class="badge badge-info">{{object.allotedStatus||'N/A'}}</span>
                                    </h6>
                                    <h6 *ngIf="object.status==5">
                                        <span class="badge badge-info">{{object.allotedStatus||'N/A'}}</span>
                                    </h6>
                                </td>
                                <td>
                                    <b *ngIf="object.status==1||object.status==4||object.status==5">-</b>
                                    <button *ngIf="(object.status==0||object.status==2||object.status==3)"
                                        class="btn btn-warning btn-sm" (click)="openModal(updateModal,object)"><i
                                            class="simple-icon-pencil"></i>&nbsp;edit</button>
                                </td>
                            </tr>
                            <tr *ngIf="selectionList.length==0">
                                <td colspan="10" class="text-center">No Record Found!</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- <div class="row mt-3 pt-3">
                    <div class="col-12">
                        <pagination [totalItems]="totalCount" [itemsPerPage]="pageSize" [rotate]="true" [maxSize]="3"
                            [(ngModel)]="pageNo" (pageChanged)="viewAllSelectionDetails($event.page)"
                            class="justify-content-center float-right" [customNextTemplate]="nextTemplate"
                            [customPreviousTemplate]="prevTemplate">
                        </pagination>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
<simple-notifications></simple-notifications>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="line-scale" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>

<ng-template #nextTemplate let-disabled="disabled" let-currentPage="pageNo">
    <i class='simple-icon-arrow-right'></i>
</ng-template>

<ng-template #prevTemplate let-disabled="disabled" let-currentPage="pageNo">
    <i class='simple-icon-arrow-left'></i>
</ng-template>

<ng-template #updateModal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Update Allotment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <form [formGroup]="updateForm" (ngSubmit)="updateSelectionDetails(updateForm)">
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="regionId"><small class="text-danger">*</small><b>Region</b></label>
                        <select *ngIf="!isRegionFound" class="form-control inp" formControlName="regionId"
                            name="regionId">
                            <option value="" disabled>Select Region</option>
                            <option *ngFor="let reg of regionList" value="{{reg.regionId}}">
                                {{reg.regionName}}</option>
                        </select>
                        <select *ngIf="isRegionFound" class="form-control inp" formControlName="regionId"
                            name="regionId"
                            (change)="getRDCList($event.target.value,'district');updateForm.get('districtId').setValue('');updateForm.get('cityId').setValue('')">
                            <option value="" disabled>Select Region</option>
                            <option *ngFor="let reg of regionList" value="{{reg.regionId}}">
                                {{reg.regionName}}</option>
                        </select>
                        <div class="alert alert-danger m-0 p-0" *ngIf="updateForm.get('regionId').hasError('required') && 
                        updateForm.get('regionId').touched">*region is required!</div>
                    </div>
                    <div class="col-md-6">
                        <label for="districtId"><small class="text-danger">*</small><b>Distric Zone</b></label>
                        <select class="form-control inp" formControlName="districtId" name="districtId"
                            (change)="getRDCList($event.target.value,'city');updateForm.get('cityId').setValue('');">
                            <option value="" disabled>Select Zone</option>
                            <ng-container *ngIf="!isRegionFound">
                                <option *ngFor="let district of districtList" value="{{district.districtId}}">
                                    {{district.districtName}}</option>
                            </ng-container>
                            <ng-container *ngIf="isRegionFound">
                                <option *ngFor="let district of districtList" value="{{district.districtId}}">
                                    {{district.districtName}}</option>
                            </ng-container>
                        </select>
                        <div class="alert alert-danger m-0 p-0" *ngIf="updateForm.get('districtId').hasError('required') && 
                    updateForm.get('districtId').touched">*district is required!</div>
                    </div>
                </div>
                <!-- <div class="form-group">
                    <label for="districtId"><small class="text-danger">*</small>Distric Zone</label>
                    <select class="form-control" formControlName="districtId" name="districtId"
                        (change)="getRDCList($event.target.value,'city');updateForm.get('cityId').setValue('');">
                        <option value="" disabled>Select Zone</option>
                        <ng-container *ngIf="!isRegionFound">
                            <option *ngFor="let district of districtList" value="{{district.districtId}}">
                                {{district.districtName}}</option>
                        </ng-container>
                        <ng-container *ngIf="isRegionFound">
                            <option *ngFor="let district of districtList" value="{{district.districtId}}">
                                {{district.districtName}}</option>
                        </ng-container>
                    </select>
                    <small class="text-danger float-left" *ngIf="updateForm.get('districtId').hasError('required') && 
                    updateForm.get('districtId').touched">*district is required!</small>
                </div> -->
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="cityId"><small class="text-danger">*</small><b>City</b></label>
                        <select class="form-control inp" formControlName="cityId" name="cityId">
                            <option value="" disabled>Select City</option>
                            <option *ngFor="let city of cityList" value="{{city.cityId}}">
                                {{city.cityName}}</option>
                        </select>
                        <div class="alert alert-danger m-0 p-0" *ngIf="updateForm.get('cityId').hasError('required') && 
                    updateForm.get('cityId').touched">*city is required!</div>
                    </div>
                    <div class="col-md-6">
                        <label for="quantity"><small class="text-danger">*</small><b>Quantity</b></label>
                        <input type="text" class="form-control inp" formControlName="quantity"
                            placeholder="Enter Quantity" name="quantity" />
                        <div class="alert alert-danger m-0 p-0" *ngIf="updateForm.get('quantity').hasError('required') && 
                        updateForm.get('quantity').touched">*quantity is required!</div>
                    </div>
                </div>
                <!-- <div class="form-group">
                    <label for="quantity"><small class="text-danger">*</small>Quantity</label>
                    <input type="text" class="form-control" formControlName="quantity" placeholder="Enter Quantity"
                        name="quantity" />
                    <small class="text-danger float-left" *ngIf="updateForm.get('quantity').hasError('required') && 
                        updateForm.get('quantity').touched">*quantity is required!</small>
                </div> -->
                <div class="form-group row">
                    <div class="col-md-6">
                        <label for="lotNo"><small class="text-danger">*</small><b>Lot No</b></label>
                        <input type="text" class="form-control inp" formControlName="lotNo" placeholder="Enter Lot No"
                            name="lotNo" />
                        <div class="alert alert-danger m-0 p-0" *ngIf="updateForm.get('lotNo').hasError('required') && 
                                        updateForm.get('lotNo').touched">*lotNo is required!</div>
                    </div>
                    <div class="col-md-6">
                        <label for="partyLotNo"><small class="text-danger">*</small><b>Party Lot No</b></label>
                        <input type="text" class="form-control inp" formControlName="partyLotNo"
                            placeholder="Enter Party Lot No"
                            (change)="updateForm.get('prNo').setValue(updateForm.get('partyLotNo').value+'-')" />
                        <div class="alert alert-danger m-0 p-0" *ngIf="updateForm.get('partyLotNo').hasError('required') && 
                        updateForm.get('partyLotNo').touched">*party lot no is required!</div>
                    </div>
                </div>
                <!-- <div class="form-group" *ngIf="productId == 1 && subProductId == 185">
                    <label for="partyLotNo"><small class="text-danger">*</small>Party Lot No</label>
                    <input type="text" class="form-control" formControlName="partyLotNo"
                        placeholder="Enter Party Lot No"
                        (change)="updateForm.get('prNo').setValue(updateForm.get('partyLotNo').value+'-')" />
                    <small class="text-danger float-left" *ngIf="updateForm.get('partyLotNo').hasError('required') && 
                    updateForm.get('partyLotNo').touched">*party lot no is required!</small>
                </div> -->
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="productUnit"><small class="text-danger">*</small><b>Product Unit</b></label>
                        <span class="input-group-text font-weight-bold inp"
                            name="productUnit">{{(productUnit!=null?productUnit.quantityUnitCode:0)||'N/A'}}</span>
                    </div>
                    <div class="col-md-6">
                        <label for="storageLocation"><small class="text-danger">*</small><b>Storage Location</b></label>
                        <input type="text" class="form-control inp" formControlName="storageLocation"
                            placeholder="Enter Storage Location" name="storageLocation" />
                        <div class="alert alert-danger m-0 p-0" *ngIf="updateForm.get('storageLocation').hasError('required') && 
                            updateForm.get('storageLocation').touched">*storageLocation is required!</div>
                    </div>
                </div>
                <!-- <div class="form-group" *ngIf="productId == 1 && subProductId == 185">
                    <label for="prNo"><small class="text-danger">*</small>PR No</label>
                    <input type="text" class="form-control" formControlName="prNo" placeholder="Enter PR No"
                        name="prNo" />
                    <small class="text-danger float-left" *ngIf="updateForm.get('prNo').hasError('required') && 
                        updateForm.get('prNo').touched">*pr no is required!</small>
                </div> -->
            </div>
            <div class="modal-footer justify-content-center">
                <button type="submit" class="btn btn-success" [disabled]="!updateForm.valid"><i
                        class="simple-icon-check"></i>&nbsp;Update</button>
            </div>
        </form>
    </div>
</ng-template>