<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <app-breadcrumb></app-breadcrumb>
        <!-- <span class="float-right">
            <button (click)="openEditBankModal(editBankModal)"
             class="btn btn-primary btn-sm"><i class="simple-icon-pencil"></i>
            edit</button>
        </span> -->
        <div class="separator mb-5"></div>
    </div>
</div>
<div class="row">
    <div class="col-12 mb-4">
        <div class="card mb-4">
            <div class="card-body">
                <form #bankInfoForm="ngForm"  (ngSubmit)="showOtpModal(template)">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="accountName">Account Holder Name</label>
                        <input type="text" name="accountName" pattern="^[a-zA-Z ]{2,30}$"  class="form-control" required  [(ngModel)]="accHoldername"  ngModel id="accountName" #accountName="ngModel"
                            placeholder="Account Holder Name" [value]="bankinginfo.accountHolderName" [disabled]="flag">
                            <div *ngIf="!accountName && bankInfoForm.submitted" class="invalid-tooltip">Name is required!</div>
                            <div *ngIf="accountName.dirty&&accountName.invalid" class="invalid-tooltip">Please input valid holder name!</div>

                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="accountNumber">Account Number</label>
                        <input type="text" name="accountNumber" class="form-control" pattern="[0-9]{10,20}" maxlength="20" required  id="accountNumber" [(ngModel)]="accountNo" required ngModel #accountNumber="ngModel"
                            placeholder="Account Number" [value]="bankinginfo.accountNumber"  [disabled]="flag">
                            <div *ngIf="!accountNumber && bankInfoForm.submitted" class="invalid-tooltip">Account no is required!</div>
                            <div *ngIf="accountNumber.dirty&&accountNumber.invalid" class="invalid-tooltip">Please input valid account number!</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="bankName">Bank Name</label>
                        <input type="text" name="bankName" class="form-control"   pattern="^((?![\\^!@#$*~ <>?]).)((?![\\^!@#$*~<>?]).){0,73}((?![\\^!@#$*~ <>?]).)$" required id="bankName" ngModel  [(ngModel)]="BankName" placeholder="Bank Name" #bankName="ngModel"
                            [value]="bankinginfo.bankName" [disabled]="flag">
                            <div *ngIf="!bankName && bankInfoForm.submitted" class="invalid-tooltip">Bank Name is required!</div>
                            <div *ngIf="bankName.dirty&&bankName.invalid" class="invalid-tooltip">Please input valid bank name!</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="bankBranchAddress">Bank Branch Name</label>
                        <input type="text" name="bankBranchName" class="form-control" required ngModel id="bankBranchName" pattern="^[#./0-9a-zA-Z\s,-]+$"  [(ngModel)]="branchname" #bankBranchName="ngModel"
                            placeholder="Bank Branch Name" [value]="bankinginfo.branchname" [disabled]="flag">
                            <div *ngIf="!bankBranchName && bankInfoForm.submitted" class="invalid-tooltip">Bank Branch address is required!</div>
                            <div *ngIf="bankBranchName.dirty&&bankBranchName.invalid" class="invalid-tooltip">Please input valid branch address!</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="bankBranchAddress">Bank Branch Address</label>
                        <input type="text" name="bankBranchAddress" class="form-control" required ngModel id="bankBranchAddress" pattern="^[#./0-9a-zA-Z\s,-]+$"  [(ngModel)]="branchAddress" #bankBranchAddress="ngModel"
                            placeholder="Bank Branch Address" [value]="bankinginfo.branchAddress" [disabled]="flag">
                            <div *ngIf="!bankBranchAddress && bankInfoForm.submitted" class="invalid-tooltip">Bank Branch address is required!</div>
                            <div *ngIf="bankBranchAddress.dirty&&bankBranchAddress.invalid" class="invalid-tooltip">Please input valid branch address!</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="ifscCode">IFSC Code</label>
                        <input type="text" name="ifscCode" class="form-control" pattern="^[A-Z]{4}0[A-Z0-9]{6}$" id="ifscCode" required  [(ngModel)]="IfcCode" ngModel placeholder="IFSC Code"   #ifscCode="ngModel"
                            [value]="bankinginfo.ifscCode" [disabled]="flag">
                            <div *ngIf="!ifscCode && bankInfoForm.submitted" class="invalid-tooltip">Ifc Code is required!</div>
                            <div *ngIf="ifscCode.dirty&&ifscCode.invalid" class="invalid-tooltip">Please input valid ifsc code!</div>
                    </div>
                </div>
                <!-- <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="ifscCode">Upload Lob </label> -->
                        <!-- <input type="file" name="lobfile" class="form-control" id="lobfile" placeholder="Upload file" (change)="CheckUploadfile($event)"
                            [value]="bankinginfo.lobfile" [disabled]="flagforAccnoChange">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" (click)="ImageUpload()" >Upload</button>
                            </div> -->
                            <!-- <label for="profileImage">Add Image</label> -->
                            <!-- <div class="input-group">
                                <input type="file" class="form-control profileImg"  (change)="CheckUploadfile($event)" [disabled]="flag"  name="lobfile" placeholder="lob file">
                                <div class="invalid-tooltip" *ngIf="imagecheck">Image is required!</div>
                                <div class="invalid-tooltip"  *ngIf="imgsizecheck">Upload valid document with in 1 MB
                                    (pdf,.doc,.docx)!</div>
                                   
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button" [disabled]="flag" (click)="ImageUpload()" >Upload</button>
                                    
                                </div>
                                <div class="col-md-12">Lob is required if bank number has been changed .</div>
                            </div>
                    </div> -->

                    <!-- <small class="text-danger invalid-tooltip" *ngIf="imgsizecheck">Upload valid document with in 1 MB
                        (pdf,.doc,.docx)</small> -->
                  
                <!-- </div> -->
                <!-- <div class="form-row">
                    <div class="form-group col-md-12">
                        <button type="button" class="btn btn-outline-primary" 
                            (click)="makeEditable()">Edit
                            Details</button>&nbsp;&nbsp;
                        <button type="submit" class="btn btn-primary"  [disabled]="flag" >Update</button>
                    </div>
                </div> -->
                </form>
            </div>
        </div>
    </div>
</div>
<simple-notifications></simple-notifications>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="line-scale" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<ng-template #template>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Validate OTP</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="otp">OTP</label>
                <input type="text" name="otp" class="form-control" placeholder="Enter OTP" [(ngModel)]="otp" />
                <div class="invalid-tooltip" *ngIf="false">OTP is required!</div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="UpdatebankInfo()">Validate</button>
        </div>
    </div>
</ng-template>

<ng-template #editBankModal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Bank</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="bankForm">
                <div class="row p-2">
                    <div class="col-md-6">
                        <label><span class="text-danger">*</span><b>Account No</b></label>
                        <input type="text" class="form-control" placeholder="Enter Account No"
                            formControlName="accountNo"/>
                        <div *ngIf="(bankForm.get('accountNo')?.errors?.required&&bankForm.get('accountNo').touched)"
                            class="invalid-tooltip">Account No is required!</div>
                    </div>
                    <div class="col-md-6">
                        <label><span class="text-danger">*</span><b>IFSC</b></label>
                        <input type="text" class="form-control" placeholder="Enter IFSC"
                            formControlName="ifscCode" />
                        <div *ngIf="(bankForm.get('ifscCode')?.errors?.required&&bankForm.get('ifscCode').touched)"
                            class="invalid-tooltip">IFSC is required!</div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="editBank()"><i class="simple-icon-check"></i>&nbsp;update</button>
        </div>
        <simple-notifications></simple-notifications>
    </div>
</ng-template>