<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <app-breadcrumb></app-breadcrumb>
        <!-- [disabled]="companyflag" -->
        <span class="float-right">
            <button (click)="openAddBranchModal(addBranch)"
             class="btn btn-success btn-md"><i class="simple-icon-plus"></i>
            Company Branch</button>
        </span>
        <div class="separator mb-5"></div>
    </div>
</div>

<div class="row">
    <div class="col-12 mb-4">
        <div class="card mb-4">
            <div class="card-body mt-0 pt-0">
                <!-- <div class="row mb-2">
                    <div class="col-12" >
                        <span class="float-right"><button (click)="addCompanyDetailsModal(addCompanyModal)"
                                [disabled]="companyflag" class="btn btn-primary btn-md"><i class="simple-icon-plus"></i>
                                Company Branch</button></span>
                    </div>
                </div> -->
                <div class="table-responsive shadow-sm bg-white rounded mt-4">
                <table class="table text-center table-hover mb-0 pb-0" id="bank-tbl">
                    <thead class="thead-dark">
                        <tr><th>Sl No</th>
                            <th>GSTIN</th>                                                      
                            <th>GstinNo Issuance Date</th>
                            <th>Contact No</th>
                            <th>AddressLineOne</th>
                            <th>AddressLineTwo</th>
                            <th>City</th>
                            <th>District</th>
                            <th>State</th>
                            <th>Pincode</th>
                            <th>Country</th>                                                                                                            
                            <!-- <th>Action</th> -->
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let company of companylocationList; let i=index;">
                            <!-- <td *ngIf="bankDetail.primaryBankFlag=='1'"><input type="radio" (click)="makedefaultalert(alertBankModal,bankDetail.companyBankId)" checked="checked"></td>
                            <td *ngIf="bankDetail.primaryBankFlag!='1'"><input type="radio" (click)="makedefaultalert(alertBankModal,bankDetail.companyBankId)"></td> -->
                            <td>{{i+1}}</td>
                            <td class="font-weight-bold">{{company.gstinNo || 'N/A'}}</td>
                            <td>{{company.gstIssuanceDate || 'N/A'}}</td>
                            <td>{{company.contractNo || 'N/A'}}</td>   
                            <td>{{company.addressLineOne || 'N/A'}}</td>
                            <td>{{company.addressLineTwo || 'N/A'}}</td>
                            <td>{{company.cityName || 'N/A'}}</td>
                            <td>{{company.districtName || 'N/A'}}</td>
                            <td>{{company.stateName || 'N/A'}}</td>
                            <td>{{company.pinCode || 'N/A'}}</td>
                            <td>{{company.countryName || 'N/A'}}</td>                                                                                                                                                                                                                
                            <!-- <td>
                            </td> -->
                            <td>
                                <!-- <button class="btn btn-warning btn-xs"
                                    (click)="EditComhModal(i,editCompanyModal)"><i class="simple-icon-pencil"></i>
                                    edit</button>&nbsp; -->
                                <button class="btn btn-danger btn-xs"
                                (click)="DeletealertModal(alertDeleteBankModal,company.comBranchId)"><i class="simple-icon-minus"></i>
                                delete</button>
                            </td>
                        </tr>
                        <tr *ngIf="companylocationList==null||companylocationList.length==0">
                            <td colspan="12" >No Record Found!</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="line-scale" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<ng-template #addCompanyModal style="height: 650px;overflow-x: hidden;">
    <div class="modal-content" height="400px" style="height: 650px;overflow-x: hidden;">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Company Branch</h5>
          
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="addCompanyBranchForm" [formGroup]="addCompanyBranchForm">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="accountHolderName">Addressline 1</label>
                        <input type="text" name="addresslineone" required class="form-control" id="addresslineone"  pattern="^[#./0-9a-zA-Z\s,-]+$"
                            placeholder="Addressline one" formControlName="addresslineone" [value]="addCompanyBranchForm.addresslinetwo"
                          >
                        <div class="invalid-tooltip"
                            *ngIf="addCompanyBranchForm.get('addresslineone').hasError('required') && addCompanyBranchForm.get('addresslineone').touched">
                            addressline One is required!</div>
                            <div class="invalid-tooltip"
                            *ngIf="addCompanyBranchForm.get('addresslineone').invalid && addCompanyBranchForm.get('addresslineone').touched">
                           Enter valid address!</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="accountNo">Addressline 2</label>
                        <input type="text" name="addresslinetwo" class="form-control" id="addresslinetwo"  
                            placeholder="Addressline two" formControlName="addresslinetwo"   [value]="addCompanyBranchForm.addresslinetwo">
                        <!-- <div class="invalid-tooltip"
                            *ngIf="addCompanyBranchForm.get('addresslinetwo').hasError('required') && addCompanyBranchForm.get('addresslinetwo').touched">
                            Addressline two is required!</div> -->
                            <!-- <div class="invalid-tooltip"
                            *ngIf="addCompanyBranchForm.get('addresslinetwo').invalid && addCompanyBranchForm.get('addresslinetwo').touched">
                            Enter valid address!</div> -->
                    </div>
                </div>
              
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="state">State</label>
                        <select name="state" id="state" class="form-control" required formControlName="state"  
                            (change)="GetRegion($event.target.value)">
                            <option value="">Select State</option>
                            <option *ngFor="let state of states" value="{{state.stateId}}"  >
                                {{state.stateName}}</option>
                        </select>
                        <div class="invalid-tooltip"
                            *ngIf="addCompanyBranchForm.get('state').hasError('required') && addCompanyBranchForm.get('state').touched">
                            State is required!</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="state">Region</label>
                        <select name="state" class="form-control" required formControlName="region"
                            (change)="GetDistrictForRegion($event.target.value)">
                            <option value="">Select Region</option>
                            <option *ngFor="let reg of region" value="{{reg.regionId}}">
                                {{reg.regionName}}</option>
                        </select>
                        <div class="invalid-tooltip"
                            *ngIf="addCompanyBranchForm.get('region').hasError('required') && addCompanyBranchForm.get('region').touched">
                            Region is required!</div>
                    </div>
                    </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="state">District</label>
                     
                        <select name="state" id="state" class="form-control" required formControlName="district"  
                            (change)="Getcity($event.target.value)">
                            <option value="">Select District</option>
                            <option *ngFor="let district of zones" value="{{district.districtId}}" >
                                {{district.districtName}}</option>
                        </select>
                        <div class="invalid-tooltip"
                            *ngIf="addCompanyBranchForm.get('district').hasError('required') && addCompanyBranchForm.get('district').touched">
                            State is required!</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="city">City</label>
                        <select name="city" id="city" class="form-control" required formControlName="city">
                            <option value="">Select City</option>
                            <option *ngFor="let city of City" value="{{city.cityId}}">
                                {{city.cityName}}</option>
                        </select>
                      
                        <div class="invalid-tooltip"
                            *ngIf="addCompanyBranchForm.get('city').hasError('required') && addCompanyBranchForm.get('city').touched">
                            City is required!</div>
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="pinCode">PinCode</label>
                        <input type="text" name="pinCode" pattern="^[1-9][0-9]{5}$" maxlength="6" class="form-control" id="pinCode" required placeholder="PinCode"
                            formControlName="pinCode" [value]="addCompanyBranchForm.pincode">
                        <div class="invalid-tooltip"
                            *ngIf="addCompanyBranchForm.get('pinCode').hasError('required') && addCompanyBranchForm.get('pinCode').touched">
                            Pincode is required!</div>
                            <div class="invalid-tooltip"
                            *ngIf="addCompanyBranchForm.get('pinCode').invalid && addCompanyBranchForm.get('pinCode').touched">
                           Enter valid  Pincode!</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="ifscCode">Contact No</label>
                        <input type="text" name="contactNo" class="form-control" pattern="[0-9]{10,10}" maxlength="10" required id="contactNo" placeholder="contac tNo"
                            formControlName="contactNo" [value]="addCompanyBranchForm.contactNo">
                        <div class="invalid-tooltip"
                            *ngIf="addCompanyBranchForm.get('contactNo').hasError('required') && addCompanyBranchForm.get('contactNo').touched">
                            Contact No required!</div>
                            <div class="invalid-tooltip"
                            *ngIf="addCompanyBranchForm.get('contactNo').invalid && addCompanyBranchForm.get('contactNo').touched">
                            Enter valid Contact No !</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="ifscCode">GstIn No</label>
                        <input type="text" name="gstinNo" class="form-control" required id="gstinNo" placeholder="Gstin No" pattern="\d{2}[A-Z]{5}\d{4}[A-Z]{1}[A-Z\d]{1}[Z]{1}[A-Z\d]{1}"
                            formControlName="gstinNo" [value]="addCompanyBranchForm.gstinNo" (keyup)="CheckGst(addCompanyBranchForm.get('gstinNo').value)">
                        <div class="invalid-tooltip"
                            *ngIf="addCompanyBranchForm.get('gstinNo').hasError('required') && addCompanyBranchForm.get('gstinNo').touched">
                            GstinNo is required!</div>
                            <div class="invalid-tooltip"
                            *ngIf="addCompanyBranchForm.get('gstinNo').invalid && addCompanyBranchForm.get('gstinNo').touched">
                            Enter valid Gstin No!</div>
                            <div class="invalid-tooltip"
                            *ngIf="gsterror">{{gsterror}}</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="ifscCode">GstIn Issuance Date</label>
                        <input class="form-control" placeholder="yyyy-mm-dd" type="date"  formControlName="gstinIssueDate"
                        [maxDate]='{year:currentYear,month:currentMonth,day:currentDay}'
                        [minDate]="{year: 1980, month: 1, day: 1}" name="gstinIssueDate" id="gstinIssueDate"
                         [value]="addCompanyBranchForm.gstinIssueDate">
                    
                        <div class="invalid-tooltip"
                            *ngIf="addCompanyBranchForm.get('gstinIssueDate').hasError('required') && addCompanyBranchForm.get('gstinIssueDate').touched">
                            Gstin issuence date is required!</div>
                    </div>
                </div>
             
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" appDebounceClick (throttledClick)="addcompanyBranchDetails(addCompanyBranchForm)" [throttleTime]="700" [disabled]="!addCompanyBranchForm.valid">ADD BRANCH</button>
                </div>
            </form>
        </div>
    </div>
</ng-template>
<ng-template #editCompanyModal style="height: 650px;overflow-x: hidden;">
    <div class="modal-content" height="400px" style="height: 650px;overflow-x: hidden;">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Company Branch</h5>
          
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="editCompanyBranchForm" [formGroup]="editCompanyBranchForm">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="accountHolderName">Addressline 1</label>
                        <input type="text" name="accountHolderName" hidden class="form-control"  id="comBranchId"  
                         formControlName="comBranchId" [(ngModel)]="editComLocationlist.comBranchId">
                        <input type="text" name="accountHolderName" required class="form-control" id="addresslineone" pattern="^[#./0-9a-zA-Z\s,-]+$"
                            placeholder="Account Holder Name" formControlName="addresslineone" [(ngModel)]="editComLocationlist.addressLineOne">
                   
                        <div class="invalid-tooltip"
                            *ngIf="editCompanyBranchForm.get('addresslineone').hasError('required') && editCompanyBranchForm.get('addresslineone').touched">
                            Addressline 1 is required!</div>
                            <div class="invalid-tooltip"
                            *ngIf="editCompanyBranchForm.get('addresslineone').invalid && editCompanyBranchForm.get('addresslineone').touched">
                           Enter valid Addressline!</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="accountNo">Addressline 2</label>
                        <input type="text" name="addresslinetwo" class="form-control" id="addresslinetwo" 
                            placeholder="Account Number" formControlName="addresslinetwo" ngModel [(ngModel)]="editComLocationlist.addressLineTwo">
                        <!-- <div class="invalid-tooltip"
                            *ngIf="editCompanyBranchForm.get('addresslinetwo').hasError('required') && editCompanyBranchForm.get('addresslinetwo').touched">
                            Address 2 is required!</div> -->
                            <!-- <div class="invalid-tooltip"
                            *ngIf="editCompanyBranchForm.get('addresslinetwo').invalid && editCompanyBranchForm.get('addresslinetwo').touched">
                            Enter valid address !</div> -->
                    </div>
                </div>
              
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="state">State</label>
                        <select name="state" id="state" class="form-control" required formControlName="state" name="" [(ngModel)]="editComLocationlist.stateId"
                            (change)="GetRegion($event.target.value)">
                            <option value="">Select State</option>
                            <option *ngFor="let state of states" value="{{state.stateId}}"  >
                                {{state.stateName}}</option>
                        </select>
                        <div class="invalid-tooltip"
                            *ngIf="editCompanyBranchForm.get('state').hasError('required') && editCompanyBranchForm.get('state').touched">
                            State is required!</div>
                    </div>
                </div>
                <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="state">Region</label>
                    <select name="state" class="form-control" required formControlName="region" [(ngModel)]="editComLocationlist.regionId"
                        (change)="GetDistrictForRegion($event.target.value)">
                        <option value="">Select Region</option>
                        <option *ngFor="let reg of region" value="{{reg.regionId}}">
                            {{reg.regionName}}</option>
                    </select>
                    <div class="invalid-tooltip"
                        *ngIf="editCompanyBranchForm.get('region').hasError('required') && editCompanyBranchForm.get('region').touched">
                        Region is required!</div>
                </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="state">District</label>
                
                        <select name="district" id="district" class="form-control" required formControlName="district"  [(ngModel)]="editComLocationlist.districtId"
                            (change)="Getcity($event.target.value)">
                            <option value="">Select District</option>
                            <option *ngFor="let district of zones" value="{{district.districtId}}" >
                                {{district.districtName}}</option>
                        </select>
                        <div class="invalid-tooltip"
                            *ngIf="editCompanyBranchForm.get('district').hasError('required') && editCompanyBranchForm.get('district').touched">
                            State is required!</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="city">City</label>
                        <select name="city" id="city" class="form-control" required formControlName="city" [(ngModel)]="editComLocationlist.cityId">
                            <option value="">Select City</option>
                            <option *ngFor="let city of City" value="{{city.cityId}}">
                                {{city.cityName}}</option>
                        </select>
                      
                        <div class="invalid-tooltip"
                            *ngIf="editCompanyBranchForm.get('city').hasError('required') && editCompanyBranchForm.get('city').touched">
                            City is required!</div>
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="pinCode">PinCode</label>
                        <input type="text" name="pinCode" class="form-control" id="pinCode" required placeholder="PinCode" maxlength="6"
                            formControlName="pinCode" pattern="^[1-9][0-9]{5}$" [(ngModel)]="editComLocationlist.pinCode">
                        <div class="invalid-tooltip"
                            *ngIf="editCompanyBranchForm.get('pinCode').hasError('required') && editCompanyBranchForm.get('pinCode').touched">
                            Pincode is required!</div>
                            <div class="invalid-tooltip"
                            *ngIf="editCompanyBranchForm.get('pinCode').invalid && editCompanyBranchForm.get('pinCode').touched">
                            Enetr valid Pincode!</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="ifscCode">Contact No</label>
                        <input type="text" name="contactNo" class="form-control" pattern="[0-9]{10,10}" maxlength="10" required id="contactNo" placeholder="Contact No"
                            formControlName="contactNo" [(ngModel)]="editComLocationlist.contractNo" >
                        <div class="invalid-tooltip"
                            *ngIf="editCompanyBranchForm.get('contactNo').hasError('required') && editCompanyBranchForm.get('contactNo').touched">
                            Contact No required!</div>
                            <div class="invalid-tooltip"
                            *ngIf="editCompanyBranchForm.get('contactNo').invalid && editCompanyBranchForm.get('contactNo').touched">
                            Enter valid Contact No !</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="ifscCode">GstIn No</label>
                        <input type="text" name="gstinNo" class="form-control"  required id="gstinNo" placeholder="Gstin No" (keyup)="CheckGst(editCompanyBranchForm.get('gstinNo').value)"  pattern="\d{2}[A-Z]{5}\d{4}[A-Z]{1}[A-Z\d]{1}[Z]{1}[A-Z\d]{1}" formControlName="gstinNo" [(ngModel)]="editComLocationlist.gstinNo">
                        <div class="invalid-tooltip"
                            *ngIf="editCompanyBranchForm.get('gstinNo').hasError('required') && editCompanyBranchForm.get('gstinNo').touched">
                            Gstin No is required!</div>
                            <div class="invalid-tooltip"
                            *ngIf="editCompanyBranchForm.get('gstinNo').invalid && editCompanyBranchForm.get('gstinNo').touched">
                            Enter valid GstinNo !</div>
                            <div class="invalid-tooltip text-danger"
                            *ngIf="gsterror">{{gsterror}}</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="ifscCode">GstIn Issuance Date</label>
                        <input class="form-control" placeholder="yyyy-mm-dd" type="date" required  formControlName="gstinIssueDate"
                        [maxDate]='{year:currentYear,month:currentMonth,day:currentDay}'
                        [minDate]="{year: 1980, month: 1, day: 1}"  id="gstinIssueDate"
                        [(ngModel)]="editComLocationlist.gstIssuanceDate">
                    
                        <div class="invalid-tooltip"
                            *ngIf="editCompanyBranchForm.get('gstinIssueDate').hasError('required') && editCompanyBranchForm.get('gstinIssueDate').touched">
                            Gstin issuence date is required!</div>
                    </div>
                </div>
             
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" appDebounceClick (throttledClick)="editBankDetailsModal(editCompanyBranchForm)" [throttleTime]="700" [disabled]="!editCompanyBranchForm.valid">Update</button>
                </div>
            </form>
        </div>
    </div>
</ng-template>
<simple-notifications></simple-notifications>
<ng-template #alertDeleteBankModal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalertDeleteBankModalalLabel">Alert</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure,you want to delete this company branch?</h5>
               
               
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modalRef.hide()" >CANCEL</button>
            <button type="button" class="btn btn-primary" (click)="DelecompanyModal()">OK</button>
        </div>
    </div>
</ng-template>

<ng-template #addBranch>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Add Branch</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide();">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <form [formGroup]="gstForm">
            <div class="modal-body">
                <div class="row p-2">
                    <div class="col-md-6">
                        <label><span class="text-danger">*</span><b>GSTIN</b></label>
                        <input type="text" class="form-control" placeholder="Enter GSTIN"
                            (keyup.enter)="validateGstNo($event.target.value)"
                            (change)="validateGstNo($event.target.value)" formControlName="gstNo">
                        <div *ngIf="(gstForm.get('gstNo')?.errors?.required&&gstForm.get('gstNo').touched)"
                            class="invalid-tooltip">GSTIN is required!</div>
                        <div *ngIf="(gstForm.get('gstNo')?.errors?.minlength&&gstForm.get('gstNo').touched)"
                            class="invalid-tooltip">15 digit is required!</div>
                        <div *ngIf="(gstForm.get('gstNo')?.errors?.maxlength&&gstForm.get('gstNo').touched)"
                            class="invalid-tooltip">15 digit is required!</div>
                    </div>
            
                    <div class="col-md-6">
                        <label><span class="text-danger">*</span><b>OTP</b></label>
                        <input type="text" class="form-control" placeholder="Enter OTP"
                            formControlName="otp">
                        <div *ngIf="(gstForm.get('otp')?.errors?.required&&gstForm.get('otp').touched)"
                            class="invalid-tooltip">OTP is required!</div>
                    </div>
                </div>
                <div class="row p-2">                
                    <div class="col-md-12">
                        <label><span class="text-danger">*</span><b>GSTIN Certificate</b></label>
                        <input #gstFile class="form-control" type="file"
                            (click)="gstForm.get('gstFile').markAsTouched();"
                            (change)="setFile($event.target.files[0],gstForm.get('gstFile'));" />
                        <div *ngIf="(gstForm.get('gstFile')?.errors?.required&&gstForm.get('gstFile').touched)"
                            class="invalid-tooltip">GSTIN file is required!</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="submit" class="btn btn-success" (click)="saveCompanyBranchDetails()"><i class="simple-icon-check"></i>&nbsp;Add</button>
            </div>
        </form>
        <simple-notifications></simple-notifications>
    </div>
</ng-template>