<div class="card auth-card">
  <div class="position-relative image-side ">
    <p class=" text-white h2">MAGIC IS IN THE DETAILS</p>
    <p class="white mb-0">
      Please use the form to register.
      <br>If you are a member, please
      <a routerLink="/user/login" class="white white-underline-link">login</a>.
    </p>
  </div>
  <div class="form-side">
    <!-- <a class="c-pointer">
        <span class="logo-single"></span>
      </a>
      <h6 class="mb-4">Register</h6> -->
    <!-- <form #registerForm="ngForm" novalidate >
       
      </form > -->
    <!-- <span class="header-txt">Signup now</span>
    <h5 class="field-message">Or track your existing application</h5> -->
    <!-- <form name="signup_one" #f="ngForm" (ngSubmit)="f.valid&&goTootpPage()"> -->
      <!-- <div class="form-group">
        <input type="text" class="form-control" id="Companyname" name="Companyname" #Companyname="ngModel"
          pattern="^((?![\\^!@#$*~ <>?]).)((?![\\^!@#$*~<>?]).){0,73}((?![\\^!@#$*~ <>?]).)$" [(ngModel)]="companyName"
          aria-describedby="emailHelp" placeholder="Enter Company Name">
        <div>
          <small class="text-danger" *ngIf="Companyname.dirty&&Companyname.invalid">Enter valid company
            name</small>
        </div>

      </div> -->
      <!-- <div class="form-group">
        <input type="text" class="form-control" id="fname" name="fname" #fname="ngModel" pattern="^[a-zA-Z ]{2,30}$"
          [(ngModel)]="fullname" aria-describedby="emailHelp" placeholder="Enter name">
        <small id="emailHelp" class="form-text text-muted">We'll never share your data with anyone else.</small>
        <small class="text-danger" *ngIf="fname.dirty&&fname.invalid">Enter valid
          name</small>
      </div>
      <div class="form-group">
        <input type="email" class="form-control" id="CEmail" name="CEmail" #CEmail="ngModel" (keyup)="ClearError()"
          pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" [(ngModel)]="CompanyEmail"
          placeholder="Enter Email">
        <small class="text-danger" *ngIf="CEmail.dirty&&CEmail.invalid">Enter Valid Email</small>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon3">+91</span>
        </div>
        <input type="textbox" id="phone" pattern="[0-9]{10,10}" maxlength="10" class="form-control" (keyup)="ClearError()" [(ngModel)]="phone"
          placeholder="Your 10 digit mobile number" name="b" #b="ngModel" aria-describedby="basic-addon3">
      </div>
      <small *ngIf="b.dirty&&b.invalid" class="text-danger">Enter a valid phone number.</small>
      <small *ngIf="errormessage" class="text-danger">{{errormessage}}</small>
      <small id="emailHelp" class="form-text text-muted field-message">You will receive an OTP on your mobile
        number.</small>

      <button type="submit" class="btn btn-primary btn-one-dg" id="otppage">
        Continue
      </button>
    </form> -->
    <h5>Signup now</h5>
    <small>Or track your existing application</small>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
      <div class="form-group">
        <label><span class="text-danger">*</span><b>Name&nbsp;</b></label>
        <input type="text" class="form-control" name="name" formControlName="name" placeholder="Enter Name">        
        <div *ngIf="(form.get('name')?.errors?.required&&form.get('name').touched)" class="alert alert-danger m-0 p-0 text-center">Name is required!</div>
        <div *ngIf="(form.get('name')?.errors?.pattern&&form.get('name').touched)" class="alert alert-danger m-0 p-0 text-center">Name must only contain letters!</div>
        <small><b class="text-danger">*</b>name as mentioned in aadhaar card</small>
      </div>
      <div class="form-group">
        <label><span class="text-danger">*</span><b>Email&nbsp;</b></label>
        <input type="text" class="form-control" name="email" formControlName="email" placeholder="Enter Email">        
        <div *ngIf="(form.get('email')?.errors?.required&&form.get('email').touched)" class="alert alert-danger m-0 p-0 text-center">Email is required!</div>
        <div *ngIf="(form.get('email')?.errors?.email&&form.get('email').touched)" class="alert alert-danger m-0 p-0 text-center">Enter Valid Email!</div>
        <small><b class="text-danger">*</b>valid email id</small>
      </div>
      <div class="form-group">
        <label><span class="text-danger">*</span><b>Phone No&nbsp;</b></label>
        <input type="text" class="form-control" name="tempPhNo" formControlName="tempPhNo" placeholder="Enter Phone No">        
        <div *ngIf="(form.get('tempPhNo')?.errors?.required&&form.get('tempPhNo').touched)" class="alert alert-danger m-0 p-0 text-center">Phone No is required!</div>
        <div *ngIf="(form.get('tempPhNo')?.errors?.pattern&&form.get('tempPhNo').touched)" class="alert alert-danger m-0 p-0 text-center">Enter Valid Phone No!</div>
        <small><b class="text-danger">*</b>You will receive an OTP on your mobile
          number.</small>
      </div>
      <button class="btn btn-md btn-success" type="submit" [disabled]="!form.valid">continue&nbsp;<i class="
        simple-icon-arrow-right-circle"></i></button>
    </form>

  </div>
</div>
<simple-notifications></simple-notifications>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="line-scale" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>