<div class="card auth-card">
    <div class="position-relative image-side ">
      <p class=" text-white h2">MAGIC IS IN THE DETAILS</p>
      <p class="white mb-0">
        Please use the form to register.
        <br>If you are a member, please
        <a routerLink="/user/login" class="white white-underline-link">login</a>.
      </p>
    </div>
    <div class="form-side">
      <!-- <a class="c-pointer">
          <span class="logo-single"></span>
        </a>
        <h6 class="mb-4">Register</h6> -->
      <!-- <form #registerForm="ngForm" novalidate >
         
        </form > -->
        <span class="header-txt">Confirm OTP</span>
           
        <h5 >Sent to +91-{{tempMobile}}(<a routerLink="/regfirst" routerLinkActive="active">change</a>)</h5>
        <form name="signup-otp" [formGroup]="form" (ngSubmit)="verifyOTP(form)">
          <div class="form-row">
            <!-- <span class="mobile-prefix">+91</span> -->
            <div class="form- col-md-6">
                <label for="name"><span class="text-danger">*</span><b>Mobile OTP</b></label>
                <!-- <input type="text" class="form-control" pattern="[0-9]{5,5}" maxlength="10" id="SentOtp"  [(ngModel)]="SentOtp"  name="b" #b="ngModel"  placeholder="Enter OTP" required> -->
                <input type="text" class="form-control" formControlName="phNoOtp" placeholder="Enter OTP"/>
                <div *ngIf="(form.get('phNoOtp')?.errors?.required&&form.get('phNoOtp').touched)" class="invalid-tooltip">OTP is required!</div>
                <div *ngIf="(form.get('phNoOtp')?.errors?.pattern&&form.get('phNoOtp').touched)" class="invalid-tooltip">Enter valid OTP!</div>
            </div>
           
          </div>
          <!-- <div *ngIf="!b.valid && form.submitted" class="invalid-tooltip">Enter a valid otp.</div> -->
          <!-- <small *ngIf="errormessage" class="text-danger">{{errormessage}}</small> -->
          <!-- <p class="field-message">Didn't receive OTP? Resend via <a href="#">SMS/whatsapp</a></p> -->
          <p></p>
          <div>
            <button type="button" class="btn btn-info btn-one-dg" (click)="resendOtp()">
              Resend&nbsp;<i class="simple-icon-refresh"></i>
            </button>&nbsp;&nbsp;
            <button type="submit" class="btn btn-success btn-one-dg" [disabled]="!form.valid">
              continue&nbsp;<i class="simple-icon-arrow-right-circle"></i>
            </button>
          </div>
  
        </form>
  
    </div>
  </div>
  <simple-notifications></simple-notifications>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="line-scale" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>