<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <app-breadcrumb></app-breadcrumb>
        <div class="separator mb-5"></div>
    </div>
</div>

<div class="row">
    <div class="col-12 mb-4">
        <div class="card mb-4">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-12">
                        <span class="float-right">
                            <button (click)="addBankDetailsModal(addBankModal)"
                                [disabled]="bankDetailsList.length>=3" class="btn btn-primary btn-md"><i class="simple-icon-plus"></i>
                                Bank</button>
                                <!-- <button appDebounceClick (throttledClick)="test()">Debounced Click</button> -->
                
                            </span>
                    </div>
                </div>
                <div class="table-responsive shadow-sm bg-white rounded">
                <table class="table text-center table-hover mb-0 pb-0" id="bank-tbl">
                    <thead class="thead-dark">
                        <tr>
                            <th></th>
                            <th>SNo</th>
                            <th>Account Holder Name</th>
                            <th>Account No</th>
                            <th>IFSC Code</th>
                            <th>Account Type</th>
                            <th>Bank Name</th>
                            <th>Branch Name</th>
                            <th>Branch Address</th>
                            <th>City</th>
                            <th>PinCode</th>
                            <th>State</th>
                            <th>Action</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let bankDetail of savedDetails; let i=index;">
                            <td *ngIf="bankDetail.primaryBankFlag=='1'"><input type="radio"
                                    (click)="makedefaultalert(alertBankModal,bankDetail.companyBankId)"
                                    checked="checked"></td>
                            <td *ngIf="bankDetail.primaryBankFlag!='1'"><input type="radio"
                                    (click)="makedefaultalert(alertBankModal,bankDetail.companyBankId)"></td>
                            <td>{{i+1}}</td>
                            <td>{{bankDetail.accountHolderName || 'N/A'}}</td>
                            <td>{{bankDetail.accountNo || 'N/A'}}</td>
                            <td>{{bankDetail.ifscCode || 'N/A'}}</td>
                            <td>{{bankDetail.accountType || 'N/A'}}</td>
                            <td>{{bankDetail.bankName || 'N/A'}}</td>
                            <td>{{bankDetail.branchName || 'N/A'}}</td>
                            <td>{{bankDetail.branchAddress || 'N/A'}}</td>
                            <td>{{bankDetail.cityName || 'N/A'}}</td>
                            <td>{{bankDetail.pinCode || 'N/A'}}</td>
                            <td>{{bankDetail.stateName || 'N/A'}}</td>
                            <td><button class="btn btn-secondary btn-xs"
                                    (click)="editBankDetailsModal(i,editBankModal)"><i class="simple-icon-pencil"></i>
                                    edit</button>
                            </td>
                            <td><button class="btn btn-danger btn-xs"
                                    (click)="DeletealertModal(alertDeleteBankModal,bankDetail.companyBankId)"><i
                                        class="simple-icon-pencil"></i>
                                    delete</button>
                            </td>
                        </tr>
                        <tr *ngIf="bankDetailsList.length==0">
                            <td colspan="9">No Record Found!</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>
<simple-notifications></simple-notifications>


<ng-template #addBankModal style="height: 650px;overflow-x: hidden;">
    <div class="modal-content" height="400px" style="height: 650px;overflow-x: hidden;">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Bank</h5>
            <!-- <p>{{bankDetails.accountNo}}</p> -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="addBankForm" [formGroup]="addBankForm" (ngSubmit)="addBankDetails(addBankForm)">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="accountHolderName">Account Holder Name</label>
                        <input type="text" name="accountHolderName" required class="form-control"
                            pattern="^[a-zA-Z ]{2,30}$" maxlength="30" id="accountHolderName"
                            placeholder="Account Holder Name" formControlName="accountHolderName"
                            [value]="bankDetails.accountHolderName">
                        <div class="invalid-tooltip"
                            *ngIf="addBankForm.get('accountHolderName').hasError('required') && addBankForm.get('accountHolderName').touched">
                            Account Holder Name is required!</div>
                        <div class="invalid-tooltip"
                            *ngIf="addBankForm.get('accountHolderName').invalid && addBankForm.get('accountHolderName').touched">
                            Enter valid account Holder Name !</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="accountNo">Account Number</label>
                        <input type="text" name="accountNo" class="form-control" pattern="[0-9]{10,20}" maxlength="20"
                            id="accountNo" required placeholder="Account Number" formControlName="accountNo"
                            [value]="bankDetails.accountNo">
                        <div class="invalid-tooltip"
                            *ngIf="addBankForm.get('accountNo').hasError('required') && addBankForm.get('accountNo').touched">
                            Account Number is required!</div>
                        <div class="invalid-tooltip"
                            *ngIf="addBankForm.get('accountNo').invalid && addBankForm.get('accountNo').touched">
                            Enter valid Account Number !</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="ifscCode">IFSC Code</label>
                        <input type="text" name="ifscCode" class="form-control" pattern="^[A-Z]{4}0[A-Z0-9]{6}$"
                            maxlength="12" required id="ifscCode" placeholder="IFSC Code" formControlName="ifscCode"
                            [value]="bankDetails.ifscCode">
                        <div class="invalid-tooltip"
                            *ngIf="addBankForm.get('ifscCode').hasError('required') && addBankForm.get('ifscCode').touched">
                            IFSC Code is required!</div>
                        <div class="invalid-tooltip"
                            *ngIf="addBankForm.get('ifscCode').invalid && addBankForm.get('ifscCode').touched">
                            Enter valid IFSC Code!</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="accountType">Account Type</label>
                        <!-- <input type="text" name="accountType" class="form-control" maxlength="20"
                            pattern="^((?![\\^!@#$*~ <>?]).)((?![\\^!@#$*~<>?]).){0,73}((?![\\^!@#$*~ <>?]).)$" required
                            id="accountType" placeholder="Account Type" formControlName="accountType"
                            [value]="bankDetails.accountType"> -->
                            <select name="accountType" id="accountType" required class="form-control" formControlName="accountType" >
                            <option value="">Select Account Type</option>
                            <option value="Savings">Savings</option>
                            <option value="Current">Current</option>
                        </select>
                        <div class="invalid-tooltip"
                            *ngIf="addBankForm.get('accountType').hasError('required') && addBankForm.get('accountType').touched">
                            Account type is required!</div>
                        <!-- <div class="invalid-tooltip"
                            *ngIf="addBankForm.get('accountType').invalid && addBankForm.get('accountType').touched">
                            input valid account type!</div> -->
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="bankName">Bank Name</label>
                        <input type="text" name="bankName" class="form-control" required maxlength="30"
                            pattern="^((?![\\^!@#$*~ <>?]).)((?![\\^!@#$*~<>?]).){0,73}((?![\\^!@#$*~ <>?]).)$"
                            id="bankName" placeholder="Bank Name" formControlName="bankName"
                            [value]="bankDetails.bankName">
                        <div class="invalid-tooltip"
                            *ngIf="addBankForm.get('bankName').hasError('required') && addBankForm.get('bankName').touched">
                            Bank Name is required!</div>
                        <div class="invalid-tooltip"
                            *ngIf="addBankForm.get('bankName').invalid && addBankForm.get('bankName').touched">
                            input valid Bank Name!</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="bankName">Branch Name</label>
                        <input type="text" name="bankName" class="form-control" pattern="^[#./0-9a-zA-Z\s,-]+$"
                            maxlength="30" required id="branchName" placeholder="Branch Name"
                            formControlName="branchName" [value]="bankDetails.branchName">
                        <div class="invalid-tooltip"
                            *ngIf="addBankForm.get('branchName').hasError('required') && addBankForm.get('branchName').touched">
                            Bank Name is required!</div>
                        <div class="invalid-tooltip"
                            *ngIf="addBankForm.get('branchName').invalid && addBankForm.get('branchName').touched">
                            Enter valid Bank Name!</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="branchAddress">Branch Address</label>
                        <input type="text" name="branchAddress" class="form-control" pattern="^[#./0-9a-zA-Z\s,-]+$"
                            maxlength="100" required id="branchAddress" placeholder="Branch Address"
                            formControlName="branchAddress" [value]="bankDetails.branchAddress">
                        <div class="invalid-tooltip"
                            *ngIf="addBankForm.get('branchAddress').hasError('required') && addBankForm.get('branchAddress').touched">
                            Branch Address is required!</div>
                        <div class="invalid-tooltip"
                            *ngIf="addBankForm.get('branchAddress').invalid && addBankForm.get('branchAddress').touched">
                            Enter valid Branch Address !</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="state">State</label>
                        <select name="state" id="state" class="form-control" required formControlName="state"
                            (change)="GetZone($event.target.value)">
                            <option value="">Select State</option>
                            <option *ngFor="let state of states" value="{{state.stateId}}">
                                {{state.stateName}}</option>
                        </select>
                        <div class="invalid-tooltip"
                            *ngIf="addBankForm.get('state').hasError('required') && addBankForm.get('state').touched">
                            State is required!</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="state">District</label>

                        <select name="district" id="district" class="form-control" required formControlName="district"
                            (change)="Getcity($event.target.value)">
                            <option value="">Select District</option>
                            <option *ngFor="let district of zones" value="{{district.districtId}}">
                                {{district.districtName}}</option>
                        </select>
                        <div class="invalid-tooltip"
                            *ngIf="addBankForm.get('district').hasError('required') && addBankForm.get('district').touched">
                            State is required!</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="city">City</label>
                        <select name="city" id="city" class="form-control" required formControlName="city">
                            <option value="">Select City</option>
                            <option *ngFor="let city of City" value="{{city.cityId}}">
                                {{city.cityName}}</option>
                        </select>

                        <div class="invalid-tooltip"
                            *ngIf="addBankForm.get('city').hasError('required') && addBankForm.get('city').touched">
                            City is required!</div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="pinCode">PinCode</label>
                        <input type="text" name="pinCode" class="form-control" id="pinCode" pattern="^[1-9][0-9]{5}$"
                            maxlength="6" required placeholder="PinCode" formControlName="pinCode"
                            [value]="bankDetails.pinCode">
                        <div class="invalid-tooltip"
                            *ngIf="addBankForm.get('pinCode').hasError('required') && addBankForm.get('pinCode').touched">
                            Pincode is required!</div>
                    </div>
                </div>
                <!-- <div class="form-row">
                    <div class="form-group col-md-12">
                        <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" name="primaryBankFlag" class="form-control custom-control-input"
                                id="primaryBankFlag" formControlName="primaryBankFlag" [checked]='primaryBankFlag'>
                            <label for="primaryBankFlag" class="custom-control-label">Mark This Accound As
                                Primary</label>
                        </div>
                    </div>
                </div> -->
                <div class="modal-footer">
                    <!-- <button type="submit" class="btn btn-primary"
                        [disabled]="!addBankForm.valid&&buttonDisabled">ADD</button> -->
                        <button type="button" class="btn btn-primary" appDebounceClick (throttledClick)="addBankDetails(addBankForm)" [throttleTime]="700" id="editbutton"  [disabled]="!addBankForm.valid">ADD</button>

                </div>
            </form>
        </div>
    </div>
</ng-template>
<ng-template #editBankModal>
    <div class="modal-content" style="height: 650px;overflow-x: hidden;">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Bank</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="editBankForm" [formGroup]="editBankForm" (ngSubmit)="editBankDetails(editBankForm)">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="accountHolderName">Account Holder Name</label>
                        <input type="text" hidden name="companyId" required class="form-control" id="companyId"
                            formControlName="companyId" [(ngModel)]="bankDetails.companyId">
                        <input type="text" hidden name="companyBankId" required class="form-control" id="companyBankId"
                            formControlName="companyBankId" [(ngModel)]="bankDetails.companyBankId">
                        <input type="text" name="accountHolderName" required class="form-control" id="accountHolderName"
                            pattern="^[a-zA-Z ]{2,30}$" placeholder="Account Holder Name"
                            formControlName="accountHolderName" [(ngModel)]="bankDetails.accountHolderName">
                        <div class="invalid-tooltip"
                            *ngIf="editBankForm.get('accountHolderName').hasError('required') && editBankForm.get('accountHolderName').touched">
                            Account Holder Name is required!</div>
                        <div class="invalid-tooltip"
                            *ngIf="editBankForm.get('accountHolderName').invalid && editBankForm.get('accountHolderName').touched">
                            Please input valid account Holder Name!</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="accountNo">Account Number</label>
                        <input type="text" name="accountNo" class="form-control" id="accountNo" required
                            placeholder="Account Number" formControlName="accountNo" pattern="[0-9]{10,20}"
                            [(ngModel)]="bankDetails.accountNo" [value]="bankDetails.accountNo">
                        <div class="invalid-tooltip"
                            *ngIf="editBankForm.get('accountNo').hasError('required') && editBankForm.get('accountNo').touched">
                            Account Number is required!</div>
                    </div>
                    <div class="invalid-tooltip"
                        *ngIf="editBankForm.get('accountNo').invalid && editBankForm.get('accountNo').touched">
                        Input valid Account Number!</div>

                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="ifscCode">IFSC Code</label>
                        <input type="text" name="ifscCode" class="form-control" required id="ifscCode"
                            placeholder="IFSC Code" pattern="^[A-Z]{4}0[A-Z0-9]{6}$" formControlName="ifscCode"
                            [(ngModel)]="bankDetails.ifscCode" [value]="bankDetails.ifscCode">
                        <div class="invalid-tooltip"
                            *ngIf="editBankForm.get('ifscCode').hasError('required') && editBankForm.get('ifscCode').touched">
                            IFSC Code is required!</div>
                        <div class="invalid-tooltip"
                            *ngIf="editBankForm.get('ifscCode').invalid && editBankForm.get('ifscCode').touched">
                            Input valid IFSC!</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="accountType">Account Type</label>

                        <!-- <input type="text" name="accountType" class="form-control" required id="accountType"
                            pattern="^((?![\\^!@#$*~ <>?]).)((?![\\^!@#$*~<>?]).){0,73}((?![\\^!@#$*~ <>?]).)$"
                            placeholder="Account Type" formControlName="accountType"
                            [(ngModel)]="bankDetails.accountType"> -->
                            <select name="accountType" id="accountType" class="form-control" formControlName="accountType"
                            [(ngModel)]="bankDetails.accountType" (change)="GetZone($event.target.value)">
                            <option value="">Select Account Type</option>
                            <option value="Savings">Savings</option>
                            <option value="Current">Current</option>
                        </select>
                        <div class="invalid-tooltip"
                            *ngIf="editBankForm.get('accountType').hasError('required') && editBankForm.get('accountType').touched">
                            Account type is required!</div>
                        <!-- <div class="invalid-tooltip"
                            *ngIf="editBankForm.get('accountType').invalid && editBankForm.get('accountType').touched">
                            Input valid account type!</div> -->

                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="bankName">Bank Name</label>
                        <input type="text" name="bankName" class="form-control" required id="bankName"
                            pattern="^((?![\\^!@#$*~ <>?]).)((?![\\^!@#$*~<>?]).){0,73}((?![\\^!@#$*~ <>?]).)$"
                            placeholder="Bank Name" formControlName="bankName" [(ngModel)]="bankDetails.bankName">
                        <div class="invalid-tooltip"
                            *ngIf="editBankForm.get('bankName').hasError('required') && editBankForm.get('bankName').touched">
                            Bank Name is required!</div>
                        <div class="invalid-tooltip"
                            *ngIf="editBankForm.get('bankName').invalid && editBankForm.get('bankName').touched">
                            Input valid Bank Name !</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="bankName">Branch Name</label>
                        <input type="text" name="bankName" class="form-control" required pattern="^[#./0-9a-zA-Z\s,-]+$"
                            id="branchName" placeholder="Branch Name" formControlName="branchName"
                            [(ngModel)]="bankDetails.branchName">
                        <div class="invalid-tooltip"
                            *ngIf="editBankForm.get('branchName').hasError('required') && editBankForm.get('branchName').touched">
                            Branch Name is required!</div>
                        <div class="invalid-tooltip"
                            *ngIf="editBankForm.get('branchName').invalid && editBankForm.get('branchName').touched">
                            Input valid branch Name !</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="branchAddress">Branch Address</label>
                        <input type="text" name="branchAddress" class="form-control" pattern="^[#./0-9a-zA-Z\s,-]+$"
                            required id="branchAddress" placeholder="Branch Address" formControlName="branchAddress"
                            [(ngModel)]="bankDetails.branchAddress">
                        <div class="invalid-tooltip"
                            *ngIf="editBankForm.get('branchAddress').hasError('required') && editBankForm.get('branchAddress').touched">
                            Branch Address is required!</div>
                        <div class="invalid-tooltip"
                            *ngIf="editBankForm.get('branchAddress').invalid && editBankForm.get('branchAddress').touched">
                            Input valid Branch Address!</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="state">State</label>
                        <!-- <input type="text" name="state"  required class="form-control" id="state"
                        placeholder="State" formControlName="state"
                        [(ngModel)]="bankDetails.stateName"> -->
                        <select name="state" id="state" class="form-control" formControlName="state"
                            [(ngModel)]="bankDetails.state" (change)="GetZone($event.target.value)">
                            <option value="">Select State</option>
                            <option *ngFor="let state of states" value="{{state.stateId}}">
                                {{state.stateName}}</option>
                        </select>
                        <div class="invalid-tooltip"
                            *ngIf="editBankForm.get('state').hasError('required') && editBankForm.get('state').touched">
                            State is required!</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="state">District</label>
                        <!-- <input type="text" name="state"  required class="form-control" id="state"
                        placeholder="State" formControlName="state"
                        [(ngModel)]="bankDetails.stateName"> -->
                        <select name="state" id="state" class="form-control" formControlName="district"
                            [(ngModel)]="bankDetails.district" (change)="Getcity($event.target.value)">
                            <option value="">Select District</option>
                            <option *ngFor="let district of zones" value="{{district.districtId}}">
                                {{district.districtName}}</option>
                        </select>
                        <div class="invalid-tooltip"
                            *ngIf="editBankForm.get('state').hasError('required') && editBankForm.get('state').touched">
                            State is required!</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="city">City</label>
                        <select name="city" id="city" class="form-control" [(ngModel)]="bankDetails.city"
                            formControlName="city">
                            <option value="">Select City</option>
                            <option *ngFor="let city of City" value="{{city.cityId}}">
                                {{city.cityName}}</option>
                        </select>
                        <!-- <input type="text" name="city" class="form-control" id="city" required
                        placeholder="State" formControlName="city"
                        [(ngModel)]="bankDetails.cityName"> -->
                        <div class="invalid-tooltip"
                            *ngIf="editBankForm.get('city').hasError('required') && editBankForm.get('city').touched">
                            City is required!</div>

                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="pinCode">PinCode</label>
                        <input type="text" name="pinCode" class="form-control" id="pinCode" pattern="^[1-9][0-9]{5}$" [(ngModel)]="bankDetails.pinCode"
                            required placeholder="PinCode" formControlName="pinCode">
                        <div class="invalid-tooltip"
                            *ngIf="editBankForm.get('pinCode').hasError('required') && editBankForm.get('pinCode').touched">
                            Pincode is required!</div>
                        <div class="invalid-tooltip"
                            *ngIf="editBankForm.get('pinCode').invalid && editBankForm.get('pinCode').touched">
                            Enter valid Pincode!</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <div class="custom-control custom-checkbox mb-3">
                            <!-- <input type="checkbox" name="primaryBankFlag" class="form-control custom-control-input"
                                id="primaryBankFlag" formControlName="primaryBankFlag" [checked]='primaryBankFlag'>
                            <label for="primaryBankFlag" class="custom-control-label">Mark This Accound As
                                Primary</label> -->
                        </div>
                    </div>
                </div> 
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" appDebounceClick (throttledClick)="editBankDetails(editBankForm)" [throttleTime]="700" id="editbutton"  [disabled]="!editBankForm.valid">Update</button>
                    
                    <!-- <button  (throttledClick)="test()" appPreventDoubleClick></button> -->
                </div>
            </form>
        </div>
    </div>
</ng-template>
<ng-template #alertBankModal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <h5 class="modal-title ml-5" id="exampleModalLabel">Are you sure of setting the bank as primary?</h5>


            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">CANCEL</button>
            <button type="button" class="btn btn-primary" (click)="makeBankPrimery()">OK</button>
        </div>
    </div>
</ng-template>
<ng-template #alertDeleteBankModal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <h5 class="modal-title ml-5" id="exampleModalLabel">Are you sure,you want to delete this bank?</h5>


            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">CANCEL</button>
            <button type="button" class="btn btn-primary" (click)="DeleteBAnk()">OK</button>
        </div>
    </div>
</ng-template>