<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <app-breadcrumb></app-breadcrumb>
        <div class="separator mb-5"></div>
    </div>
</div>
<div class="row">
    <div class="col-12 mb-4">
        <div class="card mb-4">
            <div class="card-body">
                <!-- <form> -->
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="companyName">Company Name</label>
                        <input type="text" class="form-control" id="companyName" placeholder="Company Name"
                            [value]="companyinfo.companyName" disabled>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="companyName">Business Type</label>
                        <input type="text" class="form-control" id="companyName" placeholder="Company Name"
                            [value]="companyinfo.businessType" disabled>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="companyRegAddress">Company Register Address</label>
                        <input type="text" class="form-control" id="companyRegAddress"
                            placeholder="Company Register Address" [value]="companyinfo.companyRegAddress" disabled>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="companyCorresAddress">Company Corresspondance Address</label>
                        <input type="text" class="form-control" id="companyCorresAddress"
                            placeholder="Company Correspondance Address" [value]="companyinfo.companyCorresAddress"
                            disabled>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="contactNo">PAN No</label>
                        <input type="text" class="form-control" id="contactNo" placeholder="contactNo"
                            [value]="companyinfo.panNo" disabled>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="contactNo">GST No</label>
                        <input type="text" class="form-control" id="contactNo" placeholder="contactNo"
                            [value]="companyinfo.gstNo" disabled>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="contactNo">CIN No</label>
                        <input type="text" class="form-control" id="contactNo" placeholder="contactNo"
                            [value]="companyinfo.cinNo" disabled>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="contactNo">Contact No</label>
                        <input type="text" class="form-control" id="contactNo" placeholder="contactNo"
                            [value]="companyinfo.contactNo" disabled>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="emailId">Email ID</label>
                        <input type="text" class="form-control" id="emailId" placeholder="emailId"
                            [value]="companyinfo.emailId" disabled>
                    </div>
                </div>
                <!-- </form> -->
            </div>
        </div>
    </div>
</div>