<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <app-breadcrumb></app-breadcrumb>
        <div class="separator mb-5"></div>
    </div>
</div>
<div class="row">
    <div class="col-12 mb-4">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-md-3">
                        <label for="dateRange"><b>Select Date Range</b></label>
                        <input class="form-control inp mt-1" #drp="bsDaterangepicker" bsDaterangepicker [container]="'html'"
                            [ngModel]="bsRangeValue" placeholder="Select Date Range" style="background-color: white;"
                            readonly
                            [bsConfig]="{ ranges: ranges,rangeInputFormat : 'DD-MM-YYYY', dateInputFormat: 'DD-MM-YYYY'}"
                            (ngModelChange)="bsRangeValue=$event;viewApproveSelectionAgainstTCN(1);getTcnBuyer();" />
                    </div>
                    <div class="col-md-3">
                        <label for="state"><b>Select Product</b></label>
                        <select class="form-control inp" name="state" [(ngModel)]="productId"
                            (change)="GetAllSubProducts($event.target.value);viewApproveSelectionAgainstTCN(1);getTcnBuyer();">
                            <option value="0" disabled>Select Product</option>
                            <option *ngFor="let product of productList;" [value]="product.productId">
                                {{product.productName}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="state"><b>Select Sub Product</b></label>
                        <select class="form-control inp" name="state" [(ngModel)]="subProductId"
                            (change)="viewApproveSelectionAgainstTCN(1);getTcnBuyer();getSeason();">
                            <option value="0" disabled>Select Sub Product</option>
                            <option *ngFor="let product of subProductList;" [value]="product.subProductId">
                                {{product.subProductName}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="state"><b>Select Season</b></label>
                        <select class="form-control inp" name="state" [(ngModel)]="seasonId"
                            (change)="viewApproveSelectionAgainstTCN(1);getTcnBuyer();">
                            <option value="0" disabled>Select Season</option>
                            <option *ngFor="let season of seasonList;" [value]="season.season_id">
                                {{season.season_year}}
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-3">
                        <label for="state"><b>Select State</b></label>
                        <select class="form-control inp" name="state" [(ngModel)]="stateId"
                            (change)="viewApproveSelectionAgainstTCN(1);getTcnBuyer();">
                            <option value="0" disabled>Select State</option>
                            <option [value]="state.stateId" *ngFor="let state of stateList">{{state.stateName}}</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="company"><b>Search Company</b></label>
                        <input id="searchBar" (typeaheadOnSelect)="onSelect($event);getTcnBuyer();"
                            typeaheadWaitMs="500" [isAnimated]="true" [typeaheadScrollable]="true" [ngModel]="search"
                            (ngModelChange)="buyerCompanyId=0;sellerCompanyId=0;search=$event;getTcnBuyer();"
                            typeaheadOptionField="companyName" [typeahead]="suggestions$" [typeaheadAsync]="true"
                            class="form-control inp mt-1" placeholder="Enter Company Name">
                        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
                            {{ errorMessage }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="tnc"><b>Select TCN</b></label>
                        <select class="form-control inp" name="tcn" [(ngModel)]="tncId"
                            (change)="viewApproveSelectionAgainstTCN(1);">
                            <option value="" disabled>Select TCN</option>
                            <option [value]="tcn.tcnNo" *ngFor="let tcn of tcnList;">{{tcn.tcnNo}}</option>
                        </select>
                    </div>
                </div>
                <!-- <hr /> -->
                <div class="row mt-3 mb-3">
                    <div class="col-md-12">
                        <div class="table-responsive mt-0 pt-0 mb-0 pb-0">
                            <table class="table table-borderless mb-0 pb-0">
                                <tbody>
                                    <tr>
                                        <td><b>Buyer Company
                                                Name&nbsp;:&nbsp;</b>{{selectionValue.buyerCompanyName||'N/A'}}
                                        </td>
                                        <td><b>Seller Company
                                                Name&nbsp;:&nbsp;</b>{{selectionValue.sellerCompanyName||'N/A'}}</td>
                                        <td><b>Product Name&nbsp;:&nbsp;</b>{{selectionValue.productName||'N/A'}}</td>
                                        <td><b>Sub Product Name&nbsp;:&nbsp;</b>{{selectionValue.subProductName||'N/A'}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>TCN No&nbsp;:&nbsp;</b>{{selectionValue.tcnNo||'N/A'}}</td>
                                        <td><b>Season Year&nbsp;:&nbsp;</b>{{selectionValue.seasonYear||'N/A'}}</td>
                                        <td><b>Allotment No&nbsp;:&nbsp;</b>{{selectionValue.allotmentNo||'N/A'}}</td>
                                        <td><b>Allotment
                                                Date&nbsp;:&nbsp;</b>{{(selectionValue.allotmentDate|date:'medium')||'N/A'}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- <hr /> -->
                <div class="table-responsive shadow-sm bg-white rounded">
                    <table class="table text-center table-hover mb-0 pb-0">
                        <thead class="thead-dark">
                            <tr>
                                <!-- <th>PR No</th> -->
                                <th>Lot No</th>
                                <th>Party Lot No</th>
                                <th>Storage Location</th>
                                <th>Unit Name</th>
                                <th>Location</th>
                                <th>Quantity</th>
                                <th>Alloted Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let object of selectionList;let i=index;">
                                <!-- <td>{{object.prNo}}</td> -->
                                <td>{{object.lotNo}}</td>
                                <td>{{object.partyLotNo}}</td>
                                <td>{{object.storageLocation}}</td>
                                <td>{{object.unitName}}</td>
                                <td>{{object.locationAddress}}</td>
                                <td>{{object.quantity}}</td>
                                <td>
                                    <h6 *ngIf="object.status==0">
                                        <span class="badge badge-info">{{object.allotedStatus||'N/A'}}</span>
                                    </h6>
                                    <h6 *ngIf="object.status==1">
                                        <span class="badge badge-success">{{object.allotedStatus||'N/A'}}</span>
                                    </h6>
                                    <h6 *ngIf="object.status==2">
                                        <span class="badge badge-danger">{{object.allotedStatus||'N/A'}}</span>
                                    </h6>
                                    <h6 *ngIf="object.status==3">
                                        <span class="badge badge-warning">{{object.allotedStatus||'N/A'}}</span>
                                    </h6>
                                </td>
                            </tr>
                            <tr *ngIf="selectionList.length==0">
                                <td colspan="7" class="text-center">No Record Found!</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <pagination [totalItems]="totalCount" [itemsPerPage]="pageSize" [rotate]="true" [maxSize]="3"
                            [(ngModel)]="pageNo" (pageChanged)="viewApproveSelectionAgainstTCN($event.page)"
                            class="justify-content-right mt-2 float-right" [customNextTemplate]="nextTemplate"
                            [customPreviousTemplate]="prevTemplate">
                        </pagination>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
<simple-notifications></simple-notifications>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="line-scale" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>

<ng-template #nextTemplate let-disabled="disabled" let-currentPage="pageNo">
    <i class='simple-icon-arrow-right'></i>
</ng-template>

<ng-template #prevTemplate let-disabled="disabled" let-currentPage="pageNo">
    <i class='simple-icon-arrow-left'></i>
</ng-template>