<!-- <div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <app-breadcrumb></app-breadcrumb>
        <div class="separator mb-5"></div>
    </div>
</div> -->
<div class="row">
    <div class="col-12 mb-4">
        <div class="card">

            <div class="card-body">
                <div>
                    <tabset>
                        <tab heading="ORDER BOOK" [active]="true">
                            <div class="row">
                                <div class="col-4 mb-3">
                                    <label for="email">Search Product</label>
                                    <div class="input-group">

                                        <input type="text" class="form-control" id="myInput2" (click)="myFunctionP()"
                                            name="Locationone" (keyup)="filterFunctionP()" [value]="product"
                                            placeholder="Search.." title="Type in a name">
                                        <ul class="dropdown-menu space-up" role="menu" id="myDropdownP">
                                            <div class="table-hight solid" id="assetP-table">
                                                <li class="ml-3" *ngFor="let c of SavedProd"><a
                                                        href="javascript:void(0);" (click)="getProduct(c)"
                                                        style="color: black;">{{c.ProdName}}</a>
                                                </li>

                                            </div>
                                        </ul>

                                    </div>
                                </div>
                                <!-- <div class="col-4">
                                    <label style="color: white;"> Selct search option</label>
                                    <div class="input-group">
                                        <div class="switch-toggle switch-3 switch-candy">

                                            <input id="on" name="state-d" type="radio" checked=""
                                                (change)="GetOrderType($event)" />
                                            <label for="on" id="buy">BUY</label>

                                            <input id="na" name="state-d" type="radio" checked=""
                                                (change)="GetOrderType($event)" />
                                            <label for="na" id="sell" class="disabled">SELL</label>

                                            <input id="off" name="state-d" type="radio" (change)="GetOrderType($event)"
                                                checked="checked" />
                                            <label for="off" id="all">ALL</label>

                                        </div>
                                    </div>

                                </div> -->
                                <div class="col-4">
                                    <label style="color: white;"> Selct search option</label>
                                    <div class="input-group">

                                        <div class="custom-checkbox">
                                            <input id="status" type="checkbox" name="status"
                                                (change)="Getserch($event.target.checked)" data-md-icheck
                                                [(ngModel)]="theCheckbox">
                                            <label for="status">
                                                <div class="status-switch" data-unchecked="NIGOTIABLE"
                                                    data-checked="FIRM">
                                                </div>
                                            </label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row" *ngIf="BusinessTypeId==1">
                                <div class="col-md-6">
                                    <div class="table-order table-responsive">
                                        <table class="table table-hover" id="bank-record">
                                            <thead>
                                                <tr>

                                                    <th>COMPANY NAME</th>
                                                    <th>PRODUCT NAME</th>
                                                    <th>SUB PRODUCT NAME</th>
                                                    <th>VARIETY NAME</th>
                                                    <th>ORDER TYPE</th>
                                                    <th>QUANTITY/UNIT</th>
                                                    <th>PRICE/UNIT</th>
                                                    <th>PRODUCT STATION</th>
                                                    <th>EXPIRE DURATION</th>
                                                    <th>BID COUNT</th>


                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let order of BuyOrderbook;let i=index">

                                                    <td
                                                        (click)="OpenEditmodal(editorderModal,order)">
                                                        {{order.companyName|| 'N/A'}}</td>
                                                    <td
                                                        (click)="OpenEditmodal(editorderModal,order)">
                                                        {{order.productName|| 'N/A'}}</td>
                                                    <td
                                                        (click)="OpenEditmodal(editorderModal,order)">
                                                        {{order.subProductName|| 'N/A'}}</td>
                                                    <td
                                                        (click)="OpenEditmodal(editorderModal,order)">
                                                        {{order.varietyName|| 'N/A'}}</td>
                                                    <td *ngIf="order.orderType==1" style="color:green;font-weight:bold;"
                                                        (click)="OpenEditmodal(editorderModal,order)">
                                                        BUY</td>
                                                    <!-- <td *ngIf="order.orderType==2"
                                                        (click)="OpenEditmodal(editorderModal,order.ownBidCount,order.productId,order.subProductId,order.orderId,order.price,order.currentQuantity,order.orderType,order.productName,order.subProductName,order.companyName,order.cityName,order.stateName,order.emdPercent,order.quantityUnit,order.priceUnit,order.seasonYear,order.varietyName,order.paymentMode,order.paymentTimeline,order.grade,order.orderDate,order.expireTime)">
                                                        SELL</td> -->
                                                    <td
                                                        (click)="OpenEditmodal(editorderModal,order)">
                                                        {{order.initialQuantity}} {{order.quantityUnit}}</td>
                                                    <td
                                                        (click)="OpenEditmodal(editorderModal,order)">
                                                        {{order.price}} {{order.priceUnit}}</td>

                                                    <td
                                                        (click)="OpenEditmodal(editorderModal,order)">
                                                        {{order.cityName|| 'N/A'}} ,{{order.districtName|| 'N/A'}} ,
                                                        {{order.stateShortName||'N/A'}}</td>
                                                    <td
                                                        (click)="OpenEditmodal(editorderModal,order)">
                                                        {{order.expireDuration||'N/A'}}</td>

                                                    <td
                                                        (click)="OpenEditmodal(editorderModal,order)">
                                                        {{order.bidCount}}</td>


                                                </tr>
                                                <!-- <tr *ngIf="Orderbook==undefined">
                                                    <td colspan="5">No Record Found!</td>

                                                </tr> -->
                                                <tr>
                                                    <td colspan="5" *ngIf="BuyErr">{{BuyErr}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="table-order table-responsive">
                                        <table class="table table-hover" id="bank-record">
                                            <thead>
                                                <tr>

                                                    <th>COMPANY NAME</th>
                                                    <th>PRODUCT NAME</th>
                                                    <th>SUB PRODUCT NAME</th>
                                                    <th>VARIETY NAME</th>
                                                    <th>ORDER TYPE</th>
                                                    <th>QUANTITY/UNIT</th>
                                                    <th>PRICE/UNIT</th>
                                                    <th>PRODUCT STATION</th>
                                                    <th>EXPIRE DURATION</th>
                                                    <th>BID COUNT</th>


                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let order of SellOrderbook;let i=index">

                                                    <td
                                                        (click)="OpenEditmodal(editorderModal,order)">
                                                        {{order.companyName|| 'N/A'}}</td>
                                                    <td
                                                        (click)="OpenEditmodal(editorderModal,order)">
                                                        {{order.productName|| 'N/A'}}</td>
                                                    <td
                                                        (click)="OpenEditmodal(editorderModal,order)">
                                                        {{order.subProductName|| 'N/A'}}</td>
                                                    <td
                                                        (click)="OpenEditmodal(editorderModal,order)">
                                                        {{order.varietyName|| 'N/A'}}</td>

                                                    <td *ngIf="order.orderType==2" style="color:red;font-weight:bold;"
                                                        (click)="OpenEditmodal(editorderModal,order)">
                                                        SELL</td>
                                                    <td
                                                        (click)="OpenEditmodal(editorderModal,order)">
                                                        {{order.initialQuantity}} {{order.quantityUnit}}</td>
                                                    <td
                                                        (click)="OpenEditmodal(editorderModal,order)">
                                                        {{order.price}} {{order.priceUnit}}</td>

                                                    <td
                                                        (click)="OpenEditmodal(editorderModal,order)">
                                                        {{order.cityName|| 'N/A'}} ,{{order.districtName|| 'N/A'}},
                                                        {{order.stateShortName||'N/A'}}</td>
                                                    <td
                                                        (click)="OpenEditmodal(editorderModal,order)">
                                                        {{order.expireDuration||'N/A'}}</td>

                                                    <td
                                                        (click)="OpenEditmodal(editorderModal,order)">
                                                        {{order.bidCount}}</td>


                                                </tr>
                                                <!-- <tr *ngIf="SellOrderbook==undefined">
                                                    <td colspan="5">No Record Found!</td>

                                                </tr> -->
                                                <tr>
                                                    <td colspan="5" *ngIf="SellErr">{{SellErr}}</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>

                                </div>

                            </div>
                            <div class="row" *ngIf="BusinessTypeId!=1">
                                <div class="col-md-12">
                                    <div class="table-order table-responsive">
                                        <table class="table table-hover" id="bank-record">
                                            <thead>
                                                <tr>

                                                    <th>COMPANY NAME</th>
                                                    <th>PRODUCT NAME</th>
                                                    <th>SUB PRODUCT NAME</th>
                                                    <th>VARIETY NAME</th>
                                                    <th>ORDER TYPE</th>
                                                    <th>QUANTITY/UNIT</th>
                                                    <th>PRICE/UNIT</th>
                                                    <th>PRODUCT STATION</th>
                                                    <th>EXPIRE DURATION</th>
                                                    <th>BID COUNT</th>


                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let order of Orderbook;let i=index">

                                                    <td
                                                        (click)="OpenEditmodal(editorderModal,order)">
                                                        {{order.companyName|| 'N/A'}}</td>
                                                    <td
                                                        (click)="OpenEditmodal(editorderModal,order)">
                                                        {{order.productName|| 'N/A'}}</td>
                                                    <td
                                                        (click)="OpenEditmodal(editorderModal,order)">
                                                        {{order.subProductName|| 'N/A'}}</td>
                                                    <td
                                                        (click)="OpenEditmodal(editorderModal,order)">
                                                        {{order.varietyName|| 'N/A'}}</td>
                                                    <td *ngIf="order.orderType==1" style="color:green;font-weight:bold;"
                                                        (click)="OpenEditmodal(editorderModal,order)">
                                                        BUY</td>
                                                    <td *ngIf="order.orderType==2" style="color:red;font-weight:bold;"
                                                        (click)="OpenEditmodal(editorderModal,order)">
                                                        SELL</td>
                                                    <td
                                                        (click)="OpenEditmodal(editorderModal,order)">
                                                        {{order.initialQuantity}} {{order.quantityUnit}}</td>
                                                    <td
                                                        (click)="OpenEditmodal(editorderModal,order)">
                                                        {{order.price}} {{order.priceUnit}}</td>

                                                    <td
                                                        (click)="OpenEditmodal(editorderModal,order)">
                                                        {{order.cityName|| 'N/A'}}, {{order.regionName|| 'N/A'}}
                                                        ,{{order.districtName|| 'N/A'}}, {{order.stateShortName||'N/A'}}
                                                    </td>
                                                    <td
                                                        (click)="OpenEditmodal(editorderModal,order)">
                                                        {{order.expireDuration||'N/A' }}</td>

                                                    <td
                                                        (click)="OpenEditmodal(editorderModal,order)">
                                                        {{order.ownBidCount}}</td>


                                                </tr>
                                                <tr *ngIf="Orderbook==null">
                                                    <td colspan="5">No Record Found!</td>

                                                </tr>
                                                <tr>
                                                    <td colspan="5" *ngIf="NodataError">{{NodataError}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>

                        </tab>
                        <tab heading="MATCHING INTEREST">
                            <div class="table-matching table-responsive">
                                <table class="table table-hover" id="bank-record">
                                    <thead>
                                        <tr>
                                            <th>COUNTER COMPANY NAME</th>
                                            <th>PRODUCT NAME</th>
                                            <th>INITIAL QUANTITY/UNIT</th>
                                            <th>COUNTER QUANTITY/UNIT</th>
                                            <th>INITIAL PRICE/UNIT</th>
                                            <th>COUNTER PRICE/UNIT</th>
                                            <th>PRODUCT STATION</th>
                                            <th>STATUS</th>
                                            <th>ACTION</th>
                                            <th style="background-color: lightblue;color: lightblue;">ACTION</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let order of Matchingdata;let i=index">

                                            <td>
                                                {{order.bidCompanyName|| 'N/A'}}</td>
                                            <td>
                                                {{order.productName|| 'N/A'}}</td>

                                            <td>
                                                {{order.initialQuantity||'N/A'}} {{order.quantityUnit}}</td>
                                            <td>
                                                {{order.bidQuantity ||'N/A'}} {{order.quantityUnit}}</td>
                                            <td>
                                                {{order.price|| 'N/A'}} {{order.priceUnit}}</td>
                                            <td>
                                                {{order.bidPrice|| 'N/A'}} {{order.priceUnit}}</td>

                                            <td>{{order.cityName|| 'N/A'}},{{order.regionName|| 'N/A'}}
                                                ,{{order.districtName|| 'N/A'}}, {{order.stateShortName|| 'N/A'}}</td>
                                            <!-- {{order.stateName,order.stateId,order.stateId,order.stateId}} -->
                                            <td *ngIf="order.isConfirmed==0">Pending</td>
                                            <td *ngIf="order.isConfirmed==1">Confirmed</td>
                                            <td *ngIf="order.isConfirmed==2">Cancelled</td>
                                            <td colspan=""><button *ngIf="order.isApproved==0" class="btn btn-primary"
                                                    (click)="ApproveOrder(order.bidId)">Approve</button>
                                                <h6 *ngIf="order.isApproved==1">
                                                    <span class="badge badge-success">Approved</span>
                                                </h6>
                                                <h6 *ngIf="order.isApproved==2">
                                                    <span class="badge badge-danger">Rejected</span>
                                                </h6>
                                            </td>
                                            <td>
                                                <button *ngIf="order.isApproved==0" class="btn btn-danger"
                                                    (click)="RejectOrder(order.bidId)">Reject</button>
                                            </td>


                                        </tr>
                                        <tr *ngIf="Matchingdata==null">
                                            <td colspan="4">No Record Found!</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </tab>
                        <tab heading="NEGOTIATION">
                            <table class="table table-hover" id="bank-record">
                                <thead>
                                    <tr>
                                        <th>COMPANY NAME</th>
                                        <th>PRODUCT NAME</th>
                                        <th>INITIAL QUANTITY/UNIT</th>
                                        <th>TRADE QUANTITY/UNIT</th>
                                        <th>INITIAL PRICE/UNIT</th>
                                        <th>TRADE PRICE/UNIT</th>
                                        <th>PRODUCT STATION</th>
                                        <th>STATUS</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let order of Nigotiationdata;let i=index">

                                        <td>
                                            {{order.companyName|| 'N/A'}}</td>
                                        <td>
                                            {{order.productName|| 'N/A'}}</td>

                                        <td>
                                            {{order.initialQuantity||'N/A'}} {{order.quantityUnit}}</td>
                                        <td>
                                            {{order.bidQuantity ||'N/A'}} {{order.quantityUnit}}</td>
                                        <td>
                                            {{order.price|| 'N/A'}} {{order.priceUnit}}</td>
                                        <td>
                                            {{order.bidPrice|| 'N/A'}} {{order.priceUnit}}</td>

                                        <!-- <td>{{order.cityName}}</td> -->
                                        <td>{{order.cityName}} , {{order.regionName}}, {{order.districtName}},
                                            {{order.stateShortName}}</td>

                                        <td *ngIf="order.status==0">Pending</td>
                                        <td *ngIf="order.status==1">Approved</td>
                                        <td *ngIf="order.status==2">Cancelled</td>

                                    </tr>
                                    <tr *ngIf="Nigotiationdata==null">
                                        <td colspan="4">No Record Found!</td>
                                    </tr>
                                </tbody>
                            </table>
                        </tab>
                    </tabset>

                </div>
            </div>
        </div>
        <div class="col-5 mb-4">

        </div>
    </div>
    <div class="row">
        <div class="col-7 mb-4">
            <div class="card">


            </div>
        </div>


    </div>
    <simple-notifications></simple-notifications>
    <ng-template #editorderModal>
        <div class="modal-content" style="overflow-x: hidden;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" *ngIf="orderType==1">ASK</h5>
                <h5 class="modal-title" id="exampleModalLabel" *ngIf="orderType==2">BID</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editOrderForm" [formGroup]="editOrderForm" (ngSubmit)="Editorder(editOrderForm)">

                    <div class="form-row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label for="accountHolderName">Company Name</label>

                                    <input type="text" name="ConpanyName" disabled required class="form-control"
                                         placeholder="Company Name" formControlName="ConpanyName">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="accountHolderName">Product Name</label>

                                    <input type="text" name="ProductName" disabled required class="form-control"
                                         placeholder="Product Name" formControlName="ProductName">
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="accountHolderName">Sub Product Name</label>

                                    <input type="text" name="SubProductName" disabled required class="form-control"
                                         placeholder="Sub Product" formControlName="SubProductName">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="accountHolderName">Variety Name</label>

                                    <input type="text" name="VarietyName" disabled required class="form-control"
                                        placeholder="Variety" formControlName="VarietyName">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="accountHolderName">State</label>
                                    <!-- <select name="state" class="form-control" required formControlName="state"
                                        (change)="CheckProductState($event.target.value)">
                                        <option value="">Select State</option>
                                        <option *ngFor="let state of states" value="{{state.stateId}}">
                                            {{state.stateName}}</option>
                                    </select> -->
                                    <input type="text" name="state" disabled required class="form-control"
                                        placeholder="Location" formControlName="state">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="accountHolderName">Region</label>
                                    <!-- <select name="state" class="form-control" required formControlName="region"
                                        (change)="GetDistrictForRegion($event.target.value)">
                                        <option value="">Select Region</option>
                                        <option *ngFor="let reg of region" value="{{reg.regionId}}">
                                            {{reg.regionName}}</option>
                                    </select> -->
                                    <input type="text" name="region" disabled required class="form-control"
                                     placeholder="Location" formControlName="region">
                                </div>
                                <!-- <div class="form-group col-md-4">
                                    <label for="accountHolderName">Zone</label>

                                    <input type="text" name="cityState" disabled required class="form-control"
                                        id="price" placeholder="Location" formControlName="cityState">
                                </div> -->
                                <div class="form-group col-md-4" *ngIf="zoneFlag==0">
                                    <label for="state">Zone</label>

                                    <select name="state" class="form-control" required formControlName="district" [(ngModel)]="zoneP"
                                        (change)="Getcity($event.target.value)">
                                        <option value="">Select Zone</option>
                                        <option *ngFor="let district of zones" value="{{district.districtId}}">
                                            {{district.districtName}}</option>
                                    </select>
                                    <!-- <div class="invalid-tooltip"
                                        *ngIf="offerForm.get('district').hasError('required') && offerForm.get('district').touched">
                                        Required field!</div> -->
                                </div>
                                <div class="form-group col-md-4" *ngIf="zoneFlag!=0">
                                    <label for="state">Zone</label>

                                    <input type="text" name="district" disabled required class="form-control"
                                     placeholder="District" formControlName="district">
                                    <!-- <div class="invalid-tooltip"
                                        *ngIf="offerForm.get('district').hasError('required') && offerForm.get('district').touched">
                                        Required field!</div> -->
                                </div>
                                <div class="form-group col-md-4" *ngIf="stationFlag==0">
                                    <label for="accountHolderName">Station</label>
                                    <select name="city" class="form-control" required formControlName="city" [(ngModel)]="stationP">
                                        <option value="">Select Station</option>
                                        <option *ngFor="let city of City" value="{{city.cityId}}">
                                            {{city.cityName}}</option>
                                    </select>

                                    <!-- <input type="text" name="cityState" disabled required class="form-control"
                                        id="price" placeholder="Location" formControlName="cityState"> -->
                                </div>
                                <div class="form-group col-md-4" *ngIf="stationFlag!=0">
                                    <label for="accountHolderName">Station</label>
                                    <input type="text" name="city" disabled required class="form-control"
                                    placeholder="District" formControlName="city">
                                    <!-- <select name="city" class="form-control" required formControlName="city" [(ngModel)]="stationP">
                                        <option value="">Select Station</option>
                                        <option *ngFor="let city of City" value="{{city.cityId}}">
                                            {{city.cityName}}</option>
                                    </select> -->

                                    <!-- <input type="text" name="cityState" disabled required class="form-control"
                                        id="price" placeholder="Location" formControlName="cityState"> -->
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="accountHolderName">Payment Mode</label>

                                    <input type="text" name="PaymentMode" disabled required class="form-control"
                                         placeholder="Payment Mode" formControlName="PaymentMode">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="accountHolderName">Emd %</label>

                                    <input type="text" name="EmdPercent" disabled required class="form-control"
                                     placeholder="Emd" formControlName="EmdPercent">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="accountHolderName">Payment Timeline</label>

                                    <input type="text" name="PaymentTimeline" disabled required class="form-control"
                                        placeholder="Payment Timeline" formControlName="PaymentTimeline">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="accountHolderName">Grade </label>

                                    <input type="text" name="Grade" disabled required class="form-control" 
                                        placeholder="AGrade" formControlName="Grade">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="accountHolderName">Order Date</label>

                                    <input type="text" name="OrderDate" disabled required class="form-control"
                                         placeholder="Order Date" formControlName="OrderDate">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="accountHolderName">Season Year</label>

                                    <input type="text" name="HarvestedMonthyear" disabled required class="form-control"
                                         placeholder="Season" formControlName="SeasonYear">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="accountHolderName">Delivery Type</label>

                                    <input type="text" name="DeliveryType" disabled required class="form-control"
                                         placeholder="Season" formControlName="DeliveryType">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="table-responsive">
                                <table class="table-spaec table-hover">

                                    <tbody *ngFor="let tabdata of tabledata;">
                                        <tr *ngFor="let header of tableHeader "
                                            style="background: lightblue;border-color: rgb(22, 19, 19);font-size:larger;font-weight: bold;text-align: center">
                                            {{header}}
                                            <td
                                                style="background: rgb(255, 255, 255);border-color: rgb(32, 20, 20);font-size:small">
                                                {{tabdata[header]}}</td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="accountHolderName">Price</label>

                            <input type="number" name="Orderprice" disabled class="form-control" id="price"
                                (keyup)="checkprice($event.target.value)" placeholder="Account Holder Name"
                                formControlName="Orderprice">
                            <div class="invalid-tooltip"
                                *ngIf="editOrderForm.get('Orderprice').hasError('required') && editOrderForm.get('Orderprice').touched">
                                Price is required!</div>
                            <div class="text-danger" *ngIf="Priceerrormessage">
                                {{Priceerrormessage}}</div>
                        </div>
                        <!-- <div class="col-md-2">
                        <label for="">{{PriceUnit}}</label>
                    </div> -->
                        <div class="form-group col-md-2">
                            <label for="Pmode"></label>
                            <div class="input-group-append mt-2" style="margin-left: -10px"><span
                                    class="input-group-text"
                                    style="background-color: #145388;color:white">{{PriceUnit}}</span></div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="Orderprice">Quantity</label>
                            <input type="number" name="OrderQuantity" required
                                (keyup)="checkquantity($event.target.value)" class="form-control" id="OrderQuantity"
                                placeholder="Quantity" formControlName="OrderQuantity">

                            <div class="invalid-tooltip"
                                *ngIf="editOrderForm.get('OrderQuantity').hasError('required') && editOrderForm.get('OrderQuantity').touched">
                                Quantity is required!</div>
                            <div class="text-danger" *ngIf="errormessage">
                                {{errormessage}}</div>
                            <div class="invalid-tooltip"
                                *ngIf="editOrderForm.get('OrderQuantity').invalid && editOrderForm.get('OrderQuantity').touched">
                                Please input valid quantity!</div>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="Pmode"></label>
                            <div class="input-group-append mt-2" style="margin-left: -10px;"><span
                                    class="input-group-text"
                                    style="background-color: #145388;color:white">{{QUnit}}</span></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Place
                            Order</button>
                    </div>
                </form>
            </div>
        </div>
    </ng-template>
    <!-- <ng-template #editOpenorderModal>
        <div class="modal-content" style="overflow-x: hidden;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Order</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editOpenOrderForm" [formGroup]="editOpenOrderForm"
                    (ngSubmit)="UpdateOrder(editOpenOrderForm)">

                    <div class="form-row">


                        <div class="form-group col-md-8">
                            <label for="Orderprice">Quantity</label>
                            <input type="number" name="OrderQuantity" required class="form-control" id="OrderQuantity"
                                placeholder="Quantity" formControlName="OrderQuantity">

                            <div class="invalid-tooltip"
                                *ngIf="editOpenOrderForm.get('OrderQuantity').hasError('required') && editOpenOrderForm.get('OrderQuantity').touched">
                                Quantity is required!</div>
                            <div class="invalid-tooltip"
                                *ngIf="editOpenOrderForm.get('OrderQuantity').invalid && editOpenOrderForm.get('OrderQuantity').touched">
                                Please input valid quantity!</div>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="Pmode">Unit</label>
                            <select name="QuantityUnit" class="form-control" formControlName="QuantityUnit" required
                                style="background-color: #145388;color:white">
                                <option value="">Select Unit</option>
                                <option>{{Unitone}}</option>
                                <option>{{Unittwo}}</option>
                                <option>{{Unitthree}}</option>
                            </select>
                        </div>
                    </div>



                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" [disabled]="!editOpenOrderForm.valid">Update
                            Order</button>
                    </div>
                </form>
            </div>
        </div>
    </ng-template> -->