#bank-offer{
    border-collapse: collapse;
    width: auto;
  
}
#bank-offer th {
    height: 70px;
  }
  #bank-offer td, th {
    border: 2px solid black;
  }
  .table-order{
    height: 489px;
  }
  .table-matching{
    height: 200px;

  }
  .graph-body{
    height:317px;
  }
  //***************table design
  // td, th {
  //   width: 4rem;
  //   height: 2rem;
  //   padding: 1rem;
  
  //   text-align: center;
  // }
  tr{
    text-align: center;
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
  }
  th {
    background: lightblue;
  border: black;
  }
  .table-spaec{
    border-style: double;
    border-color: solid 1px;
  }
  // body {
  //   padding: 1rem;
  // }
  //***************table design
  .radio-sp{
    margin-left: 10px;
  }
  .radio-gap{
    margin-left: 20px;
  }
  #myInput1 {
    /* background-image: url('../../assets/img/searchiconf.png'); */
   
    background-repeat: no-repeat;
    width: 100%;
    font-size: 13px;
    padding: 12px 20px 12px 40px;
    margin-top: 0px;
    margin-left: 4px;
    color: #080808;
    background-color: white;
    height: 38px;
  }
  #myInput2 {
    /* background-image: url('../../assets/img/searchiconf.png'); */
   
    width: 100%;
    font-size: 14px;
    padding: 12px 20px 12px 40px;
    margin-top: 0px;
    margin-left: 2px;
    color: #080808;
    background-color: white;
    height: 38px;
  }
  .dropdown-menu{
    background-color:white;
    
    }
    div#asset-table {
      width: 133px;
    margin-left: 24px;
    height: 200px;
    overflow-y: auto;
    background-color: white
      
    }
    div#assetP-table[_ngcontent-mwh-c100] {
      /* width: 133px; */
      /* margin-left: 24px; */
      height: 104px;
      overflow-y: auto;
      background-color: white;
  }
  .table-spaec {
height:300px;
  }  
  //for toggle
    .switch-toggle {
      float: left;
      background:#c5d6da;
      // width: 177px;
    height: 33px;
    border-radius: 5px;
   }
   .switch-toggle input {
     position: absolute;
     opacity: 0;
   }
   .switch-toggle input + label {
     padding: 7px;
     float:left;
     color: rgb(19, 18, 18);
     cursor: pointer;
     width: 59px;
   }
   .switch-toggle input:checked + label {
     background: rgb(136, 139, 136);
   }
   .switch-toggle[_ngcontent-wmi-c100] input[_ngcontent-wmi-c100]:checked + label[_ngcontent-wmi-c100] {
    background: #888b88;
    height: 25px;
}
    //end for toggle
    //@at-root
    // .switch {
    //   position: relative;
    //   display: inline-block;
    //   width: 60px;
    //   height: 34px;
    // }
    
    // .switch input { 
    //   opacity: 0;
    //   width: 0;
    //   height: 0;
    // }
    
    // .slider {
    //   position: absolute;
    //   cursor: pointer;
    //   top: 0;
    //   left: 0;
    //   right: 0;
    //   bottom: 0;
    //   background-color: #c5d6da;
    //   -webkit-transition: .4s;
    //   transition: .4s;
    // }
    
    // .slider:before {
    //   position: absolute;
    //   content: "";
    //   height: 26px;
    //   width: 26px;
    //   left: 4px;
    //   bottom: 4px;
    //   background-color: white;
    //   -webkit-transition: .4s;
    //   transition: .4s;
    // }
    
    // input:checked + .slider {
    //   background-color: green;
    // }
    
    // input:focus + .slider {
    //   box-shadow: 0 0 1px green;
    // }
    
    // input:checked + .slider:before {
    //   -webkit-transform: translateX(26px);
    //   -ms-transform: translateX(26px);
    //   transform: translateX(26px);
    // }
    
    /* Rounded sliders */
  //   .slider.round {
  //     border-radius: 34px;
  //   }
    
  //   .slider.round:before {
  //     border-radius: 50%;
  //   }
  //   label.togglee-text {
  //     margin-top: 8px;
  //     margin-right: 5px;
  //     margin-left: 5px;
  //     font-weight: bold;
  // }
    //-----------
    * { box-sizing: border-box; }
html, body {   height: 100%; }
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica, Arial, sans-serif;
}

.custom-checkbox {
  width: 340px;
  height: 80px;
  input#status {
    display: none;
     // Unchecked State
    + label {
      height: 42%;
      width: 100%;
      > .status-switch {
        cursor: pointer;
        width: 100%;
        height: 100%;
        position: relative;
        background-color: grey;
        color: white;
        transition: all 0.5s ease;
        padding: 3px;
        border-radius: 3px;

        &:before,
        &:after {
          border-radius: 2px;
          height: calc(100% - 6px);
          width: calc(50% - 3px);
          display: flex;
          align-items: center;
          position: absolute;
          justify-content: center;
          transition: all 0.3s ease;
        }
        
        &:before {
          background-color: #c5d6da;
          color: black;
          box-shadow: 0 0 4px 4px rgba(#000, 0.2);
          left: 3px;
          z-index: 10;
          content: attr(data-unchecked);
        }
        
        &:after {
          right: 0;
          content: attr(data-checked);
        }
      }
    }

    // Checked stae
    &:checked + label > .status-switch {
      background-color: rgb(20,83,136);
 
      &:after {
        left: 0;
        content: attr(data-unchecked);
      }
 
      &:before {
        color:  rgb(20,83,136);
        left: 50%;
        content: attr(data-checked);
      }
    }
  }
}
    //