<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <app-breadcrumb></app-breadcrumb>
        <div class="separator mb-5"></div>
    </div>
</div>
<div class="row">
    <div class="col-12 mb-4">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-md-3">
                        <label for="dateRange"><b>Select Date Range</b></label>
                        <input class="form-control inp mt-1" #drp="bsDaterangepicker" bsDaterangepicker
                            placeholder="Select Date Range" style="background-color: white;" readonly
                            [bsConfig]="{ ranges: ranges,rangeInputFormat : 'DD-MM-YYYY', dateInputFormat: 'DD-MM-YYYY'}"
                            [container]="'html'" [ngModel]="bsRangeValue"
                            (ngModelChange)="bsRangeValue=$event;getSelectionTcn();" />
                    </div>
                    <div class="col-md-3">
                        <label for="state"><b>Select Product</b></label>
                        <select class="form-control inp" name="state" [(ngModel)]="productId"
                            (change)="GetAllSubProducts($event.target.value);getSelectionTcn();">
                            <option value="0" disabled>Select Product</option>
                            <option *ngFor="let product of productList;" [value]="product.productId">
                                {{product.productName}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="state"><b>Select Sub Product</b></label>
                        <select class="form-control inp" name="state" [(ngModel)]="subProductId"
                            (change)="getSelectionTcn();Getunit();getSeason();">
                            <option value="0" disabled>Select Sub Product</option>
                            <option *ngFor="let product of subProductList;" [value]="product.subProductId">
                                {{product.subProductName}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="state"><b>Select Season</b></label>
                        <select class="form-control inp" name="state" [(ngModel)]="seasonId"
                            (change)="getSelectionTcn()">
                            <option value="0" disabled>Select Season</option>
                            <option *ngFor="let season of seasonList;" [value]="season.season_id">
                                {{season.season_year}}
                        </select>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-3">
                        <label for="state"><b>Select State</b></label>
                        <select class="form-control inp" name="state" [(ngModel)]="stateId"
                            (change)="getSelectionTcn();getRDCList($event.target.value,0,'region');">
                            <option value="0" disabled>Select State</option>
                            <option [value]="state.stateId" *ngFor="let state of stateList">{{state.stateName}}</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="company"><b>Search Company</b></label>
                        <input id="searchBar" (typeaheadOnSelect)="onSelect($event);getSelectionTcn();"
                            typeaheadWaitMs="500" [isAnimated]="true" [typeaheadScrollable]="true" [ngModel]="search"
                            (ngModelChange)="buyerCompanyId=0;sellerCompanyId=0;search=$event;getSelectionTcn();"
                            typeaheadOptionField="companyName" [typeahead]="suggestions$" [typeaheadAsync]="true"
                            class="form-control inp mt-1" placeholder="Enter Company Name">
                        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
                            {{ errorMessage }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="tnc"><b>Select TCN</b></label>
                        <select class="form-control inp" name="tcn" [(ngModel)]="tncId"
                            (change)="permissionForAdding($event.target.value)">
                            <option value="" disabled>Select TCN</option>
                            <option [value]="tcn.tcn" *ngFor="let tcn of tcnList;">{{tcn.tcn}}</option>
                        </select>
                    </div>
                </div>
                <ng-container *ngIf="isAddEnable">
                    <!-- <hr /> -->
                    <!-- <div class="row">
                        <div class="col-3 my-auto">
                            <b>Buyer Name&nbsp;:</b>&nbsp;{{buyerName||'N/A'}}
                        </div>
                        <div class="col-3 my-auto">
                            <b>Quantity&nbsp;:</b>&nbsp;{{quantity}}
                        </div>
                        <div class="col-3 my-auto">
                            <b>Selection Due Date&nbsp;:</b>&nbsp;{{(dueSelectionDate|date:'medium')||'N/A'}}
                        </div>
                        <div class="col-3 my-auto">
                            <button [disabled]="!isAddEnable" class="btn btn-primary btn-sm float-right mb-2 pb-2"
                                (click)="addSellerRow()"><i class="simple-icon-plus"></i>&nbsp;Add</button>
                        </div>
                    </div> -->
                    <table class="table table-borderless mt-3 mb-3">
                        <tbody>
                            <tr>
                                <td>
                                    <b>Buyer Name&nbsp;:</b>&nbsp;{{buyerName||'N/A'}}
                                </td>
                                <td>
                                    <b>Quantity&nbsp;:</b>&nbsp;{{quantity}}
                                </td>
                                <td>
                                    <b>Selection Due Date&nbsp;:</b>&nbsp;{{(dueSelectionDate|date:'medium')||'N/A'}}
                                </td>
                                <td>
                                    <b>Selection&nbsp;:</b>&nbsp;{{selectionName||'N/A'}}
                                </td>
                                <td *ngIf="selectionId==1 && paymentModeId==3">
                                    <button [disabled]="!isAddEnable"
                                        class="btn btn-primary btn-sm float-right mb-2 pb-2" (click)="addSellerRow()"><i
                                            class="simple-icon-plus"></i>&nbsp;Add</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <hr /> -->
                    <form [formGroup]="sellerForm" (ngSubmit)="onSellerFormSubmit(sellerForm)">
                        <div class="table-responsive shadow-sm bg-white rounded">
                            <table class="table text-center table-hover mb-0 pb-0">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>SNo</th>
                                        <th>Region</th>
                                        <th>Zone</th>
                                        <th>City</th>
                                        <th>Quantity</th>
                                        <th>Product Unit</th>
                                        <th>Lot No</th>
                                        <th>Party Lot No</th>
                                        <!-- <th>PR No</th> -->
                                        <th>Storage Location</th>
                                        <th *ngIf="selectionId==1 && paymentModeId==3">Action</th>
                                    </tr>
                                </thead>
                                <tbody formArrayName="sellerFormArray">
                                    <tr *ngFor="let control of sellerFormArray.controls;let i=index;"
                                        formGroupName="{{i}}">
                                        <td class="font-weight-bold">{{i+1}}</td>
                                        <td>
                                            <span class="input-group-text font-weight-bold"
                                                *ngIf="userType=='3'">{{sellerRegionName||'N/A'}}</span>
                                            <span class="input-group-text font-weight-bold"
                                                *ngIf="userType=='1'">{{traderRegionName||'N/A'}}</span>
                                            <select *ngIf="!isRegionFound && userType=='2'" class="form-control"
                                                formControlName="regionId">
                                                <option value="" disabled>Select Region</option>
                                                <option *ngFor="let reg of regionList" value="{{reg.regionId}}">
                                                    {{reg.regionName}}</option>
                                            </select>
                                            <select *ngIf="isRegionFound && userType=='2'" class="form-control"
                                                formControlName="regionId"
                                                (change)="getRDCList($event.target.value,i,'district')">
                                                <option value="" disabled>Select Region</option>
                                                <option *ngFor="let reg of regionList" value="{{reg.regionId}}">
                                                    {{reg.regionName}}</option>
                                            </select>
                                            <div class="alert alert-danger m-0 p-0" *ngIf="sellerFormArray.controls[i].get('regionId').hasError('required') && 
                                        sellerFormArray.controls[i].get('regionId').touched">*region is
                                                required!</div>
                                        </td>
                                        <td>
                                            <span class="input-group-text font-weight-bold"
                                                *ngIf="userType=='3'">{{sellerZoneName||'N/A'}}</span>
                                            <span class="input-group-text font-weight-bold"
                                                *ngIf="userType=='1' && traderZoneId>0">{{traderZoneName||'N/A'}}</span>
                                            <select *ngIf="userType!='3' && traderZoneId==0" class="form-control"
                                                formControlName="districZoneId"
                                                (change)="getRDCList($event.target.value,i,'city')">
                                                <option value="" disabled>Select Zone</option>
                                                <ng-container *ngIf="!isRegionFound && userType=='2'">
                                                    <option *ngFor="let district of districtList[0]"
                                                        value="{{district.districtId}}">
                                                        {{district.districtName}}</option>
                                                </ng-container>
                                                <ng-container *ngIf="isRegionFound && userType=='2'">
                                                    <option *ngFor="let district of districtList[i]"
                                                        value="{{district.districtId}}">
                                                        {{district.districtName}}</option>
                                                </ng-container>
                                                <ng-container *ngIf="userType=='1' && traderZoneId==0">
                                                    <option *ngFor="let district of districtList[0]"
                                                        value="{{district.districtId}}">
                                                        {{district.districtName}}</option>
                                                </ng-container>
                                            </select>
                                            <div class="alert alert-danger m-0 p-0" *ngIf="sellerFormArray.controls[i].get('districZoneId').hasError('required') && 
                                        sellerFormArray.controls[i].get('districZoneId').touched">*zone is
                                                required!</div>
                                        </td>
                                        <td>
                                            <span class="input-group-text font-weight-bold"
                                                *ngIf="userType=='3'">{{sellerCityName||'N/A'}}</span>
                                            <span class="input-group-text font-weight-bold"
                                                *ngIf="userType=='1' && traderCityId>0">{{traderCityName||'N/A'}}</span>
                                            <select *ngIf="userType!='3' && traderCityId==0" class="form-control"
                                                formControlName="cityId">
                                                <option value="" disabled>Select City</option>
                                                <option *ngFor="let city of cityList[i]" value="{{city.cityId}}">
                                                    {{city.cityName}}</option>
                                            </select>
                                            <div class="alert alert-danger m-0 p-0" *ngIf="sellerFormArray.controls[i].get('cityId').hasError('required') && 
                                        sellerFormArray.controls[i].get('cityId').touched">*city is required!</div>
                                        </td>
                                        <td>
                                            <!-- <input type="text" class="form-control" formControlName="quantity"
                                                placeholder="Enter Quantity" />
                                            <small class="text-danger float-left" *ngIf="sellerFormArray.controls[i].get('quantity').hasError('required') && 
                                        sellerFormArray.controls[i].get('quantity').touched">*quantity is
                                                required!</small> -->
                                            <span
                                                class="input-group-text font-weight-bold">{{sellerFormArray.controls[i].get('quantity').value||'N/A'}}</span>
                                        </td>
                                        <td>
                                            <span
                                                class="input-group-text font-weight-bold">{{(productUnit!=null?productUnit.quantityUnitCode:0)||'N/A'}}</span>
                                            <!-- <select class="form-control" formControlName="productUnit">
                                                <option value="" disabled>Product Unit</option>
                                                <option *ngIf="productUnit.productUnitId!=null"
                                                    [value]="productUnit.productUnitId">
                                                    {{productUnit.quantityUnitCode}}</option>
                                            </select>
                                            <small class="text-danger float-left" *ngIf="sellerFormArray.controls[i].get('productUnit').hasError('required') && 
                                        sellerFormArray.controls[i].get('productUnit').touched">*product unit is
                                                required!</small> -->
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" formControlName="lotNo"
                                                placeholder="Enter Lot No"
                                                (change)="checkDuplicateLotNo($event.target.value,i)" />
                                            <div class="alert alert-danger m-0 p-0" *ngIf="sellerFormArray.controls[i].get('lotNo').hasError('required') && 
                                        sellerFormArray.controls[i].get('lotNo').touched">*lotNo is
                                                required!</div>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" formControlName="partyLotNo"
                                                placeholder="Enter Party Lot No"
                                                (change)="sellerFormArray.controls[i].get('prNo').setValue(sellerFormArray.controls[i].get('partyLotNo').value)" />
                                            <div class="alert alert-danger m-0 p-0" *ngIf="sellerFormArray.controls[i].get('partyLotNo').hasError('required') && 
                                        sellerFormArray.controls[i].get('partyLotNo').touched">*party lot no is
                                                required!</div>
                                        </td>
                                        <!-- <td>
                                            <input type="text" class="form-control" formControlName="prNo"
                                                placeholder="Enter PR No" />
                                            <small class="text-danger float-left" *ngIf="sellerFormArray.controls[i].get('prNo').hasError('required') && 
                                        sellerFormArray.controls[i].get('prNo').touched">*pr no is required!</small>
                                        </td> -->
                                        <td>
                                            <input type="text" class="form-control" formControlName="storageLocation"
                                                placeholder="Enter Storage Location" />
                                            <div class="alert alert-danger m-0 p-0" *ngIf="sellerFormArray.controls[i].get('storageLocation').hasError('required') && 
                                        sellerFormArray.controls[i].get('storageLocation').touched">*storageLocation is
                                                required!</div>
                                        </td>
                                        <td *ngIf="selectionId==1 && paymentModeId==3">
                                            <button class="btn btn-danger" (click)="removeSellerRow(i)"
                                                [disabled]="i==0"><i class="simple-icon-minus"></i>&nbsp;Remove</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <button class="btn btn-success float-left mt-3" [disabled]="!sellerForm.valid"><i
                                class="simple-icon-check"></i>&nbsp;Submit</button>
                    </form>
                </ng-container>
            </div>
        </div>
    </div>
</div>
<simple-notifications></simple-notifications>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="line-scale" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>