<div class="card">
    <div class="card-body">
        <div class="row mt-0 pt-0 mb-3 border-bottom align-items-center">
            <div class="col-12 pb-2 mb-2">
                <span class="float-left mt-2">Hi
                    <b>{{name||'N/A'}}</b>,<b>{{email||'N/A'}}</b>,<b>{{mobileNo||'N/A'}}</b></span>
                <a href="javascript:void(0);" class="btn btn-md btn-primary float-right" [routerLink]="['/login']"><i
                        class="simple-icon-power"></i>&nbsp;logout</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <aw-wizard #wizard [awNavigationMode] navigateBackward="deny" [defaultStepIndex]="processStep-1">

                    <aw-wizard-step [awCompletedStep]="processStep>1" stepTitle="Company" style="min-height: 120px;">
                        <form [formGroup]="gstForm">
                            <div class="row p-2">

                                <div class="col-md-6">
                                    <label><span class="text-danger">*</span><b>GSTIN</b></label>
                                    <input type="text" class="form-control" placeholder="Enter 15 Digit GSTIN"
                                        (keyup.enter)="validateGstNo($event.target.value)"
                                        (change)="validateGstNo($event.target.value)" formControlName="gstNo">
                                    <div *ngIf="(gstForm.get('gstNo')?.errors?.required&&gstForm.get('gstNo').touched)"
                                        class="alert alert-danger m-0 p-0 text-center">GSTIN is required!</div>
                                    <div *ngIf="(gstForm.get('gstNo')?.errors?.minlength&&gstForm.get('gstNo').touched)"
                                        class="alert alert-danger m-0 p-0 text-center">15 digit is required!</div>
                                    <div *ngIf="(gstForm.get('gstNo')?.errors?.maxlength&&gstForm.get('gstNo').touched)"
                                        class="alert alert-danger m-0 p-0 text-center">15 digit is required!</div>
                                    <small><b class="text-danger">*</b>enter 15 digit alphanumeric GSTIN no as mentioned
                                        in gst certificate and press enter</small>
                                </div>

                                <div class="col-md-6">
                                    <label><span class="text-danger">*</span><b>Business Type</b></label>
                                    <ng-select [items]="businessTypeList" bindLabel="businessTypeName"
                                        bindValue="businessTypeId" [multiple]="true" formControlName="businessType"
                                        placeholder="Select Business Type" (change)="checkBusinessType($event)">
                                    </ng-select>
                                    <div *ngIf="(gstForm.get('businessType')?.errors?.required&&gstForm.get('businessType').touched)"
                                        class="alert alert-danger m-0 p-0 text-center">Business Type is required!</div>
                                    <small><b class="text-danger">*</b>select one/multiple business type from given
                                        bussiness type</small>
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-md-6">
                                    <label><span class="text-danger">*</span><b>OTP</b></label>
                                    <input type="text" class="form-control" placeholder="Enter OTP"
                                        formControlName="otp">
                                    <div *ngIf="(gstForm.get('otp')?.errors?.required&&gstForm.get('otp').touched)"
                                        class="alert alert-danger m-0 p-0 text-center">OTP is required!</div>
                                    <small><b class="text-danger">*</b>you will soon receive an otp on your phone no
                                        linked with GSTIN</small>
                                </div>
                                <div class="col-md-6">
                                    <label><span class="text-danger">*</span><b>GSTIN Certificate</b></label>
                                    <input #gstFile class="form-control" type="file"
                                        (click)="gstForm.get('gstFile').markAsTouched();"
                                        (change)="setFile($event.target.files[0],gstForm.get('gstFile'));"
                                        accept="application/pdf" />
                                    <div *ngIf="(gstForm.get('gstFile')?.errors?.required&&gstForm.get('gstFile').touched)"
                                        class="alert alert-danger m-0 p-0 text-center">GSTIN file is required!</div>
                                    <small><b class="text-danger">*</b>upload GSTIN certificate in pdf format</small>
                                </div>
                            </div>
                        </form>
                        <div class="text-center mt-4">
                            <button type="button" class="btn btn-success" (click)="addCompanyDetails();">
                                verify&nbsp;<i class="simple-icon-check"></i></button>
                        </div>
                    </aw-wizard-step>

                    <aw-wizard-step [awCompletedStep]="processStep>2" stepTitle="Auth Signatory"
                        style="min-height: 120px;">
                        <div class="table table-responsive shadow-sm bg-white rounded mt-2">
                            <form [formGroup]="panForm">
                                <table class="table table-hover text-center mb-0 pb-0">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>SNo</th>
                                            <th>Name</th>
                                            <th><b class="text-danger">*</b>PAN No</th>
                                            <th><b class="text-danger">*</b>DOB</th>
                                            <th><b class="text-danger">*</b>PAN File</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody formArrayName="panFormArray">
                                        <tr *ngIf="promotorList.length==0">
                                            <td colspan="6" class="text-center">No Record Found!</td>
                                        </tr>
                                        <tr *ngFor="let control of panFormArray.controls;let i=index;"
                                            formGroupName="{{i}}">
                                            <td class="font-weight-bold">{{i+1}}</td>
                                            <td class="my-auto font-weight-bold text-center"
                                                [attr.colspan]="panArray[i]==true?5:0">
                                                {{promotorList[i].promoterName||'N/A'}}
                                            </td>
                                            <td *ngIf="!panArray[i]">
                                                <input type="text" class="form-control"
                                                    placeholder="Enter 10 Digit PAN No" formControlName="panNo"
                                                    style="text-transform:uppercase" />
                                                <div *ngIf="(panFormArray.controls[i].get('panNo')?.errors?.required&&panFormArray.controls[i].get('panNo').touched)"
                                                    class="alert alert-danger m-0 p-0 text-center">PAN No is required!
                                                </div>
                                                <div *ngIf="(panFormArray.controls[i].get('panNo')?.errors?.minlength&&panFormArray.controls[i].get('panNo').touched)"
                                                    class="alert alert-danger m-0 p-0 text-center">10 digit is required!
                                                </div>
                                                <div *ngIf="(panFormArray.controls[i].get('panNo')?.errors?.maxlength&&panFormArray.controls[i].get('panNo').touched)"
                                                    class="alert alert-danger m-0 p-0 text-center">10 digit is required!
                                                </div>
                                                <small><b class="text-danger">*</b>enter 10 digit alphanumeric PAN
                                                    no as mentioned in pan card</small>
                                            </td>
                                            <td *ngIf="!panArray[i]">
                                                <input class="form-control bg-white" #datepickerYMD1="bsDatepicker"
                                                    bsDatepicker formControlName="dob"
                                                    [bsConfig]="{dateInputFormat: 'DD-MM-YYYY'}"
                                                    placeholder="Choose Date Of Birth" [container]="'html'" readonly>
                                                <div *ngIf="(panFormArray.controls[i].get('dob')?.errors?.required&&panFormArray.controls[i].get('dob').touched)"
                                                    class="alert alert-danger m-0 p-0 text-center">DOB is required!
                                                </div>
                                                <small><b class="text-danger">*</b>choose DOB as mentioned in pan
                                                    card</small>
                                            </td>
                                            <td *ngIf="!panArray[i]">
                                                <input #panFile class="form-control" type="file"
                                                    (click)="panFormArray.controls[i].get('panFile').markAsTouched();"
                                                    (change)="setFile($event.target.files[0],panFormArray.controls[i].get('panFile'));" />
                                                <div *ngIf="(panFormArray.controls[i].get('panFile')?.errors?.required&&panFormArray.controls[i].get('panFile').touched)"
                                                    class="alert alert-danger m-0 p-0 text-center">PAN file is required!
                                                </div>
                                                <small><b class="text-danger">*</b>upload pan card front image</small>
                                            </td>
                                            <td *ngIf="!panArray[i]">
                                                <button type="button" class="btn btn-success"
                                                    (click)="promoterVeryPan(i)">
                                                    verify&nbsp;<i class="simple-icon-check"></i></button>
                                                <span *ngIf="panArray[j]">-</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                        <div class="text-center mt-2" *ngIf="isPanVerified">
                            <button type="button" class="btn btn-primary" (click)="next()">{{ 'wizard.next' |
                                translate }}&nbsp;<i class="simple-icon-arrow-right"></i></button>
                        </div>
                    </aw-wizard-step>

                    <aw-wizard-step [awCompletedStep]="processStep>3" stepTitle="Auth Person"
                        style="min-height: 120px;">
                        <form [formGroup]="aadhaarForm">
                            <div class="row p-2">
                                <div class="col-md-6">
                                    <label><span class="text-danger">*</span><b>Phone No</b></label>
                                    <input type="text" class="form-control" placeholder="Enter Phone No"
                                        formControlName="phoneNo">
                                    <div *ngIf="(aadhaarForm.get('phoneNo')?.errors?.required&&aadhaarForm.get('phoneNo').touched)"
                                        class="alert alert-danger m-0 p-0 text-center">Phone No is required!</div>
                                </div>
                                <div class="col-md-6">
                                    <label><span class="text-danger">*</span><b>Email</b></label>
                                    <input type="text" class="form-control" placeholder="Enter Email"
                                        formControlName="email">
                                    <div *ngIf="(aadhaarForm.get('email')?.errors?.required&&aadhaarForm.get('email').touched)"
                                        class="alert alert-danger m-0 p-0 text-center">Email is required!</div>
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-md-6">
                                    <label><span class="text-danger">*</span><b>Aadhaar No</b></label>
                                    <input type="text" class="form-control" placeholder="Enter Aadhaar No"
                                        (keyup.enter)="checkAadharNumber($event.target.value)"
                                        (change)="checkAadharNumber($event.target.value)" formControlName="aadhaarNo">
                                    <div *ngIf="(aadhaarForm.get('aadhaarNo')?.errors?.required&&aadhaarForm.get('aadhaarNo').touched)"
                                        class="alert alert-danger m-0 p-0 text-center">Aadhaar No is required!</div>
                                    <div *ngIf="(aadhaarForm.get('aadhaarNo')?.errors?.minlength&&aadhaarForm.get('aadhaarNo').touched)"
                                        class="alert alert-danger m-0 p-0 text-center">12 digit is required!</div>
                                    <div *ngIf="(aadhaarForm.get('aadhaarNo')?.errors?.maxlength&&aadhaarForm.get('aadhaarNo').touched)"
                                        class="alert alert-danger m-0 p-0 text-center">12 digit is required!</div>
                                    <small><b class="text-danger">*</b>enter 12 digit alphanumeric Aadhaar no as
                                        mentioned in aadhaar and press enter</small>
                                </div>
                                <div class="col-md-6">
                                    <label><span class="text-danger">*</span><b>OTP</b></label>
                                    <input type="text" class="form-control" placeholder="Enter OTP"
                                        formControlName="otp">
                                    <div *ngIf="(aadhaarForm.get('otp')?.errors?.required&&aadhaarForm.get('otp').touched)"
                                        class="alert alert-danger m-0 p-0 text-center">OTP is required!</div>
                                    <small><b class="text-danger">*</b>you will soon receive an OTP on your phone no
                                        linked with aadhaar no</small>
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-md-6">
                                    <label><span class="text-danger">*</span><b>PAN NO</b></label>
                                    <input type="text" class="form-control" placeholder="Enter PAN NO"
                                        formControlName="panNo" style="text-transform:uppercase">
                                    <div *ngIf="(aadhaarForm.get('panNo')?.errors?.required&&aadhaarForm.get('panNo').touched)"
                                        class="alert alert-danger m-0 p-0 text-center">PAN NO is required!</div>
                                    <div *ngIf="(aadhaarForm.get('panNo')?.errors?.minlength&&aadhaarForm.get('panNo').touched)"
                                        class="alert alert-danger m-0 p-0 text-center">10 digit is required!
                                    </div>
                                    <div *ngIf="(aadhaarForm.get('panNo')?.errors?.maxlength&&aadhaarForm.get('panNo').touched)"
                                        class="alert alert-danger m-0 p-0 text-center">10 digit is required!
                                    </div>
                                    <small><b class="text-danger">*</b>enter 10 digit alphanumeric PAN
                                        no as mentioned in pan card</small>
                                </div>
                                <div class="col-md-6">
                                    <label><span class="text-danger">*</span><b>Aadhaar Certificate</b></label>
                                    <input #aadhaarFile class="form-control" type="file"
                                        (click)="aadhaarForm.get('aadhaarFile').markAsTouched();"
                                        (change)="setFile($event.target.files[0],aadhaarForm.get('aadhaarFile'));" />
                                    <div *ngIf="(aadhaarForm.get('aadhaarFile')?.errors?.required&&aadhaarForm.get('aadhaarFile').touched)"
                                        class="alert alert-danger m-0 p-0 text-center">Aadhaar file is required!</div>
                                    <small><b class="text-danger">*</b>upload aadhaar card front image</small>
                                </div>
                            </div>
                        </form>
                        <div class="text-center mt-4">
                            <button type="button" class="btn btn-success" (click)="verifyAadhaarOtp();">
                                verify&nbsp;<i class="simple-icon-check"></i></button>
                        </div>

                    </aw-wizard-step>

                    <aw-wizard-step [awCompletedStep]="processStep>4" stepTitle="Bank" style="min-height: 120px;">
                        <form [formGroup]="bankForm">
                            <div class="row p-2">
                                <div class="col-md-6">
                                    <label><span class="text-danger">*</span><b>Account No</b></label>
                                    <input type="text" class="form-control" placeholder="Enter Account No"
                                        formControlName="accountNo" />
                                    <div *ngIf="(bankForm.get('accountNo')?.errors?.required&&bankForm.get('accountNo').touched)"
                                        class="alert alert-danger m-0 p-0 text-center">Account No is required!</div>
                                </div>
                                <div class="col-md-6">
                                    <label><span class="text-danger">*</span><b>IFSC</b></label>
                                    <input type="text" class="form-control" placeholder="Enter IFSC"
                                        formControlName="ifscCode" />
                                    <div *ngIf="(bankForm.get('ifscCode')?.errors?.required&&bankForm.get('ifscCode').touched)"
                                        class="alert alert-danger m-0 p-0 text-center">IFSC is required!</div>
                                </div>
                            </div>
                        </form>
                        <div class="text-center mt-2">
                            <button type="button" class="btn btn-success"
                                (click)="verifyBankAccountData();">verify&nbsp;<i
                                    class="simple-icon-check"></i></button>
                        </div>
                    </aw-wizard-step>

                    <aw-wizard-step [awCompletedStep]="processStep>5" stepTitle="Membership" style="min-height: 120px;">
                        <div class="row p-2">
                            <div class="col-md-12">
                                <label><span class="text-danger">*</span><b>Select Membership Package</b></label>
                                <select class="form-control" (change)="setMembership($event.target.value)"
                                    [(ngModel)]="membershipId">
                                    <option value="" disabled>Select Membership Package</option>
                                    <option [value]="item.typeId" *ngFor="let item of membershipList">{{item.typeName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row p-2 text-center" *ngIf="membershipObj==null">
                            <div class="col-md-12 text-center">No Record Found!</div>
                        </div>
                        <div class="row p-2 text-center" *ngIf="membershipObj!=null">
                            <div class="col-md-3">
                                <b>Membership&nbsp;:&nbsp;</b>{{membershipObj.typeName||'N/A'}}
                            </div>
                            <div class="col-md-3">
                                <b>Description&nbsp;:&nbsp;</b>{{membershipObj.description||'N/A'}}
                            </div>
                            <div class="col-md-3">
                                <b>Fees&nbsp;:&nbsp;</b>{{membershipObj.fees}}
                            </div>
                            <div class="col-md-3">
                                <b>Renewal Cycle&nbsp;:&nbsp;</b>{{membershipObj.renewalCycle+'Years'}}
                            </div>
                        </div>
                        <div class="text-center mt-2">
                            <button [disabled]="membershipId==null||membershipId<=0" type="button"
                                class="btn btn-md btn-success" (click)="generateAdviceOrInvoice(invoiceModal)">Generate
                                Advice&nbsp;<i class="simple-icon-check"></i></button>
                        </div>
                    </aw-wizard-step>

                    <aw-wizard-step [awCompletedStep]="processStep>6" stepTitle="Terms & Condition"
                        style="min-height: 120px;">
                        <div class="row p-2">
                            <div class="col-md-12">
                                <ul class="list-unstyled">
                                    <li class="row"><input type="checkbox" class="col-md-1 mt-2" name="disclosure6"
                                            id="privacyPolicy" [(ngModel)]="privacyPolicy">
                                        <p class="col-md-11">I accept the <a href="javascript:void(0);">Privacy
                                                Policy</a>
                                        </p>
                                    </li>
                                    <li class="row"><input type="checkbox" class="col-md-1 mt-2" name="disclosure6"
                                            id="disclosureAgreement" [(ngModel)]="disclosureAgreement">
                                        <p class="col-md-11">I accept the <a href="javascript:void(0);">Disclosure
                                                Agreement</a></p>
                                    </li>
                                    <li class="row"><input type="checkbox" class="col-md-1 mt-2" name="disclosure6"
                                            id="terms" [(ngModel)]="terms">
                                        <p class="col-md-11">I accept the <a href="javascript:void(0);">Terms and
                                                Condition</a></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="text-center mt-2">
                            <button type="button" class="btn btn-md btn-success"
                                (click)="handleSubmitTermsAndCondition()">Agree&nbsp;<i
                                    class="simple-icon-check"></i></button>
                        </div>
                    </aw-wizard-step>


                    <aw-wizard-completion-step stepTitle="{{ 'wizard.done' | translate }}" style="min-height: 120px;">
                        <div class="text-center complete-message-centered mt-3">
                            <div *ngIf="posting">
                                <div class="spinner-border text-primary" role="status">
                                </div>
                                <div class="mt-3">{{ 'wizard.saving' | translate }}</div>
                            </div>
                            <div *ngIf="!posting">
                                <h2 class="mb-2">{{ 'wizard.content-thanks' | translate }}</h2>
                                <p>{{ 'wizard.registered' | translate }}</p>
                            </div>
                            <a href="javascript:void(0);" class="btn btn-md btn-primary"
                                [routerLink]="['/login']">Login</a>
                        </div>
                    </aw-wizard-completion-step>

                </aw-wizard>
            </div>
        </div>
    </div>
</div>
<simple-notifications></simple-notifications>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="line-scale" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<ng-template #invoiceModal>
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Advice</h4>
            <!-- <span class="min" style="color:rgba(255, 255, 255, 0.356);">_</span> -->
        </div>
        <div class="modal-body text-center">
            <div class="row">
                <div class="col-md-12">
                    <h4>{{invoiceDescription}}</h4>
                </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item">Advice Id : {{invoiceId}}</li>
                <li class="list-group-item">Advice Purpose Code : {{invoicePurposeCode}}</li>
                <li class="list-group-item">Advice Amount : {{invoiceAmount}}</li>
                <li class="list-group-item">Bank Name : {{invoiceBankName}}</li>
                <li class="list-group-item">A/C No : {{invoiceBankAccountNo}}</li>
                <li class="list-group-item">Beneficiary Name : {{invoiceBankBeneficiaryName}}</li>
                <li class="list-group-item">A/C Type : {{invoiceBankAccountType}}</li>
                <li class="list-group-item">IFSC Code : {{invoiceBankIfscCode}}</li>
            </ul>
            <button class="btn btn-submit btn-success mt-5" (click)="modalRef.hide();handleDownloadInvoice()"> Email
                Advice</button>
        </div>
    </div>
</ng-template>