<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <app-breadcrumb></app-breadcrumb>
        <div class="separator mb-5"></div>
    </div>
</div>


<div class="row">
    <div class="col-12 mb-4">
        <div class="card">
            <div class="card-body">
                <div>
                    <tabset>
                        <tab heading="TRADE HISTORY" [active]="true">
                            <div class="table-responsive shadow-sm bg-white rounded mt-4">
                                <table class="table text-center table-hover mb-0 pb-0" id="bank-record">
                                    <thead class="thead-dark">
                                        <tr>

                                            <th>TCN</th>
                                            <th>MATCHED COMPANY NAME</th>
                                            <th>TRADE QUANTITY/UNIT</th>
                                            <th>TRADER PRICE/UNIT</th>
                                            <th>PRODUCT NAME</th>
                                            <th>SUB PORODUCT NAME</th>
                                            <th>VARIETY NAME</th>
                                            <th>ORDER TYPE</th>
                                            <th>TRADE DATE</th>
                                            <th>Hash</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let order of historydata;let i=index">

                                            <td
                                                (click)="OpenEditmodal(editorderModal,order.orderId,order.price,order.currentQuantity,order.orderType,order.productName,order.subProductName,order.companyName,order.cityState,order.emdPercent,order.quantityUnit,order.priceUnit,order.harvestedMonthYear,order.varietyName,order.paymentMode,order.paymentTimeline,order.grade,order.orderDate,order.expireTime)">
                                                {{order.tcn|| 'N/A'}}</td>
                                            <td
                                                (click)="OpenEditmodal(editorderModal,order.orderId,order.price,order.currentQuantity,order.orderType,order.productName,order.subProductName,order.companyName,order.cityState,order.emdPercent,order.quantityUnit,order.priceUnit,order.harvestedMonthYear,order.varietyName,order.paymentMode,order.paymentTimeline,order.grade,order.orderDate,order.expireTime)">
                                                {{order.matchedCompanyName|| 'N/A'}}</td>
                                            <td
                                                (click)="OpenEditmodal(editorderModal,order.orderId,order.price,order.currentQuantity,order.orderType,order.productName,order.subProductName,order.companyName,order.cityState,order.emdPercent,order.quantityUnit,order.priceUnit,order.harvestedMonthYear,order.varietyName,order.paymentMode,order.paymentTimeline,order.grade,order.orderDate,order.expireTime)">
                                                {{order.tradeQuantity}} {{order.tradeQuantityUnit}}</td>
                                            <td
                                                (click)="OpenEditmodal(editorderModal,order.orderId,order.price,order.currentQuantity,order.orderType,order.productName,order.subProductName,order.companyName,order.cityState,order.emdPercent,order.quantityUnit,order.priceUnit,order.harvestedMonthYear,order.varietyName,order.paymentMode,order.paymentTimeline,order.grade,order.orderDate,order.expireTime)">
                                                {{order.tradePrice}} {{order.tradePriceUnit}}</td>
                                            <td
                                                (click)="OpenEditmodal(editorderModal,order.orderId,order.price,order.currentQuantity,order.orderType,order.productName,order.subProductName,order.companyName,order.cityState,order.emdPercent,order.quantityUnit,order.priceUnit,order.harvestedMonthYear,order.varietyName,order.paymentMode,order.paymentTimeline,order.grade,order.orderDate,order.expireTime)">
                                                {{order.productName|| 'N/A'}}</td>
                                            <td>
                                                {{order.subProductName|| 'N/A'}}</td>
                                            <td>
                                                {{order.varietyName|| 'N/A'}}</td>
                                            <td *ngIf="order.orderType==1" style="color:green">
                                                BUY</td>
                                            <td *ngIf="order.orderType==2"  style="color:red">
                                                SELL</td>
                                                <td>
                                                    {{order.tradeTimestamp|date:'medium'}} 
                                                </td>
                                            <td *ngIf="order.hash" style="word-wrap: break-word;min-width: 160px;max-width: 160px;white-space:normal;"><a class="font-weight-bold text-primary" [href]="hashUrl+order.hash" target="_blank">{{order.hash}}</a></td>
                                            <td *ngIf="!order.hash">---</td>



                                        </tr>
                                        <tr *ngIf="historydata==null">
                                            <td colspan="10">No Record Found!</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </tab>
                        <tab heading="OPEN ORDER" (click)="GetOpenOrder()">
                            <div class="table-responsive shadow-sm bg-white rounded mt-4">
                                <table class="table text-center table-hover mb-0 pb-0" id="bank-record">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th></th>
                                            <th>PRODUCT NAME</th>
                                            <th>SUB PRODUCT NAME</th>
                                            <th>VARIETY NAME</th>
                                            <th>PRICE  </th>
                                            <th>QUANTITY</th>
                                            <th>PAYMENT MODE</th>
                                            <th>ORDER DATE</th>
                                            <th>SEASON YEAR</th>
                                            <th>ORDER TYPE</th>
                                            <!-- <th>ACTION</th>
                                            <th>ACTION</th> -->

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let Order of OpenOrder;let i=index">
                                            <td>{{i+1}}</td>
                                            <td>{{Order.productName}}</td>
                                            <td>{{Order.subProductName}}</td>
                                            <td>{{Order.varietyName}}</td>
                                            <td>{{Order.price}}{{Order.priceUnit}}</td>
                                            <td>{{Order.currentQuantity}} {{Order.quantityUnit}}</td>
                                            <td>{{Order.paymentMode}}</td>
                                            <td>{{Order.orderDate}}</td>
                                            <td>{{Order.seasonYear}}</td>
                                            <td *ngIf="Order.orderType==1">BUY</td>
                                            <td *ngIf="Order.orderType==2">SELL</td>

                                        </tr>
                                        <tr *ngIf="OpenOrder==null">
                                            <td colspan="9">No Record Found!</td>
                                        </tr>
                                        <!-- <tr *ngIf="OpenOrder.length==0">No record found</tr> -->
                                    </tbody>
                                </table>
                            </div>
                        </tab>
                        <tab heading="CANCELLED DEALS">
                            <span (click)="GetCancelOrder()"></span>
                            <div class="table-responsive shadow-sm bg-white rounded mt-4">
                                <table class="table text-center table-hover mb-0 pb-0" id="bank-record">
                                    <thead class="thead-dark">
                                        <tr>

                                            <th>ORDER ID</th>
                                            <th>PRODUCT NAME</th>
                                            <th>SUB PRODUCT NAME</th>
                                            <th>VARIETY NAME</th>
                                            <th>PRICE/UNIT</th>
                                            <th>QUANTITY/UNIT</th>
                                            <th>PAYMENT MODE</th>
                                            <th>ORDER DATE</th>
                                            <th>SEASON YEAR</th>
                                            <th>ORDER TYPE</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let product of Canceldata;let i=index">
                                            <td>{{product.orderId}}</td>
                                            <td>{{product.productName}}</td>
                                            <td>{{product.subProductName}}</td>
                                            <td>{{product.varietyName}}</td>
                                            <td>{{product.price}} {{product.priceUnit}}</td>
                                            <td>{{product.initialQuantity}} {{product.quantityUnit}}</td>
                                            <td>{{product.paymentMode}}</td>
                                            <td>{{product.orderDate}}</td>
                                            <td>{{product.seasonYear||NA}}</td>
                                            <td *ngIf="product.orderType==1">BUY</td>
                                            <td *ngIf="product.orderType==2">SELL</td>

                                        </tr>
                                        <tr *ngIf="Canceldata==null">
                                            <td colspan="10">No Record Found!</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </tab>
                        <!-- <tab heading="NEWS">Home</tab> -->
                        <!-- <tab *ngFor="let tabz of tabs"
                           [heading]="tabz.title"
                           [active]="tabz.active"
                           (selectTab)="tabz.active = true"        
                           [disabled]="tabz.disabled">
                           {{tabz?.content}}
                        </tab> -->
                    </tabset>
                </div>

            </div>
        </div>
    </div>
</div>