<div class="row">
    <div class="col-12 mb-4">
        <div class="card mb-4">
            <div class="card-body">
                <!-- <form> -->
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="dateRange"><span class="text-danger">*</span>Select Date Range</label>
                        <input class="form-control" #drp="bsDaterangepicker" bsDaterangepicker [container]="'html'"
                            [ngModel]="bsRangeValue" (ngModelChange)="bsRangeValue=$event" />
                    </div>
                    <div class="form-group col-md-2">
                        <button class="btn btn-primary mt-4" type="button" (click)="GetclaimView()">Submit</button>
                    </div>
                </div>

                <div class="row">
                    <div class="card">
                        <div class="card-body" id="grade-table" style="display:block;width:1098px">
                            <div class="table-responsive">
                                <table class="table table-hover" id="claim-tbl">
                                    <thead>
                                        <tr>
                                            <th>Company Name</th>
                                            <th>Company Email </th>
                                            <th>Request Type</th>
                                            <th>Request IssueId</th>
                                            <th>Name of Uploaded Doc</th>
                                            <th>Issue Date</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let c of claimData">
                                            <td>{{c.companyName}}</td>
                                            <td>{{c.companyEmail}}</td>
                                            <td>{{c.requestType}}</td>
                                            <td>{{c.requestIssueId}}</td>
                                            <td>{{c.requestUploadDoc}}</td>
                                            <td>{{c.statusInfo}}</td>
                                            <td><button class="btn btn-primary" (click)="ViewClaim(c.requestId,claimViewModal)" *ngIf="c.status!=0">View</button></td>

                                        </tr>

                                        <!-- <tr *ngIf="bankDetailsList.length==0">
                            <td colspan="9">No Record Found!</td>
                        </tr> -->
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #claimViewModal style="height: 500px;overflow-x: hidden;">
    <div class="modal-content" height="400px" style="height: 500px;overflow-x: hidden;">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Claim Info</h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <table class="table table-hover" id="claim-tbl">
                <thead>
                    <tr>
                        <th>Message</th>
                        <th>Doc Name </th>
                        <th>ClientId</th>
                        <th>Resolve Date</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of viewData">
                        <td>{{c.resolutionMessageBody}}</td>
                        <td>{{c.resolutionUploadDoc}}</td>
                        <td>{{c.resolvedClientId}}</td>
                        <td>{{c.requestResolveDate}}</td>

                    </tr>

                    <!-- <tr *ngIf="bankDetailsList.length==0">
                            <td colspan="9">No Record Found!</td>
                        </tr> -->
                </tbody>
            </table>
        </div>
    </div>
</ng-template>
<simple-notifications></simple-notifications>