<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <app-breadcrumb></app-breadcrumb>
        <div class="separator mb-5"></div>
    </div>
</div>
<div class="row">
    <div class="col-12 mb-4">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-md-3">
                        <label for="dateRange"><b>Select Date Range</b></label>
                        <input class="form-control inp mt-1" #drp="bsDaterangepicker" bsDaterangepicker
                            [container]="'html'" [ngModel]="bsRangeValue" placeholder="Select Date Range"
                            style="background-color: white;" readonly
                            [bsConfig]="{ ranges: ranges,rangeInputFormat : 'DD-MM-YYYY', dateInputFormat: 'DD-MM-YYYY'}"
                            (ngModelChange)="bsRangeValue=$event;getViewByTcn(tncId);getTcnList();reset();" />
                    </div>
                    <div class="col-md-3">
                        <label for="state"><b>Select Product</b></label>
                        <select class="form-control inp" name="state" [(ngModel)]="productId"
                            (change)="GetAllSubProducts($event.target.value);getViewByTcn(tncId);getTcnList();reset();">
                            <option value="0" disabled>Select Product</option>
                            <option *ngFor="let product of productList;" [value]="product.productId">
                                {{product.productName}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="state"><b>Select Sub Product</b></label>
                        <select class="form-control inp" name="state" [(ngModel)]="subProductId"
                            (change)="getViewByTcn(tncId);getTcnList();getSeason();reset();">
                            <option value="0" disabled>Select Sub Product</option>
                            <option *ngFor="let product of subProductList;" [value]="product.subProductId">
                                {{product.subProductName}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="state"><b>Select Season</b></label>
                        <select class="form-control inp" name="state" [(ngModel)]="seasonId"
                            (change)="getViewByTcn(tncId);getTcnList();reset();">
                            <option value="0" disabled>Select Season</option>
                            <option *ngFor="let season of seasonList;" [value]="season.season_id">
                                {{season.season_year}}
                        </select>
                    </div>
                </div>
                <div class="row mt-3 mb-3">
                    <div class="col-md-3">
                        <label for="state"><b>Select State</b></label>
                        <select class="form-control inp" name="state" [(ngModel)]="stateId"
                            (change)="getViewByTcn(tncId);getTcnList();tncId='';reset();">
                            <option value="0" disabled>Select State</option>
                            <option [value]="state.stateId" *ngFor="let state of stateList">{{state.stateName}}</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="company"><b>Search Company</b></label>
                        <input id="searchBar" (typeaheadOnSelect)="onSelect($event);getTcnList();tncId='';reset();"
                            typeaheadWaitMs=" 500" [isAnimated]="true" [typeaheadScrollable]="true" [ngModel]="search"
                            (ngModelChange)="buyerCompanyId=0;sellerCompanyId=0;search=$event;getTcnList();tncId='';"
                            typeaheadOptionField="companyName" [typeahead]="suggestions$" [typeaheadAsync]="true"
                            class="form-control inp mt-1" placeholder="Enter Company Name">
                        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
                            {{ errorMessage }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="tnc"><b>Select TCN</b></label>
                        <select class="form-control inp" name="tcn" [(ngModel)]="tncId"
                            (change)="getViewByTcn(tncId);reset();">
                            <option value="" disabled>Select TCN</option>
                            <option [value]="tcn.tcn" *ngFor="let tcn of tcnList;">{{tcn.tcn}}</option>
                        </select>
                    </div>
                </div>
                <!-- <hr /> -->
                <div class="row p-2 mb-3">
                    <div class="col-md-3">
                        <b>Buyer Company Name&nbsp;:&nbsp;</b>{{deliveryDtl.buyerCompanyName||'N/A'}}
                    </div>
                    <div class="col-md-3">
                        <b>Product Name &nbsp;:&nbsp;</b>{{deliveryDtl.productName||'N/A'}}
                    </div>
                    <div class="col-md-3">
                        <b>Sub Product Name&nbsp;:&nbsp;</b>{{deliveryDtl.subProductName||'N/A'}}
                    </div>
                    <div class="col-md-3">
                        <b>Season Year&nbsp;:&nbsp;</b>{{deliveryDtl.seasonYear||'N/A'}}
                    </div>
                </div>
                <div class="row p-2 mb-3">
                    <div class="col-md-3">
                        <b>Seller Company Name&nbsp;:&nbsp;</b>{{deliveryDtl.sellerCompanyName||'N/A'}}
                    </div>
                    <div class="col-md-3">
                        <b>AllotmentNo&nbsp;:&nbsp;</b>{{deliveryDtl.allotmentNo||'N/A'}}
                    </div>
                    <div class="col-md-3">
                        <b>Trade Timestamp&nbsp;:&nbsp;</b>{{(deliveryDtl.tradeTimestamp|date:'medium')||'N/A'}}
                    </div>
                    <div class="col-md-3">
                        <b>TCN&nbsp;:&nbsp;</b>{{deliveryDtl.tcn||'N/A'}}
                    </div>
                </div>
                <!-- <hr /> -->
                <div class="row p-2">
                    <div class="col-md-6">
                        <label for="tnc"><b><b>Billing Address</b></b></label>
                        <select class="form-control inp" [(ngModel)]="billingAddressId">
                            <option value="" disabled>Select Billing Address</option>
                            <option *ngFor="let item of billingAddress" [value]="item.comBranchId">
                                {{(item.addressLineOne||'')+','+(item.addressLineTwo||'')+','+(item.cityName||'')+','+(item.districtName||'')+','+(item.pinCode||'')+','+(item.stateName||'')+','+(item.countryName||'')}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="tnc"><b><b>Shipping Address</b></b></label>
                        <select class="form-control inp" [(ngModel)]="shippingAddressId">
                            <option value="" disabled>Select Shipping Address</option>
                            <option [value]="shipment.shipmentId" *ngFor="let shipment of shipmentList">
                                {{(shipment.addressLineOne||'')+','+(shipment.addressLineTwo||'')+','+(shipment.cityName||'')+','+(shipment.districtName||'')+','+(shipment.pinCode||'')+','+(shipment.stateName||'')+','+(shipment.countryName||'')}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row mt-3 mb-3 p-2">
                    <div class="col-md-3">
                        <label for="authorizedPersonInfo"><small class="text-danger">*</small><b>Authorized Person
                                Info</b></label>
                        <input type="text" class="form-control inp" placeholder="Enter Authorized Person Info"
                            [ngModel]="authorizedPersonInfo" (ngModelChange)="authorizedPersonInfo=$event;setValue();"
                            name="authorizedPersonInfo" />
                    </div>
                    <div class="col-md-3">
                        <label for="idCardNo"><small class="text-danger">*</small><b>ID Card No</b></label>
                        <input type="text" class="form-control inp" placeholder="Enter ID Card No" [ngModel]="idCardNo"
                            (ngModelChange)="idCardNo=$event;setValue();" name="idCardNo" />
                    </div>
                    <div class="col-md-3">
                        <label for="idCardType"><small class="text-danger">*</small><b>ID Card Type</b></label>
                        <input type="text" class="form-control inp" placeholder="Enter ID Card Type"
                            [ngModel]="idCardType" (ngModelChange)="idCardType=$event;setValue();" name="idCardType" />
                    </div>
                    <div class="col-md-3">
                        <label for="contactNo"><small class="text-danger">*</small><b>Contact No</b></label>
                        <input type="text" class="form-control inp" placeholder="Enter Contact No" [ngModel]="contactNo"
                            (ngModelChange)="contactNo=$event;setValue();" name="contactNo" />
                    </div>
                </div>
                <!-- <hr> -->
                <div class="table-responsive shadow-sm bg-white rounded">
                    <table class="table table-hover text-center mb-0 pb-0">
                        <thead class="thead-dark">
                            <tr>
                                <th>Check/Uncheck</th>
                                <th>Location</th>
                                <th>Quantity</th>
                                <th>Unit</th>
                                <th>Lot No</th>
                                <th>Party Lot No</th>
                                <th>Storage Location</th>
                                <!-- <th>Press Running No</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let object of deliveryList;let i=index;">
                                <td>
                                    <input *ngIf="object.status==1" type="checkbox" class="form-control inp"
                                        (click)="addRemoveObject($event.target.checked,object)" [disabled]="!(authorizedPersonInfo != null && authorizedPersonInfo.length > 0 &&
                                        idCardNo != null && idCardNo.length > 0 && idCardType != null && idCardType.length > 0 &&
                                        contactNo != null && contactNo.length > 0)" />
                                    <b *ngIf="object.status!=1">-</b>
                                </td>
                                <td>{{object.locationAddress||'N/A'}}</td>
                                <td>{{object.quantity}}</td>
                                <td>{{object.unitName||'N/A'}}</td>
                                <td>{{object.lotNo||'N/A'}}</td>
                                <td>{{object.partyLotNo||'N/A'}}</td>
                                <td>{{object.storageLocation||'N/A'}}</td>
                                <!-- <td>{{object.pressRunningNo||'N/A'}}</td> -->
                            </tr>
                            <tr *ngIf="deliveryList.length==0">
                                <td colspan="9" class="text-center">No Record Found!</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button *ngIf="deliveryList.length>0" class="btn btn-primary d-inline mt-3" (click)="openModal(preview)"
                    [disabled]="!(deliveryRequest.length>0 && billingAddressId>0 && shippingAddressId>0 &&
                    authorizedPersonInfo != null && authorizedPersonInfo.length > 0 &&
                    idCardNo != null && idCardNo.length > 0 && idCardType != null && idCardType.length > 0 &&
                    contactNo != null && contactNo.length > 0)"><i class="simple-icon-eye"></i>&nbsp;Preview</button>
            </div>
        </div>
    </div>
</div>
<simple-notifications></simple-notifications>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="line-scale" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>

<ng-template #preview>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Preview Delivery</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide();">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="table-responsive">

                <table class="table table-bordered table-striped mb-0 pb-0">
                    <tbody>
                        <tr>
                            <td><b>Buyer Company Name&nbsp;:&nbsp;</b>{{deliveryDtl.buyerCompanyName||'N/A'}}</td>
                            <td><b>Product Name &nbsp;:&nbsp;</b>{{deliveryDtl.productName||'N/A'}}</td>
                            <td><b>Sub Product Name&nbsp;:&nbsp;</b>{{deliveryDtl.subProductName||'N/A'}}</td>
                            <td><b>Season Year&nbsp;:&nbsp;</b>{{deliveryDtl.seasonYear||'N/A'}}</td>
                        </tr>
                        <tr>
                            <td><b>Seller Company Name&nbsp;:&nbsp;</b>{{deliveryDtl.sellerCompanyName||'N/A'}}</td>
                            <td><b>AllotmentNo&nbsp;:&nbsp;</b>{{deliveryDtl.allotmentNo||'N/A'}}</td>
                            <td><b>Trade Timestamp&nbsp;:&nbsp;</b>{{(deliveryDtl.tradeTimestamp|date:'medium')||'N/A'}}
                            </td>
                            <td><b>TCN&nbsp;:&nbsp;</b>{{deliveryDtl.tcn||'N/A'}}</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <b>Billing
                                    Address&nbsp;:&nbsp;</b>{{(getSelectedBillingAddress().addressLineOne||'')+','+(getSelectedBillingAddress().addressLineTwo||'')+','+(getSelectedBillingAddress().cityName||'')+','+(getSelectedBillingAddress().districtName||'')+','+(getSelectedBillingAddress().pinCode||'')+','+(getSelectedBillingAddress().stateName||'')+','+(getSelectedBillingAddress().countryName||'')}}
                            </td>
                            <td colspan="2">
                                <b>Shipping
                                    Address&nbsp;:&nbsp;</b>{{(getSelectedShippingAddress().addressLineOne||'')+','+(getSelectedShippingAddress().addressLineTwo||'')+','+(getSelectedShippingAddress().cityName||'')+','+(getSelectedShippingAddress().districtName||'')+','+(getSelectedShippingAddress().pinCode||'')+','+(getSelectedShippingAddress().stateName||'')+','+(getSelectedShippingAddress().countryName||'')}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Authorized Person Info&nbsp;:&nbsp;</b>{{authorizedPersonInfo}}
                            </td>
                            <td>
                                <b>ID Card No&nbsp;:&nbsp;</b>{{idCardNo}}
                            </td>
                            <td>
                                <b>ID Card Type&nbsp;:&nbsp;</b>{{idCardType}}
                            </td>
                            <td>
                                <b>Contact No&nbsp;:&nbsp;</b>{{contactNo}}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-striped mt-0 pt-0">
                    <thead class="thead-dark">
                        <tr>
                            <th>Location</th>
                            <th>Quantity</th>
                            <th>Unit</th>
                            <th>Lot No</th>
                            <th>Party Lot No</th>
                            <th>Storage Location</th>
                            <!-- <th>Press Running No</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let object of deliveryRequest;let i=index;">
                            <td>{{getSelectedDelivery(object.allotmentDtlId).locationAddress||'N/A'}}</td>
                            <td>{{getSelectedDelivery(object.allotmentDtlId).quantity}}</td>
                            <td>{{getSelectedDelivery(object.allotmentDtlId).unitName||'N/A'}}</td>
                            <td>{{getSelectedDelivery(object.allotmentDtlId).lotNo||'N/A'}}</td>
                            <td>{{getSelectedDelivery(object.allotmentDtlId).partyLotNo||'N/A'}}</td>
                            <td>{{getSelectedDelivery(object.allotmentDtlId).storageLocation||'N/A'}}</td>
                            <!-- <td>{{getSelectedDelivery(object.allotmentDtlId).pressRunningNo||'N/A'}}</td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button *ngIf="showDeliveryButton" class="btn btn-success"
                (click)="addDeliveryAddress();modalRef.hide();"><i class="simple-icon-plus"></i>&nbsp;Generate
                Delivery</button>
        </div>
    </div>
</ng-template>