<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <app-breadcrumb></app-breadcrumb>

        <div class="separator mb-5"></div>
    </div>
</div>

<div class="row">
    <div class="col-12 mb-4">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-md-4">
                        <label for="dateRange"><b>Select Date
                                Range</b></label>
                        <input placeholder="Select Date Range" style="background-color: white;" readonly
                            class="form-control inp mt-1" #drp="bsDaterangepicker" bsDaterangepicker
                            [container]="'html'" [ngModel]="bsRangeValue"
                            [bsConfig]="{ ranges: ranges,rangeInputFormat : 'DD-MM-YYYY', dateInputFormat: 'DD-MM-YYYY'}"
                            (ngModelChange)="bsRangeValue=$event" />

                            <div class="invalid-tooltip" *ngIf="tdatecheck&&!toDate">Date is required!</div>

                    </div>
                    <div class="col-md-4">
                        <label for="state"><b>Select Payment Type</b></label>
                        <select class="form-control inp" [(ngModel)]="PaymentType"  (change)="GetpaymentType($event.target.value)">                          
                            <option value="">Select Payment Type</option>
                            <option *ngFor="let p of PaymentsTyp" value="{{p.paymentCategoryId}}">
                                {{p.paymentCategoryDesc}}</option>
                        </select>
                        <div class="invalid-tooltip" *ngIf="typecheck&&!PaymentType">Payment type is required!</div>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary w-100 paySubButt"  (click)="GetpendingPayment()">Get Payment
                            Details</button>
                    </div>

                    <!-- <div class="col-md-4">
                        <label for="state"><b>Select Product</b></label>
                        <select class="form-control inp" [disabled]="notrequired">
                            <option>select</option>
                        </select>
                        
                    </div> -->
                </div>

                <!-- <div class="row mt-4">
                    <div class="col-md-4">
                        <label for="state"><b>Select TCN</b></label>
                        <select class="form-control inp" [disabled]="notrequired">
                            <option>select</option>
                        </select>
                        
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary w-100 paySubButt"  (click)="GetpendingPayment()">Get Payment
                            Details</button>
                    </div>
                </div>     -->
                <div class="table-responsive shadow-sm bg-white rounded mt-4" *ngIf="visibility">        
                <table class="table text-center table-hover mb-0 pb-0" id="payment-tbl">
                    <thead class="thead-dark">
                        <tr>
                            <th>Sl No</th>
                            <th>Payment ID</th>
                            <th>Bill Number</th>
                            <th>Bill Issuance Date</th>
                            <th>Payment For</th>
                            <th>Payment To</th>
                            <th>Gross Amount</th>
                            <th>GST Amount</th>                            
                            <th>Net Payable</th>
                            <th>Action </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let petail of paymetdtl; let i=index;">


                            <td>{{i+1}}</td>
                            <td>{{petail.paymentId || 'N/A'}}</td>
                            <td>{{petail.billNo || 'N/A'}}</td>
                            <td>{{petail.billIssuanceDate |date}}</td>
                            <td>{{petail.paymentCategoryDesc || 'N/A'}}</td>
                            <td>{{petail.paymentTo|| 'N/A'}}</td>
                            <td>{{petail.amount || 'N/A'}}</td>
                            <td>{{petail.gstAmount|| 'N/A'}}</td>                            
                            <td>{{petail.netPayable|| 'N/A'}}</td>
                            <td><button class="btn btn-success btn-xs"
                                    (click)="generatePaymentLink(petail);">
                                    <!-- (click)="openpaymentModal(petail.paymentId,petail.netPayable,PaymentModal)"> -->
                                    <i class="iconsminds-redirect" aria-hidden="true"></i>
                                    Pay</button>
                            </td>
                            <!-- <td><button class="btn btn-secondary btn-xs"
                                (click)="DeletealertModal(alertDeleteBankModal,bankDetail.companyBankId)"><i class="simple-icon-pencil"></i>
                                delete</button>
                        </td> -->
                        </tr>
                        <tr *ngIf="paymetdtl==null||paymetdtl.length==0">
                            <td colspan="10">No Record Found!</td>
                        </tr>
                    </tbody>
                </table>
            </div> 
            </div>
        </div>
    </div>
</div>
<simple-notifications></simple-notifications>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="line-scale" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<ng-template #PaymentModal>
    <div class="modal-content" style="height: 650px;overflow-x: hidden;">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Payment</h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="updateForm" [formGroup]="updateForm" (ngSubmit)="UpdatePayment(updateForm)">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="accountHolderName">Bank Payment Acknowledgement ID</label>

                        <input type="text" name="accountHolderName" formControlName="acknowledgementId"
                            pattern="[0-9A-za-z\s\-]{3,12}" required class="form-control" id="acknowledgementId"
                            [value]="updateForm.acknowledgementId" placeholder="Acknowledgement ID">
                        <div class="invalid-tooltip"
                            *ngIf="updateForm.get('acknowledgementId').hasError('required') && updateForm.get('acknowledgementId').touched">
                            Acknowledgement ID is required!</div>
                        <div class="invalid-tooltip"
                            *ngIf="updateForm.get('acknowledgementId').invalid && updateForm.get('acknowledgementId').touched">
                            Please input valid Acknowledgement ID!</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="accountNo">Bank Name</label>
                        <select name="bankId" id="bankId" class="form-control" [(ngModel)]="updateForm.bankId"
                            [value]="updateForm.bankId" required
                            formControlName="bankId">
                            <option value="">Select Bank</option>
                            <option *ngFor="let bank of bankDetailsList" value="{{bank.companyBankId}}">
                                {{bank.bankName}},{{bank.branchName}}</option>
                        </select>

                        <div class="invalid-tooltip"
                            *ngIf="updateForm.get('bankId').hasError('required') && updateForm.get('bankId').touched">
                            Bank name is required!</div>
                        

                    </div>


                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="accountType">Amount Paid</label>

                        <input type="text" disabled name="amount" [(ngModel)]="amount" class="form-control"
                            formControlName="amount" [value]="updateForm.amount" required id="amount"
                            placeholder="Amount">
                        


                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="bankName">Payment Date</label>
                        <input type="date" name="paydate" class="form-control" required id="paydate" max="{{maxDate | date:'yyyy-MM-dd'}}"
                            formControlName="paydate" [value]="updateForm.paydate" placeholder="Payment Date">
                        <div class="invalid-tooltip"
                            *ngIf="updateForm.get('paydate').hasError('paydate') && updateForm.get('paydate').touched">
                            Date is required!</div>
                            <div class="invalid-tooltip"
                            *ngIf="updateForm.get('paydate').hasError('invalid') && updateForm.get('paydate').touched">
                            Enter valid date!</div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" [disabled]="!updateForm.valid">Submit</button>
                </div>
            </form>
        </div>
    </div>
</ng-template>