<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <app-breadcrumb></app-breadcrumb>
        <div class="separator mb-5"></div>
    </div>
</div>
<div class="row">
    <div class="col-12 mb-4">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col">
                        <label for="state"><span class="text-danger">*</span>Select Report Type</label>
                        <select class="form-control inp" name="report" [(ngModel)]="reportId"
                            (change)="getAllReports(1);">
                            <option value="0" disabled>Select Report Type</option>
                            <option *ngFor="let report of reportCategoriesList" [value]="report.reportCode">
                                {{report.reportName}}</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="dateRange"><span class="text-danger">*</span>Select Date Range</label>
                        <input class="form-control inp mt-1" #drp="bsDaterangepicker" bsDaterangepicker [container]="'html'"
                            placeholder="Select Date Range" style="background-color: white;" readonly
                            [bsConfig]="{ ranges: ranges,rangeInputFormat : 'DD-MM-YYYY', dateInputFormat: 'DD-MM-YYYY'}"
                            [ngModel]="bsRangeValue" (ngModelChange)="bsRangeValue=$event;getAllReports(1);" />
                    </div>
                    <div class="col my-auto"
                        *ngIf="reportId > 0 && companyId!=null && bsRangeValue[0] != null && bsRangeValue[1] != null && headerList.length>0">
                        <label for="dateRange"><span class="text-danger"></span></label>
                        <a class="btn btn-success w-100 mt-3"
                            [href]="url+'/files/AllReportDownLoad/'+companyId+'/'+reportId+'/'+formatDate(bsRangeValue[0])+'/'+formatDate(bsRangeValue[1])"
                            target="_blank"><i class="iconsminds-data-download"></i>&nbsp;Download Report</a>
                    </div>
                </div>
                <ng-container
                    *ngIf="reportId > 0 && companyId!=null && bsRangeValue[0] != null && bsRangeValue[1] != null && headerList.length>=0">
                    <!-- <hr> -->
                    <div class="table-responsive shadow-sm bg-white rounded mb-3 mt-3">
                        <table class="table table-hover text-center mb-0 pb-0">
                            <thead class="thead-dark">
                                <tr *ngIf="headerList.length>0">
                                    <th *ngFor="let header of headerList;">{{header|uppercase}}
                                    </th>
                                </tr>
                                <tr *ngIf="headerList.length==0">
                                    <th>No Record Found!</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let object of reportAllValues;">
                                    <td *ngFor="let header of headerList;">
                                        {{object[header]}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row mt-3 pt-3">
                        <div class="col-12">
                            <pagination [totalItems]="totalCount" [itemsPerPage]="pageSize" [rotate]="true"
                                [maxSize]="3" [(ngModel)]="pageNo" (pageChanged)="getAllReports($event.page)"
                                class="justify-content-center float-right" [customNextTemplate]="nextTemplate"
                                [customPreviousTemplate]="prevTemplate">
                            </pagination>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
<ng-template #nextTemplate let-disabled="disabled" let-currentPage="pageNo">
    <i class='simple-icon-arrow-right'></i>
</ng-template>

<ng-template #prevTemplate let-disabled="disabled" let-currentPage="pageNo">
    <i class='simple-icon-arrow-left'></i>
</ng-template>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="line-scale" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>