<div class="row">
    <div class="col-12 mb-4">
      <div class="card" style="padding:16px;">
        
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-2 mb-1"><span class="text-style">Order Book</span></div>
                        <div class="col-md-6 mb-1"></div>
                        <div class="col-md-4 mb-1" >
                            <select class="form-control" style="border-radius:5px;" name="productId" (change)="getProduct($event.target.value)">
                                <option value="">Select product</option>
                                <option *ngFor="let p of SavedProd" value="{{p.prodId}}">{{p.ProdName}}</option>
                            </select>
            
                        </div>
                    </div>
                    <div class="table-responsive shadow-lg">
                        <table class="table table-hover" id="bank-record" style="height: 360px;">
                            <thead>
                                <tr>
                                    <th>COMPANY NAME</th>
                                    <th>SUB PRODUCT NAME</th>
                                    <th>VARIETY NAME</th>
                                    <th>ORDER TYPE</th>
                                    <th>QUANTITY/UNIT</th>
                                    <th>PRICE/UNIT</th>
                                    <th>PRODUCT STATION</th>
                                    <th>EXPIRE DURATION</th>
                                    <th>BID COUNT</th>


                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let order of Orderbook;let i=index" height="30px">

                                    <td (click)="OpenEditmodal(editorderModal,order)">
                                        {{order.companyName|| 'N/A'}}</td>
                                    <!-- <td
                                        (click)="OpenEditmodal(editorderModal,order)">
                                        {{order.productName|| 'N/A'}}</td> -->
                                    <td (click)="OpenEditmodal(editorderModal,order)">
                                        {{order.subProductName|| 'N/A'}}</td>
                                    <td (click)="OpenEditmodal(editorderModal,order)">
                                        {{order.varietyName|| 'N/A'}}</td>
                                    <td *ngIf="order.orderType==1" style="color:green;font-weight:bold;"
                                        (click)="OpenEditmodal(editorderModal,order)">
                                        BUY</td>
                                    <td *ngIf="order.orderType==2" style="color:red;font-weight:bold;"
                                        (click)="OpenEditmodal(editorderModal,order)">
                                        SELL</td>
                                    <td (click)="OpenEditmodal(editorderModal,order)">
                                        {{order.currentQuantity}} {{order.quantityUnit}}</td>
                                    <td (click)="OpenEditmodal(editorderModal,order)">
                                        {{order.price}} {{order.priceUnit}}</td>

                                    <td (click)="OpenEditmodal(editorderModal,order)">
                                        {{order.cityName|| 'N/A'}}, {{order.regionName|| 'N/A'}}
                                        ,{{order.districtName|| 'N/A'}}, {{order.stateShortName||'N/A'}}
                                    </td>
                                    <td (click)="OpenEditmodal(editorderModal,order)">
                                        {{order.expireDuration||'N/A' }}</td>

                                    <td (click)="OpenEditmodal(editorderModal,order)">
                                        {{order.ownBidCount}}</td>


                                </tr>
                                <tr *ngIf="Orderbook==null">
                                    <td colspan="5">No Record Found!</td>

                                </tr>
                                <tr>
                                    <td colspan="5" *ngIf="NodataError">{{NodataError}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="card mb-1" style="background-color: rgb(223, 201, 214);">
                        <div class="card-body">
                          
                            <div class="graph-body">
                                <div style="display: block;">
                                    <canvas baseChart width="200" height="97" [datasets]="lineChartData" [labels]="lineChartLabels"
                                        [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                                        [chartType]="lineChartType" [plugins]="lineChartPlugins">
                                    </canvas>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    <div class="card mb-4" style="background-color: rgb(190, 201, 211);">
                        <div class="card-body">
                           
                            <div class="graph-body">
                                <div style="display: block;">
                                    <canvas baseChart width="200" height="97" [datasets]="lineChartData" [labels]="lineChartLabels"
                                        [options]="lineChartOptions" [colors]="lineChartColorstwo" [legend]="lineChartLegend"
                                        [chartType]="lineChartType" [plugins]="lineChartPlugins">
                                    </canvas>
                                </div>
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- <div class="col-md-4 mb-4">
        <div class="row">
            <div class="col-md-2 mb-3"><span class="text-style" style="text-align: left;">Chart</span></div>
        </div>
        
       
        <div class="card mb-1" style="background-color: rgb(223, 201, 214);">
            <div class="card-body">
              
                <div class="graph-body">
                    <div style="display: block;">
                        <canvas baseChart width="200" height="90" [datasets]="lineChartData" [labels]="lineChartLabels"
                            [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                            [chartType]="lineChartType" [plugins]="lineChartPlugins">
                        </canvas>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="card mb-4" style="background-color: rgb(190, 201, 211);">
            <div class="card-body">
               
                <div class="graph-body">
                    <div style="display: block;">
                        <canvas baseChart width="200" height="90" [datasets]="lineChartData" [labels]="lineChartLabels"
                            [options]="lineChartOptions" [colors]="lineChartColorstwo" [legend]="lineChartLegend"
                            [chartType]="lineChartType" [plugins]="lineChartPlugins">
                        </canvas>
                    </div>
                </div>
              
            </div>
        </div>
    </div> -->
    <div class="col-7 mb-4">
            <div class="col-md-4 mb-3"><span class="text-style" style="text-align: left;"> Create Order</span></div>
     
        <div class="card offer-section">
            <div class="card-body">
                <form id="offerForm" [formGroup]="offerForm" (ngSubmit)="SubmitOffer(offerForm)">
                    <div class="form-row">
                        <div class="form-group col-md-12 ">
                            <label for="" id="wallet-lbl" style="display: block;margin-left: 457px;">Current Trade
                                Limit</label>
                            <div class="input-group">
                                <label for="term" id="" class="text-left">
                                    <h3>{{TradeLimitbyID}}</h3>
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="email">Trade type</label>
                            <div class="input-group">
                                <label for="term" id="lbl-tradeone">Buy</label>
                                <input type="radio" class="radio-sp" name="tradetype" required
                                    formControlName="tradetype" value="1" id="tradeone"
                                    (click)="Getterms($event.target.value)">
                                <label for="term" class="radio-gap" id="lbl-tradetwo">Sell</label>
                                <input type="radio" class="radio-sp" name="tradetype" required id="tradetwo"
                                    formControlName="tradetype" (click)="Getterms($event.target.value)" value="2">
                            </div>
                            <div class="invalid-tooltip"
                                *ngIf="offerForm.get('tradetype').hasError('required') && offerForm.get('tradetype').touched">
                                Terms is required!</div>
                        </div>
                        <div class="form-group col-md-6">
                        

                        </div>
                        <div class="form-group  col-md-6">
                            <label for="email">Product</label>
                            <select class="form-control inp" name="productId" required formControlName="productId"
                                (change)="getcommodityProduct($event.target.value)">
                                <option value="">Select product</option>
                                <option *ngFor="let p of allproducts" value="{{p.productId}}">{{p.productName}}</option>

                            </select>
                            <div class="invalid-tooltip"
                                *ngIf="offerForm.get('productId').hasError('required') && offerForm.get('productId').touched">
                                Product is required!</div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="email">Commodity</label>
                            <select class="form-control inp" name="commodityId" required formControlName="commodityId"
                                (change)="GetSubproductId($event.target.value)">
                                <option value="">Select commodity</option>
                                <option *ngFor="let c of allcommodity" value="{{c.subProductId}}">{{c.subProductName}}
                                </option>

                            </select>
                            <div class="invalid-tooltip"
                                *ngIf="offerForm.get('commodityId').hasError('required') && offerForm.get('commodityId').touched">
                                Commodity is required!</div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="email">State</label>
                            <div class="input-group">
                                <select name="state" class="form-control inp" required formControlName="state"
                                    (change)="CheckProductState($event.target.value)">
                                    <option value="">Select State</option>
                                    <option *ngFor="let state of states" value="{{state.stateId}}">
                                        {{state.stateName}}</option>
                                </select>
                                <div class="invalid-tooltip"
                                    *ngIf="offerForm.get('state').hasError('required') && offerForm.get('state').touched">
                                    State is required!</div>
                            </div>

                        </div>
                        <div class="form-group col-md-6">
                            <label for="state">Region</label>
                            <select name="state" class="form-control inp" required formControlName="region"
                                (change)="GetDistrictForRegion($event.target.value)">
                                <option value="">Select Region</option>
                                <option *ngFor="let reg of region" value="{{reg.regionId}}">
                                    {{reg.regionName}}</option>
                            </select>
                            <div class="invalid-tooltip"
                                *ngIf="offerForm.get('region').hasError('required') && offerForm.get('region').touched">
                                Region is required!</div>
                        </div>
                        <div class="form-group col-md-6" *ngIf="BusinessTypeId=='3'">
                            <label for="state">Zone</label>

                            <select name="state" class="form-control inp" required formControlName="district"
                                (change)="Getcity($event.target.value)">
                                <option value="">Select Zone</option>
                                <option *ngFor="let district of zones" value="{{district.districtId}}">
                                    {{district.districtName}}</option>
                            </select>
                            <div class="invalid-tooltip"
                                *ngIf="offerForm.get('district').hasError('required') && offerForm.get('district').touched">
                                Required field!</div>
                        </div>
                        <div class="form-group col-md-6" *ngIf="BusinessTypeId!='3'">
                            <label for="state">Zone</label>

                            <select name="state" class="form-control inp" formControlName="district"
                                (change)="Getcity($event.target.value)">
                                <option value="">Select Zone</option>
                                <option *ngFor="let district of zones" value="{{district.districtId}}">
                                    {{district.districtName}}</option>
                            </select>
                            <!-- <div class="invalid-tooltip"
                                *ngIf="offerForm.get('district').hasError('required') && offerForm.get('district').touched">
                                 Required field!</div> -->
                        </div>
                        <div class="form-group col-md-6" *ngIf="BusinessTypeId=='3'">
                            <label for="city">Station</label>
                            <select name="city" class="form-control inp" required formControlName="city">
                                <option value="">Select Station</option>
                                <option *ngFor="let city of City" value="{{city.cityId}}">
                                    {{city.cityName}}</option>
                            </select>

                            <div class="invalid-tooltip"
                                *ngIf="offerForm.get('city').hasError('required') && offerForm.get('city').touched">
                                Station is required!</div>
                        </div>
                        <div class="form-group col-md-6" *ngIf="BusinessTypeId!='3'">
                            <label for="city">Station</label>
                            <select name="city" class="form-control inp" formControlName="city">
                                <option value="">Select Station</option>
                                <option *ngFor="let city of City" value="{{city.cityId}}">
                                    {{city.cityName}}</option>
                            </select>

                            <!-- <div class="invalid-tooltip"
                                *ngIf="offerForm.get('city').hasError('required') && offerForm.get('city').touched">
                                Station is required!</div> -->
                        </div>
                        <div class="form-group col-md-6">
                            <label for="email">Variety</label>
                            <select class="form-control inp" name="varietyId" required formControlName="varietyId"
                                (change)="Getgrade($event.target.value)">
                                <option value="">Select Variety</option>
                                <option *ngFor="let v of allvariety" value="{{v.varietyName}}">{{v.varietyName}}
                                </option>

                            </select>
                            <div class="invalid-tooltip"
                                *ngIf="offerForm.get('varietyId').hasError('required') && offerForm.get('varietyId').touched">
                                variety is required!</div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="email">Grade</label>
                            <select id="grade" name="grade" formControlName="grade" required class="form-control inp"
                                (change)="GetTablebyGrade(gradeTblModal)">
                                <option value="">Select Grade</option>
                                <option value="{{g.grade}}" *ngFor="let g of grade">{{g.grade}}</option>


                            </select>
                            <div class="invalid-tooltip"
                                *ngIf="offerForm.get('grade').hasError('required') && offerForm.get('grade').touched">
                                Grade is required!</div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="email">Season</label>
                            <div class="input-group">
                                <select name="harvestDate" formControlName="seasonId" class="form-control inp">
                                    <option value="">Select Year</option>
                                    <option value="{{s.season_id}}" *ngFor="let s of Seasons">{{s.season_year}}</option>

                                </select>
                                <!-- <input type="date" class="form-control" required name="harvestDate"
                                    formControlName="harvestDate"> -->
                            </div>
                            <div class="invalid-tooltip"
                                *ngIf="offerForm.get('seasonId').hasError('required') && offerForm.get('seasonId').touched">
                                Season is required!</div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="email">Delivery Type</label>
                            <div class="input-group">
                                <select name="deliveryType" formControlName="deliveryType" required
                                    class="form-control inp">
                                    <option value="">Select Delivery Type</option>
                                    <option value="{{g.deliveryTypeId}}" *ngFor="let g of deliverytype">
                                        {{g.description}}</option>

                                </select>
                                <!-- <label>FOR</label>
                            <input type="radio" class="radio-sp" name="deliveryType" required value="FOR" placeholder="Delivery"  formControlName="deliveryType">
                            <label  class="radio-gap">ExWarehouse</label>
                            <input type="radio" class="radio-sp" name="deliveryType" required value="ExWarehouse" placeholder="Delivery"  formControlName="deliveryType"> -->
                            </div>
                            <div class="invalid-tooltip"
                                *ngIf="offerForm.get('deliveryType').hasError('required') && offerForm.get('deliveryType').touched">
                                DeliveryTypete is required!</div>
                            <!-- <div class="invalid-tooltip" *ngIf="false">Email is required!</div> -->
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="email">Specific Quantity</label>

                            <div class="input-group">
                                <input type="number" class="form-control inp" required name="Quantity" placeholder="enter quantity"
                                    (keyup)="checkquantityOffer($event.target.value)" formControlName="Quantity">
                                <!-- <select name="Qunit" style="border-radius:50px" required formControlName="Qunit"
                                    style="background-color: #145388;color:white" required>
                                    <option value="">Select Unit</option>
                                    <option>{{Unitone}}</option>
                                    <option>{{Unittwo}}</option>
                                    <option>{{Unitthree}}</option>
                                </select> -->
                            </div>

                            <div class="invalid-tooltip"
                                *ngIf="offerForm.get('Quantity').invalid && offerForm.get('Quantity').touched">
                                Input valid Quantity</div>
                            <div class="invalid-tooltip"
                                *ngIf="offerForm.get('Quantity').hasError('required') && offerForm.get('Quantity').touched">
                                Quantity is required!</div>
                            <div class="text-danger invalid-tooltip" *ngIf="errormessage">
                                {{errormessage}}</div>
                            <!-- <div class="invalid-tooltip"
                                *ngIf="offerForm.get('Qunit').hasError('Qunit') && offerForm.get('Qunit').touched">
                                Unit is required!</div> -->
                        </div>
                        <div class="form-group col-md-2">
                            <label for="Pmode"></label>
                            <div class="input-group-append mt-2" style="margin-left: -10px;padding-right:0;"><span
                                    class="input-group-text unit-txt">{{Unitone}}</span></div>
                            <input hidden formControlName="Qunit">

                        </div>
                        <div class="form-group col-md-4">
                            <label for="email">Specific Price</label>
                            <div class="input-group">
                                <input type="number" class="form-control inp" required name="price" placeholder="enter price" formControlName="price"
                                    (keyup)="checkprice($event.target.value)">
                                <!-- <select name="Punit" formControlName="Punit" required
                                    style="background-color: #145388;color:white">
                                    <option value="">Select Unit</option>

                                    <option>{{Unitone}}</option>
                                    <option>{{Unittwo}}</option>
                                    <option>{{Unitthree}}</option>
                                </select> -->
                                <div class="text-danger invalid-tooltip" *ngIf="Priceerrormessage">
                                    {{Priceerrormessage}}</div>
                                <div class="invalid-tooltip"
                                    *ngIf="offerForm.get('price').invalid && offerForm.get('price').touched">
                                    Input valid price</div>

                                <div class="invalid-tooltip"
                                    *ngIf="offerForm.get('price').hasError('required') && offerForm.get('price').touched">
                                    Price is required!</div>

                                <!-- <div class="invalid-tooltip"
                                    *ngIf="offerForm.get('Punit').hasError('required') && offerForm.get('Punit').touched">
                                    Unit is required!</div> -->
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="Pmode"></label>
                            <div class="input-group-append mt-2" style="margin-left: -10px;padding-right:0;"><span
                                    class="input-group-text unit-txt">{{Unittwo}}</span>
                                <input hidden formControlName="Punit">

                            </div>
                        </div>
                    </div>
                    <div class="form-row">

                        <div class="form-group col-md-6">
                            <label for="email">Expiry Time</label>
                            <select class="form-control inp" required name="Exdate" formControlName="Exdate">
                                <option value="">Select</option>
                                <option value="30">30 min</option>
                                <option value="1"> 1 hour</option>
                                <option value="2"> 2 hour</option>
                            </select>
                            <div class="invalid-tooltip"
                                *ngIf="offerForm.get('Exdate').hasError('required') && offerForm.get('Exdate').touched">
                                Expiry Time is required!</div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="email">Order quality Type</label>
                            <select class="form-control inp" required name="Qtype" formControlName="OqualityType">
                                <option value="">Select</option>
                                <option value="1">spot passing</option>
                                <option value="2"> mill passing</option>

                            </select>
                            <div class="invalid-tooltip"
                                *ngIf="offerForm.get('OqualityType').hasError('required') && offerForm.get('OqualityType').touched">
                                Quality Type is required!</div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="Pmode">Select Payment Mode</label>
                            <select class="form-control inp" name="Pmode" required formControlName="Pmode"
                                (change)="GetpayPterms($event.target.value)">
                                <option value="">Select Mode</option>
                                <option value="{{p.paymentModeId}}" *ngFor="let p of paymentMode">{{p.paymentMode}}
                                </option>


                            </select>
                            <div class="invalid-tooltip"
                                *ngIf="offerForm.get('Pmode').hasError('required') && offerForm.get('Pmode').touched">
                                Payment Mode is required!</div>
                            <!-- <div class="invalid-tooltip" *ngIf="false">Email is required!</div> -->
                        </div>
                        <div class="form-group col-md-6">
                            <label for="email">Select Payment Timeline</label>
                            <div class="input-group">
                                <select id="Ptimeline" name="Ptimeline" formControlName=Ptimeline class="form-control inp">
                                    <option value="">Select </option>
                                    <option value="{{t.paymentTimeline}}" *ngFor="let t of Ptermsdata">
                                        {{t.paymentTimeline}}</option>

                                </select>

                            </div>
                            <div class="invalid-tooltip"
                                *ngIf="offerForm.get('Ptimeline').hasError('required') && offerForm.get('Ptimeline').touched">
                                Payment Timeline is required!</div>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="Pmode">EMD % </label>
                            <select class="form-control inp" name="Pemd" formControlName="Pemd">
                                <option value="">Select</option>
                                <option value="{{p.emdPercentage}}" *ngFor="let p of Ptermsdata">{{p.emdPercentage}}
                                </option>
                            </select>

                        </div>
                        <div class="form-group col-md-1">
                            <label for="Pmode"></label>
                            <div class="input-group-append mt-2" style="margin-left: -10px;padding-right:0;"><span
                                    class="input-group-text">%</span></div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="email">EMD Payment Timeline</label>
                            <div class="input-group">
                                <select name="Emdtimeline" formControlName="Emdtimeline" class="form-control mr-5 inp">
                                    <option value="">Select </option>
                                    <option value="{{p.emdPaymentTimeline}}" *ngFor="let p of Ptermsdata">
                                        {{p.emdPaymentTimeline}}
                                    </option>

                                </select>

                            </div>

                            <!-- <div class="invalid-tooltip"
                                *ngIf="offerForm.get('Emdtimeline').hasError('required') && offerForm.get('Emdtimeline').touched">
                                Emd timeline is required!</div> -->
                        </div>
                        <div class="form-group col-md-1">
                            <label for="Pmode"></label>
                            <div class="input-group-append mt-2" style="margin-left: -58px;"><span
                                    class="input-group-text">Days</span></div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="email">Select Payment Term</label>
                            <div class="input-group">

                                <select class="form-control inp" name="pTerm" id="pTerm" required formControlName="pTerm">
                                    <option value="">Select Term</option>
                                    <option value="{{p.timelineBasedOn}}" *ngFor="let p of termList">
                                        {{p.timelineBasedOn}}
                                    </option>


                                </select>
                                <div class="invalid-tooltip"
                                    *ngIf="offerForm.get('pTerm').hasError('required') && offerForm.get('pTerm').touched">
                                    Payment Term is required!</div>
                            </div>

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="email">Upload Image</label>
                            <div class="input-group">
                                <input type="file" class="form-control inp" placeholder="Image"
                                    (change)="CheckUploadImage($event)" name="Pimage" formControlName="Pimage">
                            </div>
                            <div class="text-danger invalid-tooltip" *ngIf="imgsizecheck"> Upload valid document with in
                                1 MB(.png,.jpeg,jpg,)</div>
                            <!-- <div class="invalid-tooltip"
                                *ngIf="offerForm.get('Pimage').hasError('required') && offerForm.get('Pimage').touched">
                                Image is required!</div> -->
                        </div>
                        <div class="form-group col-md-6">
                            <label for="email">Upload quality Certificate</label>
                            <div class="input-group">
                                <input type="file" class="form-control inp" name="cirtificate"
                                    (change)="CheckUploadCirtificate($event)" formControlName="Qcertificate"
                                    placeholder="Name">
                            </div>
                            <div class="text-danger invalid-tooltip" *ngIf="imgsizecheckcrt"> Upload valid document with
                                in
                                1 MB(pdf,.doc,.docx)</div>
                            <!-- <small class="text-danger invalid-tooltip" *ngIf="imgsizecheck">Upload valid document with in 1 MB
                        (pdf,.doc,.docx)</small> -->
                            <!-- <div class="invalid-tooltip"
                                *ngIf="offerForm.get('Qcertificate').hasError('required') && offerForm.get('Qcertificate').touched">
                                Certificate is required!</div> -->
                        </div>

                    </div>
                    <div class="form-group col-md-12" style="text-align: right;">
                        <button type="Submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-5">
     
            <div class="col-md-5 mb-3"><span class="text-style" style="text-align: left;"> Matching Interest</span></div>
      
       

        <div class="card">
            <div class="card-body" id="matching-tbl" style="display:block;height:300px;">
                <div class="table-responsive">
                    <table class="table table-hover" id="bank-record" style="height:200px;">
                        <thead>
                            <tr>
                                <th>COUNTER COMPANY NAME</th>
                                <th>PRODUCT NAME</th>
                                <th>INITIAL QUANTITY/UNIT</th>
                                <th>COUNTER QUANTITY/UNIT</th>
                                <th>INITIAL PRICE/UNIT</th>
                                <th>COUNTER PRICE/UNIT</th>
                                <th>PRODUCT STATION</th>
                                <th>STATUS</th>
                                <th>ACTION</th>
                                <th style="background-color: white;color:black;">ACTION</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let order of Matchingdata;let i=index">

                                <td>
                                    {{order.bidCompanyName|| 'N/A'}}</td>
                                <td>
                                    {{order.productName|| 'N/A'}}</td>

                                <td>
                                    {{order.initialQuantity||'N/A'}} {{order.quantityUnit}}</td>
                                <td>
                                    {{order.bidQuantity ||'N/A'}} {{order.quantityUnit}}</td>
                                <td>
                                    {{order.price|| 'N/A'}} {{order.priceUnit}}</td>
                                <td>
                                    {{order.bidPrice|| 'N/A'}} {{order.priceUnit}}</td>

                                <td>{{order.cityName|| 'N/A'}},{{order.regionName|| 'N/A'}}
                                    ,{{order.districtName|| 'N/A'}}, {{order.stateShortName|| 'N/A'}}</td>

                                <td *ngIf="order.isConfirmed==0">Pending</td>
                                <td *ngIf="order.isConfirmed==1">Confirmed</td>
                                <td *ngIf="order.isConfirmed==2">Cancelled</td>
                                <td colspan=""><button *ngIf="order.isApproved==0" class="btn btn-primary"
                                        (click)="ApproveOrder(order.bidId)">Approve</button>
                                    <h6 *ngIf="order.isApproved==1">
                                        <span class="badge badge-success">Approved</span>
                                    </h6>
                                    <h6 *ngIf="order.isApproved==2">
                                        <span class="badge badge-danger">Rejected</span>
                                    </h6>
                                </td>
                                <td>
                                    <button *ngIf="order.isApproved==0" class="btn btn-danger"
                                        (click)="RejectOrder(order.bidId)">Reject</button>
                                </td>


                            </tr>
                            <tr *ngIf="Matchingdata==null">
                                <td colspan="4">No Record Found!</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="row">
    <div class="card bottom-box" >
        <div class="card-body">
           <div class="col-md-12">
            <tabset>
                <tab heading="OPEN ORDER" [active]="true">
                    <div class="table-wd table-responsive">
                        <table class="table table-hover" id="bank-record">
                            <thead>
                                <tr>

                                    <th>ORDER ID</th>
                                    <th>PRODUCT NAME</th>
                                    <th>SUB PRODUCT NAME</th>
                                    <th>VARIETY NAME</th>
                                    <th>PRICE/UNIT</th>
                                    <th>QUANTITY/UNIT</th>
                                    <th>PAYMENT MODE</th>
                                    <th>ORDER DATE</th>
                                    <th>PRODUCT STATION</th>
                                    <th>SEASON YEAR</th>
                                    <th>ORDER TYPE</th>
                                    <th>ACTION</th>
                                    <th style="color:rgb(135, 146, 167);">ACTION</th>



                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let Order of OpenOrder;let i=index">

                                    <td>{{Order.orderId}}</td>
                                    <td>{{Order.productName}}</td>
                                    <td>{{Order.subProductName}}</td>
                                    <td>{{Order.varietyName}}</td>
                                    <td>{{Order.price}} {{Order.priceUnit}}</td>
                                    <td>{{Order.currentQuantity}} {{Order.quantityUnit}}</td>
                                    <td>{{Order.paymentMode}}</td>
                                    <td>{{Order.orderDate}}</td>
                                    <td>{{Order.cityName|| 'N/A'}}, {{Order.regionName|| 'N/A'}}
                                        ,{{Order.districtName|| 'N/A'}}, {{Order.stateShortName||'N/A'}}</td>
                                    <td>{{Order.seasonYear||'N/A'}}</td>
                                    <td *ngIf="Order.orderType==1">BUY</td>
                                    <td *ngIf="Order.orderType==2">SELL</td>
                                    <td><button class="btn btn-primary"
                                            (click)="EditOpenorderModal(editOpenorderModal,Order)">Edit</button>
                                    </td>
                                    <!-- ,Order.orderId,Order.initialQuantity,Order.quantityUnit,Order.productId,Order.subProductId -->
                                    <td><button class="btn btn-danger"
                                            (click)="Cancelorder(deleteConfirmationModal,Order.orderId)">Cancel</button>
                                    </td>
                                </tr>
                                <tr *ngIf="OpenOrder==null">
                                    <td colspan="9">No Record Found!</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </tab>
                <tab heading="CANCELLED DEALS">
                    <span (click)="GetCancelOrder()"></span>
                    <div class="table-wd table-responsive">
                        <table class="table table-hover" id="bank-record">
                            <thead>
                                <tr>

                                    <th>ORDER ID</th>
                                    <th>PRODUCT NAME</th>
                                    <th>SUB PRODUCT NAME</th>
                                    <th>VARIETY NAME</th>
                                    <th>PRICE/UNIT</th>
                                    <th>QUANTITY/UNIT</th>
                                    <th>PAYMENT MODE</th>
                                    <th>ORDER DATE</th>
                                    <th>SEASON YEAR</th>
                                    <th>ORDER TYPE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let product of Canceldata;let i=index">
                                    <td>{{product.orderId}}</td>
                                    <td>{{product.productName}}</td>
                                    <td>{{product.subProductName}}</td>
                                    <td>{{product.varietyName}}</td>
                                    <td>{{product.price}} {{product.priceUnit}}</td>
                                    <td>{{product.initialQuantity}} {{product.quantityUnit}}</td>
                                    <td>{{product.paymentMode}}</td>
                                    <td>{{product.orderDate}}</td>
                                    <td>{{product.seasonYear||NA}}</td>
                                    <td *ngIf="product.orderType==1">BUY</td>
                                    <td *ngIf="product.orderType==2">SELL</td>

                                </tr>
                                <tr *ngIf="Canceldata==null">
                                    <td colspan="9">No Record Found!</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </tab>
                <tab heading="TRADE POSITIONS" (click)="Gethistorydata()">
                    <table class="table table-hover" id="bank-record">
                        <thead>
                            <tr>

                                <th>TRADE ID</th>
                                <th>TNC</th>
                                <th>MATCHED COMPANY NAME</th>
                                <th>TRADE QUANTITY/UNIT</th>
                                <th>TRADER PRICE/UNIT</th>
                                <th>PRODUCT NAME</th>
                                <th>SUBORODUCT NAME</th>
                                <th>VARIETY NAME</th>
                                <th>ORDER TYPE</th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let order of historydata;let i=index">

                                <td>
                                    {{order.tradeId}}</td>

                                <td>{{order.tcn}}</td>

                                <td>
                                    {{order.matchedCompanyName|| 'N/A'}}</td>
                                <td>
                                    {{order.tradeQuantity}} {{order.tradeQuantityUnit}}</td>
                                <td>
                                    {{order.tradePrice}} {{order.tradePriceUnit}}</td>
                                <td>
                                    {{order.productName|| 'N/A'}}</td>
                                <td>
                                    {{order.subProductName|| 'N/A'}}</td>
                                <td>
                                    {{order.varietyName|| 'N/A'}}</td>
                                <td *ngIf="order.orderType==1">
                                    BUY</td>
                                <td *ngIf="order.orderType==2">
                                    SELL</td>

                            </tr>
                            <tr *ngIf="historydata==null">
                                <td colspan="5">No Record Found!</td>
                            </tr>
                        </tbody>
                    </table>
                </tab>
                <!-- <tab heading="MATCHING INTEREST">
                    <div class="table-matching table-responsive">
                        <table class="table table-hover" id="bank-record">
                            <thead>
                                <tr>
                                    <th>COUNTER COMPANY NAME</th>
                                    <th>PRODUCT NAME</th>
                                    <th>INITIAL QUANTITY/UNIT</th>
                                    <th>COUNTER QUANTITY/UNIT</th>
                                    <th>INITIAL PRICE/UNIT</th>
                                    <th>COUNTER PRICE/UNIT</th>
                                    <th>PRODUCT STATION</th>
                                    <th>STATUS</th>
                                    <th>ACTION</th>
                                    <th style="background-color: rgb(135, 146, 167);color: white;">ACTION</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let order of Matchingdata;let i=index">

                                    <td>
                                        {{order.bidCompanyName|| 'N/A'}}</td>
                                    <td>
                                        {{order.productName|| 'N/A'}}</td>

                                    <td>
                                        {{order.initialQuantity||'N/A'}} {{order.quantityUnit}}</td>
                                    <td>
                                        {{order.bidQuantity ||'N/A'}} {{order.quantityUnit}}</td>
                                    <td>
                                        {{order.price|| 'N/A'}} {{order.priceUnit}}</td>
                                    <td>
                                        {{order.bidPrice|| 'N/A'}} {{order.priceUnit}}</td>

                                    <td>{{order.cityName|| 'N/A'}},{{order.regionName|| 'N/A'}}
                                        ,{{order.districtName|| 'N/A'}}, {{order.stateShortName|| 'N/A'}}</td>
                                   
                                    <td *ngIf="order.isConfirmed==0">Pending</td>
                                    <td *ngIf="order.isConfirmed==1">Confirmed</td>
                                    <td *ngIf="order.isConfirmed==2">Cancelled</td>
                                    <td colspan=""><button *ngIf="order.isApproved==0" class="btn btn-primary"
                                            (click)="ApproveOrder(order.bidId)">Approve</button>
                                        <h6 *ngIf="order.isApproved==1">
                                            <span class="badge badge-success">Approved</span>
                                        </h6>
                                        <h6 *ngIf="order.isApproved==2">
                                            <span class="badge badge-danger">Rejected</span>
                                        </h6>
                                    </td>
                                    <td>
                                        <button *ngIf="order.isApproved==0" class="btn btn-danger"
                                            (click)="RejectOrder(order.bidId)">Reject</button>
                                    </td>


                                </tr>
                                <tr *ngIf="Matchingdata==null">
                                    <td colspan="4">No Record Found!</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </tab> -->
                <!-- <tab heading="NEGOTIATION">
                    <table class="table table-hover" id="bank-record">
                        <thead>
                            <tr>
                                <th>COMPANY NAME</th>
                                <th>PRODUCT NAME</th>
                                <th>INITIAL QUANTITY/UNIT</th>
                                <th>TRADE QUANTITY/UNIT</th>
                                <th>INITIAL PRICE/UNIT</th>
                                <th>TRADE PRICE/UNIT</th>
                                <th>PRODUCT STATION</th>
                                <th>STATUS</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let order of Nigotiationdata;let i=index">

                                <td>
                                    {{order.companyName|| 'N/A'}}</td>
                                <td>
                                    {{order.productName|| 'N/A'}}</td>

                                <td>
                                    {{order.initialQuantity||'N/A'}} {{order.quantityUnit}}</td>
                                <td>
                                    {{order.bidQuantity ||'N/A'}} {{order.quantityUnit}}</td>
                                <td>
                                    {{order.price|| 'N/A'}} {{order.priceUnit}}</td>
                                <td>
                                    {{order.bidPrice|| 'N/A'}} {{order.priceUnit}}</td>

                              
                                <td>{{order.cityName}} , {{order.regionName}}, {{order.districtName}},
                                    {{order.stateShortName}}</td>

                                <td *ngIf="order.status==0">Pending</td>
                                <td *ngIf="order.status==1">Approved</td>
                                <td *ngIf="order.status==2">Cancelled</td>

                            </tr>
                            <tr *ngIf="Nigotiationdata==null">
                                <td colspan="4">No Record Found!</td>
                            </tr>
                        </tbody>
                    </table>
                </tab> -->
            </tabset>
     
           </div>
               


        </div>

    </div>
</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="line-scale" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<simple-notifications></simple-notifications>

<ng-template #editOpenorderModal>
    <div class="modal-content" style="height: 600px;overflow-x: hidden;">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Order</h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="editOpenOrderForm" [formGroup]="editOpenOrderForm" (ngSubmit)="UpdateOrder(editOpenOrderForm)">

                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label for="Orderprice">Quantity</label>
                        <input type="number" name="OrderQuantity" required class="form-control"
                            (keyup)="checkquantity($event.target.value)" id="OrderQuantity" placeholder="Quantity"
                            formControlName="OrderQuantity">
                        <div class="text-danger" *ngIf="errormessage">
                            {{errormessage}}</div>
                        <div class="invalid-tooltip"
                            *ngIf="editOpenOrderForm.get('OrderQuantity').hasError('required') && editOpenOrderForm.get('OrderQuantity').touched">
                            Quantity is required!</div>
                        <div class="invalid-tooltip"
                            *ngIf="editOpenOrderForm.get('OrderQuantity').invalid && editOpenOrderForm.get('OrderQuantity').touched">
                            Please input valid quantity!</div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="QuantityUnit">Unit</label>
                        <input class="form-control" formControlName="QuantityUnit" required
                            style="background-color:#145388;color:white">
                    </div>
                    <div class="form-group col-md-8">
                        <label for="price">Price</label>
                        <input type="text" class="form-control" formControlName="price" name="price"
                            placeholder="Price">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="Pmode">Unit</label>
                        <input class="form-control" formControlName="Punit" name="Punit" required
                            style="background-color:#145388;color:white">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Orderprice">Negotiation Terms</label>
                        <select formControlName="nTerm" name="nTerm" class="form-control">
                            <option value="">Select Term</option>
                            <option value="1">Negotiable</option>
                            <option value="2">Firm</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="email">Select Delivery Type</label>
                        <div class="input-group">
                            <select name="deliveryType" formControlName="deliveryType" required class="form-control">
                                <option value="">Select Type</option>
                                <option value="{{g.deliveryTypeId}}" *ngFor="let g of deliverytype">
                                    {{g.description}}</option>

                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Pmode">Select Payment Mode</label>
                        <select class="form-control" name="Pmode" required formControlName="Pmode"
                            (change)="GetpayPtermsEdit($event.target.value)">
                            <option value="">Select Mode</option>
                            <option value="{{p.paymentModeId}}" *ngFor="let p of paymentMode">{{p.paymentMode}}
                            </option>


                        </select>
                        <div class="invalid-tooltip"
                            *ngIf="editOpenOrderForm.get('Pmode').hasError('required') && editOpenOrderForm.get('Pmode').touched">
                            Payment Mode is required!</div>
                        <!-- <div class="invalid-tooltip" *ngIf="false">Email is required!</div> -->
                    </div>
                    <div class="form-group col-md-6">
                        <label for="email">Select Payment Timeline</label>
                        <div class="input-group">
                            <select id="Ptimeline" name="Ptimeline" formControlName=Ptimeline class="form-control">
                                <option value="">Select </option>
                                <option value="{{t.paymentTimeline}}" *ngFor="let t of Ptermsdata">
                                    {{t.paymentTimeline}}</option>

                            </select>

                        </div>
                        <div class="invalid-tooltip"
                            *ngIf="editOpenOrderForm.get('Ptimeline').hasError('required') && editOpenOrderForm.get('Ptimeline').touched">
                            Payment Timeline is required!</div>
                    </div>
                    <div class="form-group col-md-5">
                        <label for="Pmode">EMD % </label>
                        <select class="form-control" name="Pemd" formControlName="Pemd">
                            <option value="">Select</option>
                            <option value="{{p.emdPercentage}}" *ngFor="let p of Ptermsdata">{{p.emdPercentage}}
                            </option>
                        </select>

                    </div>
                    <div class="form-group col-md-1">
                        <label for="Pmode"></label>
                        <div class="input-group-append mt-2" style="margin-left: -10px;padding-right:0;"><span
                                class="input-group-text">%</span></div>
                    </div>
                    <div class="form-group col-md-5">
                        <label for="email">EMD Payment Timeline</label>
                        <div class="input-group">
                            <select name="Emdtimeline" formControlName="Emdtimeline" class="form-control mr-5">
                                <option value="">Select </option>
                                <option value="{{p.emdPaymentTimeline}}" *ngFor="let p of Ptermsdata">
                                    {{p.emdPaymentTimeline}}
                                </option>

                            </select>

                        </div>

                    </div>
                    <div class="form-group col-md-1">
                        <label for="Pmode"></label>
                        <div class="input-group-append mt-2" style="margin-left: -58px;"><span
                                class="input-group-text">Days</span></div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Orderprice">Payment Terms</label>
                        <div class="input-group">

                            <select class="form-control" name="pTerm" id="pTerm" required formControlName="pTerm">
                                <option value="">Select Term</option>
                                <option value="{{p.timelineBasedOn}}" *ngFor="let p of termList">
                                    {{p.timelineBasedOn}}
                                </option>


                            </select>
                            <div class="invalid-tooltip"
                                *ngIf="editOpenOrderForm.get('pTerm').hasError('required') && editOpenOrderForm.get('pTerm').touched">
                                Payment Term is required!</div>
                        </div>

                    </div>
                    <div class="form-group col-md-6">
                        <label for="Orderprice">Order quality Type</label>
                        <select class="form-control" required name="Qtype" formControlName="OqualityType">
                            <option value="">Select</option>
                            <option value="1">spot passing</option>
                            <option value="2"> mill passing</option>

                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" [disabled]="!editOpenOrderForm.valid">Update
                        Order</button>
                </div>
            </form>
        </div>
    </div>
</ng-template>
<ng-template #deleteConfirmationModal>
    <div class="modal-content" style="overflow-x: hidden;">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete confirmation</h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <h2>Do you want to cancel this order?</h2>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" (click)="ConfirmCancelOrder()">YES</button>
            <button type="submit" class="btn btn-danger" (click)="modalRef.hide()">NO</button>
        </div>
    </div>
</ng-template>
<ng-template #editorderModal>
    <div class="modal-content" style="overflow-x: hidden;">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel" *ngIf="orderType==1">ASK</h5>
            <h5 class="modal-title" id="exampleModalLabel" *ngIf="orderType==2">BID</h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="editOrderForm" [formGroup]="editOrderForm" (ngSubmit)="Editorder(editOrderForm)">

                <div class="form-row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="accountHolderName">Company Name</label>

                                <input type="text" name="ConpanyName" disabled required class="form-control inp"
                                    placeholder="Company Name" formControlName="ConpanyName">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="accountHolderName">Product Name</label>

                                <input type="text" name="ProductName" disabled required class="form-control inp"
                                    placeholder="Product Name" formControlName="ProductName">
                                <input type="text" hidden formControlName="ProductId">
                            </div>

                            <div class="form-group col-md-4">
                                <label for="accountHolderName">Sub Product Name</label>

                                <input type="text" name="SubProductName" disabled required class="form-control inp"
                                    placeholder="Sub Product" formControlName="SubProductName">
                                <input type="text" hidden formControlName="SubProductId">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="accountHolderName">Variety Name</label>

                                <input type="text" name="VarietyName" disabled required class="form-control inp"
                                    placeholder="Variety" formControlName="VarietyName">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="accountHolderName">State</label>
                                <!-- <select name="state" class="form-control" required formControlName="state"
                                    (change)="CheckProductState($event.target.value)">
                                    <option value="">Select State</option>
                                    <option *ngFor="let state of states" value="{{state.stateId}}">
                                        {{state.stateName}}</option>
                                </select> -->
                                <input type="text" name="state" disabled required class="form-control inp"
                                    placeholder="Location" formControlName="state">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="accountHolderName">Region</label>
                                <!-- <select name="state" class="form-control" required formControlName="region"
                                    (change)="GetDistrictForRegion($event.target.value)">
                                    <option value="">Select Region</option>
                                    <option *ngFor="let reg of region" value="{{reg.regionId}}">
                                        {{reg.regionName}}</option>
                                </select> -->
                                <input type="text" name="region" disabled required class="form-control inp"
                                    placeholder="Location" formControlName="region">
                            </div>
                            <!-- <div class="form-group col-md-4">
                                <label for="accountHolderName">Zone</label>

                                <input type="text" name="cityState" disabled required class="form-control"
                                    id="price" placeholder="Location" formControlName="cityState">
                            </div> -->
                            <div class="form-group col-md-4" *ngIf="zoneFlag==0">
                                <label for="state">Zone</label>

                                <select name="state" class="form-control inp" required formControlName="district"
                                    [(ngModel)]="zoneP" (change)="Getcity($event.target.value)">
                                    <option value="">Select Zone</option>
                                    <option *ngFor="let district of zones" value="{{district.districtId}}">
                                        {{district.districtName}}</option>
                                </select>
                                <!-- <div class="invalid-tooltip"
                                    *ngIf="offerForm.get('district').hasError('required') && offerForm.get('district').touched">
                                    Required field!</div> -->
                            </div>
                            <div class="form-group col-md-4" *ngIf="zoneFlag!=0">
                                <label for="state">Zone</label>

                                <input type="text" name="district" disabled required class="form-control inp"
                                    placeholder="District" formControlName="district">
                                <!-- <div class="invalid-tooltip"
                                    *ngIf="offerForm.get('district').hasError('required') && offerForm.get('district').touched">
                                    Required field!</div> -->
                            </div>
                            <div class="form-group col-md-4" *ngIf="stationFlag==0">
                                <label for="accountHolderName">Station</label>
                                <select name="city" class="form-control inp" required formControlName="city"
                                    [(ngModel)]="stationP">
                                    <option value="">Select Station</option>
                                    <option *ngFor="let city of City" value="{{city.cityId}}">
                                        {{city.cityName}}</option>
                                </select>

                                <!-- <input type="text" name="cityState" disabled required class="form-control"
                                    id="price" placeholder="Location" formControlName="cityState"> -->
                            </div>
                            <div class="form-group col-md-4" *ngIf="stationFlag!=0">
                                <label for="accountHolderName">Station</label>
                                <input type="text" name="city" disabled required class="form-control inp"
                                    placeholder="District" formControlName="city">
                                <!-- <select name="city" class="form-control" required formControlName="city" [(ngModel)]="stationP">
                                    <option value="">Select Station</option>
                                    <option *ngFor="let city of City" value="{{city.cityId}}">
                                        {{city.cityName}}</option>
                                </select> -->

                                <!-- <input type="text" name="cityState" disabled required class="form-control"
                                    id="price" placeholder="Location" formControlName="cityState"> -->
                            </div>
                            <div class="form-group col-md-4">
                                <label for="accountHolderName">Payment Mode</label>

                                <input type="text" name="PaymentMode" disabled required class="form-control inp"
                                    placeholder="Payment Mode" formControlName="PaymentMode">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="accountHolderName">Emd %</label>

                                <input type="text" name="EmdPercent" disabled required class="form-control inp"
                                    placeholder="Emd" formControlName="EmdPercent">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="accountHolderName">Payment Timeline</label>

                                <input type="text" name="PaymentTimeline" disabled required class="form-control inp"
                                    placeholder="Payment Timeline" formControlName="PaymentTimeline">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="accountHolderName">Grade </label>

                                <input type="text" name="Grade" disabled required class="form-control inp"
                                    placeholder="AGrade" formControlName="Grade">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="accountHolderName">Order Date</label>

                                <input type="text" name="OrderDate" disabled required class="form-control inp"
                                    placeholder="Order Date" formControlName="OrderDate">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="accountHolderName">Season Year</label>

                                <input type="text" name="HarvestedMonthyear" disabled required class="form-control inp"
                                    placeholder="Season" formControlName="SeasonYear">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="accountHolderName">Delivery Type</label>

                                <input type="text" name="DeliveryType" disabled required class="form-control inp"
                                    placeholder="Season" formControlName="DeliveryType">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="table-responsive">
                            <table class="table-spaec table-hover">

                                <tbody *ngFor="let tabdata of tabledata;">
                                    <tr *ngFor="let header of tableHeader "
                                        style="background: lightblue;border-color: rgb(22, 19, 19);font-size:larger;font-weight: bold;text-align: center">
                                        {{header}}
                                        <td
                                            style="background: rgb(223, 230, 230);border-color: rgb(32, 20, 20);font-size:small">
                                            {{tabdata[header]}}</td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="accountHolderName">Price</label>

                        <input type="number" name="Orderprice" disabled class="form-control" id="price"
                            (keyup)="checkprice($event.target.value)" placeholder="Account Holder Name"
                            formControlName="Orderprice">
                        <div class="invalid-tooltip"
                            *ngIf="editOrderForm.get('Orderprice').hasError('required') && editOrderForm.get('Orderprice').touched">
                            Price is required!</div>
                        <div class="text-danger" *ngIf="Priceerrormessage">
                            {{Priceerrormessage}}</div>
                    </div>

                    <div class="form-group col-md-2">
                        <label for="Pmode"></label>
                        <div class="input-group-append mt-2" style="margin-left: -10px"><span class="input-group-text"
                                style="background-color: #145388;color:white">{{PriceUnit}}</span></div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="Orderprice">Quantity</label>
                        <input type="number" name="OrderQuantity" required (keyup)="checkquantity($event.target.value)"
                            class="form-control" id="OrderQuantity" placeholder="Quantity"
                            formControlName="OrderQuantity">

                        <div class="invalid-tooltip"
                            *ngIf="editOrderForm.get('OrderQuantity').hasError('required') && editOrderForm.get('OrderQuantity').touched">
                            Quantity is required!</div>
                        <div class="text-danger" *ngIf="errormessage">
                            {{errormessage}}</div>
                        <div class="invalid-tooltip"
                            *ngIf="editOrderForm.get('OrderQuantity').invalid && editOrderForm.get('OrderQuantity').touched">
                            Please input valid quantity!</div>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="Pmode"></label>
                        <div class="input-group-append mt-2" style="margin-left: -10px;"><span class="input-group-text"
                                style="background-color: #145388;color:white">{{QUnit}}</span></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Place
                        Order</button>
                </div>
            </form>
        </div>
    </div>
</ng-template>
<ng-template #gradeTblModal>
    <div class="modal-content" style="height:600px;overflow-x: hidden;">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Grade Table</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="card">
                <div class="card-body" id="grade-table" style="display:block;">
                    <div class="table-responsive">
                        <table class="table table-hover" id="bank-offer">

                            <tr *ngFor="let tabdata of tabledata;let i=index;">
                                <!-- <th></th>
                                    <th>{{i+1}}</th> -->

                            </tr>
                            <tbody *ngFor="let tabdata of tabledata;">
                                <tr *ngFor="let header of tableHeader "
                                    style="background: lightblue;border-color: rgb(22, 19, 19);font-size:larger;font-weight: bold;text-align: center">
                                    {{header}}
                                    <td
                                        style="background: rgb(255, 255, 255);border-color: rgb(32, 20, 20);font-size:small">
                                        {{tabdata[header]}}</td>
                                </tr>
                            </tbody>


                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</ng-template>