.inp {
  border: none;
  border-bottom: 1px solid #999da1;
  // padding: 5px 10px;
  outline: none;
  // width: 295px;
  // margin-top: 47px;
  // margin-bottom: -4px;
}
::-webkit-input-placeholder {  /* Chrome/Opera/Safari */
  color: rgb(117, 21, 21);
}
// [placeholder]:focus::-webkit-input-placeholder {
//   transition: text-indent 0.4s 0.4s ease; 
//   text-indent: -100%;
//   opacity: 1;
//   color: rgb(175, 31, 31);
// }
.custom-checkbox {
  width: 340px;
  height: 66px;
  input#status {
    display: none;
     // Unchecked State
    + label {
      height: 42%;
      width: 100%;
      > .status-switch {
        cursor: pointer;
        width: 100%;
        height: 100%;
        position: relative;
        background-color: grey;
        color: white;
        transition: all 0.5s ease;
        padding: 3px;
        border-radius: 3px;

        &:before,
        &:after {
          border-radius: 2px;
          height: calc(100% - 6px);
          width: calc(50% - 3px);
          display: flex;
          align-items: center;
          position: absolute;
          justify-content: center;
          transition: all 0.3s ease;
        }
        
        &:before {
          background-color: #c5d6da;
          color: black;
          box-shadow: 0 0 4px 4px rgba(#000, 0.2);
          left: 3px;
          z-index: 10;
          content: attr(data-unchecked);
        }
        
        &:after {
          right: 0;
          content: attr(data-checked);
        }
      }
    }

    // Checked stae
    &:checked + label > .status-switch {
      background-color: rgb(20,83,136);
 
      &:after {
        left: 0;
        content: attr(data-unchecked);
      }
 
      &:before {
        color:  rgb(20,83,136);
        left: 50%;
        content: attr(data-checked);
      }
    }
  }
}
.radio-sp{
  margin-left: 10px;
}
.radio-gap{
  margin-left: 20px;
}
.unit-txt{
  width: 97px;
  height: 38px;
  text-align: center;
  padding: 0;
  padding-left: 20px;
  font-size: 11px;
  font-weight:normal;
  background-color:#145388;color:white
}
.text-left{

  margin-left: 456px;
 
    border: 1px solid grey;
    border-radius: 5px;
    width: 140px;
    height: 27px;
    padding-left: 44px;
    background-color: white;
}
// -------
// .ui-datepicker-calendar {
//   display: none;
// }
// .ui-datepicker-month {
//   display: none;
// }
// .ui-datepicker-prev{
//   display: none;
// }
// .ui-datepicker-next{
//   display: none;
// }
#bank-record th {
  // background: rgb(135, 146, 167);
   background: white;
//  border:white 1px solid;
 color: black;

font-size: 11px;
font-weight: bold;
}
#bank-record tr {
  font-size: 10px; 

}
.table-order {
  // border: 1px solid rgb(204, 201, 201);
  border-radius: 15px;
}
::-webkit-scrollbar {
  height: 5px;
  width: 12px;
  background: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
  background: #797979;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(116, 114, 114, 0.75);
}

::-webkit-scrollbar-corner {
  background: #000;
}
.offer-section{
  &::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: rgb(255, 255, 255);
  }
  
  &::-webkit-scrollbar-thumb {
    background: #797979;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(116, 114, 114, 0.75);
  }
  
  &::-webkit-scrollbar-corner {
    background: #000;
  }
}
.offer-section{
  height: 300px;
  overflow-x: hidden;
}
.text-style{
  font-size: 15px;
  font-weight: 900;
 
}
.bottom-box{
  padding: 8px;
  margin: 15px
}