<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <app-breadcrumb></app-breadcrumb>
        <div class="separator mb-5"></div>
    </div>
</div>
<div class="row">
    <div class="col-12 mb-4">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <select class="form-control" [(ngModel)]="paymentMode"
                            (change)="paymentMode==$event.target.value;type='none';">
                            <option value="none" disabled>Select Payment Operation</option>
                            <option value="deposit">Deposit</option>
                            <option value="withdraw">Withdraw</option>
                        </select>
                    </div>
                    <div class="col-md-4 text-center align-self-center">
                        <ng-container *ngIf="'deposit'==paymentMode">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" value="pgd" name="radio" id="pgd"
                                    (click)="type=$event.target.value" [(ngModel)]="type">
                                <label class="form-check-label" for="pgd">
                                    PGD
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" value="settle" name="radio" id="settle"
                                    (click)="type=$event.target.value;CheckMarginflag(margindeficit)"
                                    [(ngModel)]="type">
                                <label class="form-check-label" for="settle">
                                    Margin Settle
                                </label>
                            </div>
                        </ng-container>
                    </div>
                    <div class="col-md-4">
                        <button *ngIf="'deposit'==paymentMode &&'pgd'==type" class="btn btn-primary btn-sm float-right"
                            (click)="addPgdRow()"><i class="simple-icon-plus"></i>&nbsp;Add</button>
                        <button *ngIf="'deposit'==paymentMode &&'settle'==type"
                            class="btn btn-primary btn-sm float-right" (click)="addMarginSettleRow()"><i
                                class="simple-icon-plus"></i>&nbsp;Add</button>
                    </div>
                </div>
                <form *ngIf="'deposit'==paymentMode && 'pgd'==type" [formGroup]="pgdForm"
                    (ngSubmit)="onPgdFormSubmit(pgdForm,pgdAdviceModal)">
                    <hr />
                    <div class="table-responsive shadow-sm bg-white rounded">
                        <table class="table text-center table-hover mb-0 pb-0">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Sl No</th>
                                    <th>Product</th>
                                    <th>Sub Product</th>
                                    <th>Quantity/Unit(shipment)</th>
                                    <th>Amount</th>
                                    <th>GST@18%</th>
                                    <th>Net Amount</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody formArrayName="pgdFormArray">
                                <tr *ngFor="let control of pgdFormArray.controls;let i=index;" formGroupName="{{i}}">
                                    <td class="font-weight-bold"> {{i+1}}</td>
                                    <td>
                                        <select formControlName="productId" class="form-control"
                                            (change)="GetAllSubProducts($event.target.value,i,'pgd');pgdFormArray.controls[i].get('quantity').setValue('');">
                                            <option value="" disabled>Select Product Name</option>
                                            <option *ngFor="let product of productList;" [value]="product.productId">
                                                {{product.productName}}
                                            </option>
                                        </select>
                                        <div class="alert alert-danger m-0 p-0 text-center" *ngIf="pgdFormArray.controls[i].get('productId').hasError('required') &&
                                pgdFormArray.controls[i].get('productId').touched">
                                            *product name is required!</div>
                                    </td>
                                    <td>
                                        <select formControlName="subProductId" class="form-control"
                                            (change)="GetTradeLimitBySubProduct($event.target.value,i,'pgd');pgdFormArray.controls[i].get('quantity').setValue('');">
                                            <option value="" disabled>Select Sub Product Name</option>
                                            <option *ngFor="let product of subProductListForPgd[i];"
                                                [value]="product.subProductId">
                                                {{product.subProductName}}
                                            </option>
                                        </select>
                                        <div class="alert alert-danger m-0 p-0 text-center" *ngIf="pgdFormArray.controls[i].get('subProductId').hasError('required') &&
                                pgdFormArray.controls[i].get('subProductId').touched">
                                            *sub product name is required!</div>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input type="text" class="form-control"
                                                placeholder="Enter Quantity/Unit/Shipment" formControlName="quantity"
                                                (keyup)="setNetAmountForPgd(i,$event.target.value)" />
                                            <div class="input-group-append">
                                                <span
                                                    class="input-group-text font-weight-bold">{{tradeLimitListForPgd[i]?tradeLimitListForPgd[i].tradeUnit||'Unit':'Unit'}}</span>
                                            </div>
                                        </div>
                                        <div class="alert alert-danger m-0 p-0 text-center" *ngIf="pgdFormArray.controls[i].get('quantity').hasError('required') &&
                                    pgdFormArray.controls[i].get('quantity').touched">
                                            *quantity is required!</div>
                                        <div class="alert alert-danger m-0 p-0 text-center" *ngIf="pgdFormArray.controls[i].get('quantity').hasError('min') &&
                                        pgdFormArray.controls[i].get('quantity').touched">*min
                                            {{tradeLimitListForPgd[i]?tradeLimitListForPgd[i].tradeLimit:'1'}} is
                                            required!</div>
                                        <div class="alert alert-danger m-0 p-0 text-center" *ngIf="pgdFormArray.controls[i].get('quantity').hasError('pattern') &&
                                    pgdFormArray.controls[i].get('quantity').touched">
                                            *number is required!</div>
                                    </td>
                                    <td>
                                        <span
                                            class="input-group-text font-weight-bold">{{(pgdFormArray.controls[i].get('amount').value|number:'1.2-2')||'0.00'}}</span>
                                        <!-- <input type="text" class="form-control" placeholder="Enter Amount"
                                            formControlName="amount" />
                                        <small *ngIf="pgdFormArray.controls[i].get('amount').hasError('required') &&
                                    pgdFormArray.controls[i].get('amount').touched" class="text-danger float-left">
                                            *amount is required!</small> -->
                                    </td>
                                    <td>
                                        <span
                                            class="input-group-text font-weight-bold">{{(pgdFormArray.controls[i].get('gst').value|number:'1.2-2')||'0.00'}}</span>
                                        <!-- <input type="text" class="form-control" placeholder="Enter GST"
                                            formControlName="gst" />
                                        <small *ngIf="pgdFormArray.controls[i].get('gst').hasError('required') &&
                                    pgdFormArray.controls[i].get('gst').touched" class="text-danger float-left">
                                            *gst is required!</small> -->
                                    </td>
                                    <td>
                                        <span
                                            class="input-group-text font-weight-bold">{{(pgdFormArray.controls[i].get('pgdAmt').value|number:'1.2-2')||'0.00'}}</span>
                                        <!-- <input type="text" class="form-control" placeholder="Enter Net Amount"
                                            formControlName="pgdAmt" />
                                        <small *ngIf="pgdFormArray.controls[i].get('pgdAmt').hasError('required') &&
                                    pgdFormArray.controls[i].get('pgdAmt').touched" class="text-danger float-left">
                                            *net amount is required!</small> -->
                                    </td>
                                    <td>
                                        <button [disabled]="i==0" class="btn btn-danger" (click)="removePgdRow(i)"><i
                                                class="simple-icon-minus"></i>&nbsp;Remove</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button class="btn btn-success float-left mt-3" [disabled]="!pgdForm.valid"><i
                            class="simple-icon-check"></i>&nbsp;Generate Advice</button>
                </form>
                <form *ngIf="'deposit'==paymentMode && 'settle'==type" [formGroup]="marginSettleForm"
                    (ngSubmit)="onMarginSettleFormSubmit(marginSettleForm,margindAdviceModal)">
                    <hr />
                    <div class="table-responsive shadow-sm bg-white rounded">
                        <table class="table text-center table-hover mb-0 pb-0">
                            <thead class="thead-dark">
                                <tr>
                                    <th>SNo</th>
                                    <th>Product</th>
                                    <th>Sub Product</th>
                                    <th>Deficit Quantity/Unit</th>
                                    <!-- <th>Deficit Quanity/Bales</th> -->
                                    <th>Amount</th>
                                    <th>GST(%)</th>
                                    <th>Net Amount</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody formArrayName="marginSettleFormArray">
                                <tr *ngFor="let control of marginSettleFormArray.controls;let i=index;"
                                    formGroupName="{{i}}">
                                    <td>{{i+1}}</td>
                                    <td>
                                        <select formControlName="productId" class="form-control"
                                            (change)="GetAllMarginSubProducts($event.target.value,i,'margin')">
                                            <option value="" disabled>Select Product Name</option>
                                            <option *ngFor="let product of MproductList;" [value]="product.productId">
                                                {{product.productName}}
                                            </option>
                                        </select>
                                        <small *ngIf="marginSettleFormArray.controls[i].get('productId').hasError('required') &&
                                    marginSettleFormArray.controls[i].get('productId').touched"
                                            class="text-danger float-left">
                                            *product name is required!</small>
                                    </td>
                                    <td>
                                        <select formControlName="subProductId" class="form-control"
                                            (change)="checkForvalue(i)">
                                            <option value="" disabled>Select Sub Product Name</option>
                                            <option *ngFor="let product of subProductListForMargin[i];"
                                                [value]="product.subProductId">
                                                {{product.subProductName}}
                                            </option>
                                        </select>
                                        <small *ngIf="marginSettleFormArray.controls[i].get('subProductId').hasError('required') &&
                                    marginSettleFormArray.controls[i].get('subProductId').touched"
                                            class="text-danger float-left">
                                            *sub product name is required!</small>
                                    </td>
                                    <!-- <td>
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                            placeholder="Enter Deposit Quantity/Unit/Shipment"
                                            formControlName="depositQuantity" />
                                        <div class="input-group-append">
                                            <span
                                                class="input-group-text font-weight-bold">{{tradeLimitListForMargin[i]!=null?tradeLimitListForMargin[i].tradeUnit:'Unit'}}</span>
                                        </div>
                                    </div>
                                    <small *ngIf="marginSettleFormArray.controls[i].get('depositQuantity').hasError('required') &&
                                    marginSettleFormArray.controls[i].get('depositQuantity').touched"
                                        class="text-danger float-left">
                                        *deposit quantity is required!</small>
                                </td> -->
                                    <td>
                                        <div class="input-group">
                                            <input type="text" class="form-control"
                                                placeholder="Enter Deficit Quantity/Unit/Shipment"
                                                formControlName="quantity" />
                                            <div class="input-group-append">
                                                <!-- <span
                                            class="input-group-text font-weight-bold">{{Munit}}</span> -->
                                                <span
                                                    class="input-group-text font-weight-bold">{{valueArry[i]!=null?valueArry[i].unit:'Unit'}}</span>
                                            </div>
                                        </div>
                                        <small *ngIf="marginSettleFormArray.controls[i].get('quantity').hasError('required') &&
                                    marginSettleFormArray.controls[i].get('quantity').touched"
                                            class="text-danger float-left">
                                            *deficit quantity is required!</small>

                                    </td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="Enter Amount"
                                            formControlName="marginAmt" />
                                        <small *ngIf="marginSettleFormArray.controls[i].get('marginAmt').hasError('required') &&
                                    marginSettleFormArray.controls[i].get('marginAmt').touched"
                                            class="text-danger float-left">
                                            *amount is required!</small>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="Enter GST"
                                            formControlName="gst" />
                                        <small *ngIf="marginSettleFormArray.controls[i].get('gst').hasError('required') &&
                                    marginSettleFormArray.controls[i].get('gst').touched"
                                            class="text-danger float-left">
                                            *gst is required!</small>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="Enter Net Amount"
                                            formControlName="netAmount" />
                                        <small *ngIf="marginSettleFormArray.controls[i].get('netAmount').hasError('required') &&
                                    marginSettleFormArray.controls[i].get('netAmount').touched"
                                            class="text-danger float-left">
                                            *net amount is required!</small>
                                    </td>
                                    <td>
                                        <button [disabled]="i==0" class="btn btn-danger"
                                            (click)="removeMarginSettleRow(i)"><i
                                                class="simple-icon-minus"></i>&nbsp;Remove</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button class="btn btn-success float-left mt-3" [disabled]="!marginSettleForm.valid"><i
                            class="simple-icon-check"></i>&nbsp;Generate
                        Advice</button>
                </form>
                <div *ngIf="'withdraw'==paymentMode" class="row mt-2">
                    <div class="col-md-12">
                        <hr>
                        <form [formGroup]="withdrawlForm" (ngSubmit)="onWithdrawlFormSubmit(withdrawlForm)">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Product</label>
                                    <select class="form-control" formControlName="productId"
                                        (change)="GetAllSubProducts($event.target.value,0,'withdraw')">
                                        <option value="null" disabled>Select Product</option>
                                        <option [value]="item.productId" *ngFor="let item of productList">
                                            {{item.productName}}
                                        </option>
                                    </select>
                                    <div *ngIf="withdrawlForm.get('productId').hasError('required') && withdrawlForm.get('productId').touched"
                                        class="alert alert-danger m-0 p-0 text-center">*product is required!</div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Sub Product</label>
                                    <select class="form-control" formControlName="subProductId"
                                        (change)="getAvaliablePgd($event.target.value);GetWithdrawTradeLimit($event.target.value);">
                                        <option value="null" disabled>Select Sub Product</option>
                                        <option [value]="item.subProductId"
                                            *ngFor="let item of subProductListForWithdrawal">{{item.subProductName}}
                                        </option>
                                    </select>
                                    <div *ngIf="withdrawlForm.get('subProductId').hasError('required') && withdrawlForm.get('subProductId').touched"
                                        class="alert alert-danger m-0 p-0 text-center">*sub product is required!</div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Available PGD</label>
                                    <span
                                        class="input-group-text font-weight-bold">{{(withdrawlForm.get('availablePgd').value|number:'1.2-2')||'0.00'}}&nbsp;{{(withdrawlForm.get('unit').value)||'Unit'}}</span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Available Amount</label>
                                    <span
                                        class="input-group-text font-weight-bold">{{(withdrawlForm.get('availableAmount').value|number:'1.2-2')||'0.00'}}</span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Withdrawal PGD</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Enter Quantity"
                                            formControlName="quantity"
                                            (change)="calculateAmount($event.target.value,tradeLimitObjForWithdraw.amount,tradeLimitObjForWithdraw.tradeLimit)" />
                                        <div class="input-group-append">
                                            <span
                                                class="input-group-text font-weight-bold">{{(withdrawlForm.get('unit').value)||'Unit'}}</span>
                                        </div>
                                    </div>
                                    <div class="alert alert-danger m-0 p-0 text-center" *ngIf="withdrawlForm.get('quantity').hasError('required') &&
                                    withdrawlForm.get('quantity').touched">
                                        *quantity is required!</div>
                                    <div class="alert alert-danger m-0 p-0 text-center" *ngIf="withdrawlForm.get('quantity').hasError('pattern') &&
                                    withdrawlForm.get('quantity').touched">
                                        *number is required!</div>
                                    <div class="alert alert-danger m-0 p-0 text-center" *ngIf="withdrawlForm.get('quantity').hasError('min') &&
                                    withdrawlForm.get('quantity').touched">*min {{tradeLimitObjForWithdraw.tradeLimit}}
                                        is required!</div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Withdrawal Amount</label>
                                    <span
                                        class="input-group-text font-weight-bold">{{(withdrawlForm.get('withdrawlAmount').value|number:'1.2-2')||'0.00'}}</span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <button class="btn btn-success mb-2" [disabled]="!withdrawlForm.valid"><i
                                            class="iconsminds-disk"></i>&nbsp;Save</button><br />
                                    <small class="text-right text-danger">*Note: Withdrawl fee charges 2%</small>
                                </div>
                                <div class="form-group col-md-6">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<simple-notifications></simple-notifications>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="line-scale" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>

<ng-template #pgdAdviceModal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">PGD Advice</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)="modalRef.hide();pgdAdvice={pgdDetailList:[]};">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="font-weight-bold">Advice Number</td>
                                <td>{{pgdAdvice.adviceId||'N/A'}}</td>

                            </tr>
                            <tr>
                                <td class="font-weight-bold">Advice Issuance Date</td>
                                <td>{{pgdAdvice.Issudate||'N/A'}}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Customer Company Name</td>
                                <td>{{companyname}}</td>

                            </tr>
                            <tr>
                                <td class="font-weight-bold">Address</td>
                                <td>{{address}}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Contact Number</td>
                                <td>{{contactNo}}</td>

                            </tr>


                        </tbody>
                    </table>
                </div>

                <div class="col-md-6">

                    <table class="table">
                        <tbody>

                            <tr>
                                <td class="font-weight-bold">Exchange Company Name</td>
                                <td>{{exchangeName}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Address</td>
                                <td>{{exchangeAddress}}</td>

                            </tr>
                            <tr>
                                <td class="font-weight-bold">Contact Number</td>
                                <td>{{exchangeMobile}}</td>

                            </tr>
                            <tr>
                                <td class="font-weight-bold">Email Id</td>
                                <td>{{exchangeEmail}}</td>


                            </tr>

                        </tbody>
                    </table>

                </div>
                <div class="col-md-12 table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            <tr style="background-color: rgb(167, 167, 202);">
                                <td class="font-weight-bold">SNo</td>
                                <td class="font-weight-bold">Payment Description</td>
                                <td></td>
                                <td class="font-weight-bold">Product</td>
                                <td class="font-weight-bold">Trade Limit</td>
                                <td class="font-weight-bold">Units</td>
                                <td class="font-weight-bold">Amount</td>
                            </tr>
                            <tr *ngFor="let item of pgdAdvice.pgdDetailList;let i=index;">
                                <td class="font-weight-bold">{{i+1}}</td>
                                <td>Performance Guarantee</td>
                                <td></td>
                                <td>{{item.productName}},{{item.subProductName}}</td>
                                <td>{{item.quantity}}</td>
                                <td>{{item.unit}}</td>
                                <td>{{item.pgdAmt}}</td>
                            </tr>
                            <tr *ngIf="pgdAdvice.pgdDetailList.length!=0">
                                <td class="font-weight-bold">Total Amount(In Rupees)</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="font-weight-bold">{{pgdAdvice.totalAmount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <b class="font-weight-bold" *ngIf="pgdAdvice==null">Preview Not Available</b>
        </div>
        <div class="modal-footer">

        </div>
    </div>
</ng-template>
<ng-template #margindAdviceModal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">PGD Advice</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)="modalRef.hide();pgdAdvice={pgdDetailList:[]};">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="font-weight-bold">Advice Number</td>
                                <td>{{pgdAdvice.adviceId||'N/A'}}</td>

                            </tr>
                            <tr>
                                <td class="font-weight-bold">Advice Issuance Date</td>
                                <td>{{pgdAdvice.Issudate||'N/A'}}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Customer Company Name</td>
                                <td>{{companyname}}</td>

                            </tr>
                            <tr>
                                <td class="font-weight-bold">Address</td>
                                <td>{{address}}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Contact Number</td>
                                <td>{{contactNo}}</td>

                            </tr>


                        </tbody>
                    </table>
                </div>

                <div class="col-md-6">

                    <table class="table">
                        <tbody>

                            <tr>
                                <td class="font-weight-bold">Exchange Company Name</td>
                                <td>{{exchangeName}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Address</td>
                                <td>{{exchangeAddress}}</td>

                            </tr>
                            <tr>
                                <td class="font-weight-bold">Contact Number</td>
                                <td>{{exchangeMobile}}</td>

                            </tr>
                            <tr>
                                <td class="font-weight-bold">Email Id</td>
                                <td>{{exchangeEmail}}</td>


                            </tr>

                        </tbody>
                    </table>

                </div>
                <div class="col-md-12 table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            <tr style="background-color: rgb(167, 167, 202);">
                                <td class="font-weight-bold">SNo</td>
                                <td class="font-weight-bold">Payment Description</td>
                                <td></td>
                                <td class="font-weight-bold">Product</td>
                                <td class="font-weight-bold">Trade Limit</td>
                                <td class="font-weight-bold">Units</td>
                                <td class="font-weight-bold">Amount</td>
                            </tr>
                            <tr *ngFor="let item of pgdAdvice.pgdDetailList;let i=index;">
                                <td class="font-weight-bold">{{i+1}}</td>
                                <td>Performance Guarantee</td>
                                <td></td>
                                <td>{{item.productName}},{{item.subProductName}}</td>
                                <td>{{item.quantity}}</td>
                                <td>{{item.unit}}</td>
                                <td>{{item.pgdAmt}}</td>
                            </tr>
                            <tr *ngIf="pgdAdvice.pgdDetailList.length!=0">
                                <td class="font-weight-bold">Total Amount(In Rupees)</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="font-weight-bold">{{pgdAdvice.totalAmount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <b class="font-weight-bold" *ngIf="pgdAdvice==null">Preview Not Available</b>
        </div>
        <div class="modal-footer">

        </div>
    </div>
</ng-template>
<ng-template #margindeficit>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">

                <div class="">There is Margin Deficit!!</div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="modalRef.hide()">OK</button>
        </div>
    </div>
</ng-template>