<div class="card auth-card">
  <div class="position-relative image-side ">
    <p class=" text-white h2">MAGIC IS IN THE DETAILS</p>
    <p class="white mb-0">
      Please use your credentials to login.
      <br>If you are not a member, please
      <a routerLink="/user/regfirst" class="white white-underline-link">register</a>.
    </p>
  </div>
  <div class="form-side">
    <a class="c-pointer">
      <span class="logo-single"></span>
    </a>
    <h6 class="mb-4">Login</h6>

    <form #loginForm="ngForm" (ngSubmit)="loginForm.valid&&onSubmit()">
      <label class="form-group has-float-label">
        <input class="form-control" required ngModel #email="ngModel" name="email" [(ngModel)]="emailModel" />
        <span>Trade-Id</span>
        <div *ngIf="!email.valid && loginForm.submitted" class="invalid-tooltip">Trade-Id is required!</div>
      </label>
      <label class="form-group has-float-label">
        <select class="form-control" required ngModel #btype="ngModel" name="btype" [(ngModel)]="businessType">
          <option value="">Select Business Type</option>
          <option value="{{r.businessTypeId}}" *ngFor="let r of allbusinessType">
            {{r.businessTypeName}}
          </option>

        </select>
        <!-- <span>Business Type</span> -->
        <div *ngIf="!btype.valid && loginForm.submitted" class="invalid-tooltip">Business Type is required!</div>
      </label>
      <label class="form-group has-float-label">
        <input class="form-control" type="password" placeholder="" required ngModel #password="ngModel" name="password"
          [(ngModel)]="passwordModel" />
        <span>{{ 'user.password' | translate }}</span>
        <div *ngIf="!password.valid && loginForm.submitted" class="invalid-tooltip">Password is required!</div>
      </label>
     
      <div class="d-flex justify-content-between align-items-center">
        <a routerLink="/user/forgot-password">{{'user.forgot-password' | translate }}?</a>
        <a routerLink="/user/regfirst">Registration</a>
        <button class="'btn btn-primary btn-lg btn-shadow'" [disabled]="buttonDisabled" click="onLoginClick()">
          {{ 'user.login-button' | translate | uppercase }}
        </button>
        <!-- <app-state-button [btnClass]="'btn btn-primary btn-lg btn-shadow'" [currentState]="buttonState"
          [isDisabled]="buttonDisabled" click="onLoginClick()">
          {{ 'user.login-button' | translate | uppercase }}
        </app-state-button> -->
      </div>
    </form>

  </div>
</div>
<simple-notifications></simple-notifications>