<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <app-breadcrumb></app-breadcrumb>
        <div class="separator mb-5"></div>
    </div>
</div>
<div class="row">
    <div class="col-12 mb-4">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-md-4">
                        <label for="dateRange"><b>Select Date Range</b></label>
                        <input class="form-control inp mt-1" #drp="bsDaterangepicker" bsDaterangepicker
                            placeholder="Select Date Range" style="background-color: white;" readonly
                            [bsConfig]="{ ranges: ranges,rangeInputFormat : 'DD-MM-YYYY', dateInputFormat: 'DD-MM-YYYY'}"
                            [container]="'html'" [ngModel]="bsRangeValue"
                            (ngModelChange)="bsRangeValue=$event;getTcnList();shipmentDocumentList=[];shipmentViewDetailsList=[];shipmentValue={};shipmentNo=0;shipmentNoList=[];getConfmShippmentDetails();" />
                    </div>
                    <div class="col-md-4">
                        <label for="state"><b>Select Product</b></label>
                        <select class="form-control inp" name="state" [(ngModel)]="productId"
                            (change)="GetAllSubProducts($event.target.value);getTcnList();shipmentDocumentList=[];shipmentViewDetailsList=[];shipmentValue={};getConfmShippmentDetails();">
                            <option value="0" disabled>Select Product</option>
                            <option *ngFor="let product of productList;" [value]="product.productId">
                                {{product.productName}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="state"><b>Select Sub Product</b></label>
                        <select class="form-control inp" name="state" [(ngModel)]="subProductId"
                            (change)="getTcnList();getSeason();shipmentDocumentList=[];shipmentViewDetailsList=[];shipmentValue={};getConfmShippmentDetails();">
                            <option value="0" disabled>Select Sub Product</option>
                            <option *ngFor="let product of subProductList;" [value]="product.subProductId">
                                {{product.subProductName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-4">
                        <label for="state"><b>Select State</b></label>
                        <select class="form-control inp" name="state" [(ngModel)]="stateId"
                            (change)="getTcnList();tncId='';tcnList=[];shipmentDocumentList=[];shipmentViewDetailsList=[];shipmentValue={};getConfmShippmentDetails();">
                            <option value="0" disabled>Select State</option>
                            <option [value]="state.stateId" *ngFor="let state of stateList">{{state.stateName}}</option>
                        </select>
                    </div>
                    <!-- <div class="col-md-4">
                        <label for="state"><b>Select Season</b></label>
                        <select class="form-control inp" name="state" [(ngModel)]="seasonId"
                            (change)="getTcnList();shipmentDocumentList=[];shipmentViewDetailsList=[];shipmentValue={};">
                            <option value="0" disabled>Select Season</option>
                            <option *ngFor="let season of seasonList;" [value]="season.season_id">
                                {{season.season_year}}
                        </select>
                    </div> -->
                    <div class="col-md-4">
                        <label for="company"><b>Search Company</b></label>
                        <input id="searchBar"
                            (typeaheadOnSelect)="onSelect($event);getTcnList();shipmentDocumentList=[];shipmentViewDetailsList=[];shipmentValue={};getConfmShippmentDetails();"
                            typeaheadWaitMs=" 500" [isAnimated]="true" [typeaheadScrollable]="true" [ngModel]="search"
                            (ngModelChange)="buyerCompanyId=0;sellerCompanyId=0;search=$event;getTcnList();getConfmShippmentDetails();"
                            typeaheadOptionField="companyName" [typeahead]="suggestions$" [typeaheadAsync]="true"
                            class="form-control inp mt-1" placeholder="Enter Company Name">
                        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
                            {{ errorMessage }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="tnc"><b>Select TCN</b></label>
                        <select class="form-control inp" name="tcn" [(ngModel)]="tncId"
                            (change)="getDeliveryNoListByTcn($event.target.value);deliveryNo='0';deliveryNoList=[];
                            shipmentNo=0;shipmentNoList=[];shipmentDocumentList=[];shipmentViewDetailsList=[];shipmentValue={};getConfmShippmentDetails();">
                            <option value="" disabled>Select TCN</option>
                            <option [value]="tcn.tcnNo" *ngFor="let tcn of tcnList;">{{tcn.tcnNo}}</option>
                        </select>
                    </div>
                </div>
                <!-- <div class="row mt-3">
                    <div class="col-md-4">
                        <label for="tnc"><b>Select TCN</b></label>
                        <select class="form-control inp" name="tcn" [(ngModel)]="tncId"
                            (change)="getDeliveryNoListByTcn($event.target.value);deliveryNo='0';deliveryNoList=[];
                            shipmentNo=0;shipmentNoList=[];shipmentDocumentList=[];shipmentViewDetailsList=[];shipmentValue={};">
                            <option value="" disabled>Select TCN</option>
                            <option [value]="tcn.tcnNo" *ngFor="let tcn of tcnList;">{{tcn.tcnNo}}</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="deliveryNo"><b>Select Delivery No</b></label>
                        <select class="form-control inp" name="deliveryNo" [(ngModel)]="deliveryNo" (change)="getShipmentNoListByDeliveryNO($event.target.value);shipmentNo=0;shipmentNoList=[];
                            shipmentViewDetailsList=[];shipmentValue={};shipmentDocumentList=[];">
                            <option value="0" disabled>Select Delivery No</option>
                            <option *ngFor="let object of deliveryNoList;" [value]="object.deliveryNo">
                                {{object.deliveryNo}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="shipmentNo"><b>Select Shipment No</b></label>
                        <select class="form-control inp" name="shipmentNo" [(ngModel)]="shipmentNo"
                            (change)="getConfmShippmentDetails();">
                            <option value="0" disabled>Select Shipment No</option>
                            <option *ngFor="let object of shipmentNoList;" [value]="object.shipmentNo">
                                {{object.shipmentNo}}
                            </option>
                        </select>
                    </div>
                </div> -->
                <!-- <hr> -->
                <div class="table-responsive mt-4 mb-4">
                    <table class="table table-borderless text-left mb-0 pb-0">
                        <tbody>
                            <tr>
                                <td><b>ProductName:&nbsp;</b>&nbsp;{{shipmentValue.productName||'N/A'}}</td>
                                <td><b>SubProductName:&nbsp;</b>&nbsp;{{shipmentValue.subProductName||'N/A'}}</td>
                                <td><b>Buyer Name:&nbsp;</b>&nbsp;{{shipmentValue.buyerCompanyName||'N/A'}}</td>
                                <td><b>Seller Name:&nbsp;</b>&nbsp;{{shipmentValue.sellerCompanyName||'N/A'}}</td>

                                <!-- <td><b>DeliveryNo:&nbsp;</b>&nbsp;{{shipmentValue.deliveryNo||'N/A'}}</td>
                                <td><b>StateName:&nbsp;</b>&nbsp;{{shipmentValue.stateName}}</td>
                                <td><b>DistrictName:&nbsp;</b>&nbsp;{{shipmentValue.districtName}}</td>
                                <td><b>CityName:&nbsp;</b>&nbsp;{{shipmentValue.cityName}}</td>
                                <td><b>Tcn:&nbsp;</b>&nbsp;{{shipmentValue.tcn||'N/A'}}</td>
                                <td><b>BuyerCompanyName:&nbsp;</b>&nbsp;{{shipmentValue.buyerCompanyName||'N/A'}}</td>
                                <td><b>ProductName:&nbsp;</b>&nbsp;{{shipmentValue.productName||'N/A'}}</td> -->
                            </tr>
                            <tr>
                                <td><b>Tcn:&nbsp;</b>&nbsp;{{shipmentValue.tcn||'N/A'}}</td>
                                <td><b>Trade
                                        TimeStamp:&nbsp;</b>&nbsp;{{(shipmentValue.tradeTimestamp|date:'medium')||'N/A'}}
                                </td>
                                <td><b>Location:&nbsp;</b>&nbsp;{{shipmentValue.location||'N/A'}}</td>
                                <td><b>Allotment No:&nbsp;</b>&nbsp;{{shipmentValue.allotmentNo||'N/A'}}</td>

                                <!-- <td><b>SubProductName:&nbsp;</b>&nbsp;{{shipmentValue.subProductName||'N/A'}}</td>
                                <td><b>SeasonYear:&nbsp;</b>&nbsp;{{shipmentValue.seasonYear||'N/A'}}</td>
                                <td><b>SellerCompanyName:&nbsp;</b>&nbsp;{{shipmentValue.sellerCompanyName||'N/A'}}</td>
                                <td><b>VehicleNo:&nbsp;</b>&nbsp;{{shipmentValue.vehicleNo||'N/A'}}</td> -->
                            </tr>
                            <tr>
                                <td><b>Trade Rate:&nbsp;</b>&nbsp;{{shipmentValue.tradePrice!=null?shipmentValue.tradePrice:'N/A'}}</td>
                                <td><b>Trade Qty:&nbsp;</b>&nbsp;{{shipmentValue.tradeQuantity!=null?shipmentValue.tradeQuantity:'N/A'}}</td>
                                <td><b>Pending Qty:&nbsp;</b>&nbsp;{{shipmentValue.pendingQuantity!=null?shipmentValue.pendingQuantity:'N/A'}}</td>
                                <td></td>

                                <!-- <td><b>TransportDocNo:&nbsp;</b>&nbsp;{{shipmentValue.transportDocNo||'N/A'}}</td>
                                <td><b>HsnCode:&nbsp;</b>&nbsp;{{shipmentValue.hsnCode||'N/A'}}</td>
                                <td><b>DocumentId:&nbsp;</b>&nbsp;{{shipmentValue.documentId||'N/A'}}</td>
                                <td><b>TransportDocDate:&nbsp;</b>&nbsp;{{shipmentValue.transportDocDate||'N/A'}}</td> -->
                            </tr>
                            <!-- <tr>
                                <td><b>NetValue:&nbsp;</b>&nbsp;{{(shipmentValue.netValue|number:'1.2-2')||'N/A'}}</td>
                                <td><b>DocumentDate:&nbsp;</b>&nbsp;{{shipmentValue.documentDate||'N/A'}}</td>
                                <td><b>ShipToAddress:&nbsp;</b>&nbsp;{{shipmentValue.shipToAddress||'N/A'}}</td>
                                <td><b>DispatchFromAddress:&nbsp;</b>&nbsp;{{shipmentValue.dispatchFromAddress||'N/A'}}
                                </td>
                            </tr>
                            <tr>
                                <td><b>BuyerAddress:&nbsp;</b>&nbsp;{{shipmentValue.buyerAddress||'N/A'}}</td>
                                <td><b>SellerAddress:&nbsp;</b>&nbsp;{{shipmentValue.sellerAddress||'N/A'}}</td>
                                <td><b>ShipmentAddress:&nbsp;</b>&nbsp;{{shipmentValue.shipmentAddress||'N/A'}}</td>
                                <td><b>BillingAddress:&nbsp;</b>&nbsp;{{shipmentValue.billingAddress||'N/A'}}</td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive shadow-sm bg-white rounded">
                    <table class="table table-hover text-left mb-0 pb-0">
                        <thead class="thead-dark">
                            <tr>
                                <th>Shipment ID</th>
                                <th>Delivery No</th>
                                <th>Shpiment Date</th>
                                <th>Document No</th>
                                <th>Doc Date</th>
                                <th>NoOfBags</th>
                                <th>Quantity</th>
                                <th>Value</th>
                                <th>Tax</th>
                                <th>Other Charges</th>
                                <th>Net Value</th>
                                <th>Download</th>
                                <th>Hash</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let object of shipmentViewDetailsList;let i=index;">
                                <td>{{object.shipmentId}}</td>
                                <td>{{object.deliveryNo||'N/A'}}</td>
                                <td>{{object.shipmentDate|date:'medium'||'N/A'}}</td>
                                <td>{{object.documentNo||'N/A'}}</td>
                                <td>{{object.documentDate|date:'medium'||'N/A'}}</td>
                                <td>{{object.noOfBags}}</td>
                                <td>{{object.quantity}}</td>
                                <td>{{object.value}}</td>
                                <td>{{object.tax}}</td>
                                <td>{{object.otherCharge}}</td>
                                <td>{{object.netValue}}</td>
                                <td>
                                    <button *ngIf="shipmentValue!=null && shipmentViewDetailsList.length>0"
                                        class="btn btn-sm btn-primary pl-2 pr-2 pt-1 pb-1 m-0"
                                        style="border-radius: 100%!important;" (click)="printPdf(i)"><i
                                            class="iconsminds-download"></i></button>
                                </td>
                                <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;white-space:normal;"><a *ngIf="object.hash" class="font-weight-bold text-primary" [href]="hashUrl+object.hash" target="_blank">{{object.hash}}</a><span *ngIf="!object.hash">N/A</span></td>
                            </tr>
                            <tr *ngIf="shipmentViewDetailsList.length==0">
                                <td colspan="13" class="text-center">No Record Found!</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <table class="table table-hover text-left mb-0 pb-0">
                        <thead class="thead-dark">
                            <tr>
                                <th>SNo</th>
                                <th>Document</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of shipmentDocumentList;let i=index;">
                                <td>{{i+1}}</td>
                                <td>{{item.description||'N/A'}}</td>
                                <td><a class="btn btn-success"
                                        [href]="url+'/deliveryShipment/'+item.shipmentDocMasterId+'/shipment_document/'+item.document"
                                        target="_blank"><i
                                            class="iconsminds-data-download"></i>&nbsp;{{item.document||'N/A'}}</a>
                                </td>
                            </tr>
                            <tr *ngIf="shipmentDocumentList.length==0">
                                <td class="text-center" colspan="3">No Record Found!</td>
                            </tr>
                        </tbody>
                    </table> -->
                </div>
            </div>
        </div>
    </div>
</div>
<simple-notifications></simple-notifications>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="line-scale" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>