<!-- new structure -->

<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <app-breadcrumb></app-breadcrumb>
        <div class="separator mb-5"></div>
    </div>
</div>




<div class="row">
    <div class="col-12 mb-4">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <!-- <div class="col-md-3">
                        <label for="dateRange"><b>Select Date Range</b></label>
                        <input class="form-control inp" #drp="bsDaterangepicker" bsDaterangepicker [container]="'html'"
                            [ngModel]="bsRangeValue" (ngModelChange)="bsRangeValue=$event;GetcompanyNames()" />
                    </div> -->
                    <div class="col-md-3">
                        <label for="dateRange"><b>Select Date
                                Range</b></label>
                        <input placeholder="Select Date Range" style="background-color: white;" readonly
                            class="form-control inp mt-1" #drp="bsDaterangepicker" bsDaterangepicker
                            [container]="'html'" [ngModel]="bsRangeValue"
                            [bsConfig]="{ ranges: ranges,rangeInputFormat : 'DD-MM-YYYY', dateInputFormat: 'DD-MM-YYYY'}"
                            (ngModelChange)="bsRangeValue=$event;GetcompanyNames()" />

                    </div>
                    <div class="col-md-3">
                        <label for="select product"><b>Select Product</b></label>
                        <select class="form-control inp" name="productId" required [(ngModel)]="productId"
                            (change)="getcommodityProduct($event.target.value); GetcompanyNames()">
                            <option value="">Select product</option>
                            <option *ngFor="let p of allproducts" value="{{p.productId}}">{{p.productName}}</option>
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label for="select product"><b>Select Commodity</b></label>
                        <select class="form-control inp" name="commodityId" required (click)="checkProductId()"
                            [(ngModel)]="subProductId"
                            (change)="GetcompanyNames()">
                            <option value="">Select Commodity</option>
                            <option *ngFor="let c of allcommodity" value="{{c.subProductId}}">{{c.subProductName}}
                            </option>
                        </select>
                        <span class="invalid-tooltip" *ngIf="PError">{{PError}}</span>
                    </div>

                    <div class="col-md-3">
                        <label for="companyName"><b>Company Name</b></label>
                        <select class="form-control inp" name="productId" required [(ngModel)]="counterCompanyId"
                            (change)="GetpaymentTcn($event.target.value)">
                            <option value="">Select Company Name</option>
                            <option *ngFor="let p of CompanyNames" value="{{p.companyId}}">{{p.companyName}}</option>
                        </select>
                        <span class="invalid-tooltip" *ngIf="errorMsgforDate">{{errorMsgforDate}}</span>
                    </div>


                </div>

                <div class="row mt-4">
                    <div class="col-md-3">
                        <label for="tcnNo"><b>TCN No</b></label>
                        <select class="form-control inp" name="productId" (click)="chanckcompanyname()"
                            [(ngModel)]="tcnNo">
                            <option value="">Select TCN</option>
                            <option *ngFor="let t of TcnAll" value="{{t.tcn}}">{{t.tcn}}</option>
                        </select>
                        <span class="invalid-tooltip" *ngIf="errorMessage">{{errorMessage}}</span>
                    </div>

                    <div class="col-md-3">
                        <label for="SelectPaymentType"><b>Select Payment Type</b></label>
                        <select class="form-control inp" name="commodityId" required (change)="CheckValFlag()"
                            [(ngModel)]="paymenttypeId">
                            <option value="">Select payment</option>
                            <option *ngFor="let p of PaymentTypes" value="{{p.id}}">{{p.payment_type}}</option>
                        </select>
                    </div>

                    <div class="col-md-3" id="invoice-list" style="display:none;">
                        <label for="SelectInvoice"><b>Select Invoice</b></label>                      
                        <ng-multiselect-dropdown [placeholder]="'Select Business Type'"
                            name="Invoice" #Invoice="ngModel" id="Invoice" [data]="allShipmentNo"
                            [(ngModel)]="Invoiceno" (onDeSelect)="onItemDeSelect($event)" [settings]="dropdownSettings"
                            (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                        </ng-multiselect-dropdown>

                    </div>

                    <div class="col-md-3"> <button class="btn btn-success float-left paySubButt w-100" [disabled]="ckeckallVal"
                        (click)="GetTradepDtlByPaymentType()"><i class="simple-icon-check"></i>&nbsp;Submit</button>

                </div>
                </div>

            </div>

            <!-- all table -->
            <div class="row">
                <div class="col-12 mb-4" id="tbl-space" style="display: none;">
                    <div class="card mb-4">
                        <div class="card-body" style="padding: 0;margin: 0;">
                            <div class="col-md-12">
                                <form (ngSubmit)="GeneratePreview(paymentdAdviceModal)">
                                    <div class="table-responsive shadow-sm bg-white rounded">
                                        <table class="table text-center table-hover mb-0 pb-0" id="payment-tbl"
                                            style="display: none;">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th>TCN Number </th>
                                                    <th>Trade Date</th>
                                                    <th>Trade Quantity /Unit</th>
                                                    <th>Trade Price /Unit</th>
                                                    <th>Contract Value</th>
                                                    <th>Tax Value</th>
                                                    <th>Total Contract Value</th>
                                                    <th>EMD Payable</th>
                                                    <th>Emd Date</th>
                                                    <th>Emd Percentage</th>
                                                    <th>Due Balance Payment</th>
                                                    <th>Due Payment Date</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let payment of tradepayDtl; let i=index">
                                                    <td>{{payment.tcn|| 'N/A'}}</td>
                                                    <td>{{payment.tradeDate|| 'N/A'}}</td>
                                                    <td>{{payment.tradeQuantity|| 'N/A'}}
                                                        &nbsp;&nbsp;{{payment.quantityUnit}}</td>
                                                    <td>{{payment.tradePrice|| 'N/A'}} &nbsp;&nbsp;{{payment.priceUnit}}
                                                    </td>
                                                    <td>{{payment.contractValue|| 'N/A'}}</td>
                                                    <td>{{payment.taxValue|| 'N/A'}}</td>
                                                    <td>{{payment.totalAmount|| 'N/A'}}</td>
                                                    <td>{{payment.emdValue|| 'N/A'}}</td>
                                                    <td>{{payment.emdDate|| 'N/A'}}</td>
                                                    <td>{{payment.emdPercentage|| 'N/A'}}</td>
                                                    <td>{{payment.totalAmount-payment.emdValue}}</td>
                                                    <td>{{payment.dueDate|| 'N/A'}}</td>
                                                </tr>
                                                <tr *ngIf="tradepayDtl==null">
                                                    <td colspan="5">No Record Found!</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <button class="btn btn-success mb-1" id="preview-btn"
                                        style="display: none;">Generate
                                        Advice</button><span id="error-Emdmsg" class="mb-1 grntAdvMsg"><span
                                            class="grntImp">*</span>Advice already generated.</span>
                                </form>
                                <form>
                                    <div class="table-responsive shadow-sm bg-white rounded">
                                        <table class="table text-center table-hover mb-0 pb-0" id="balancepayment-tbl"
                                            style="display: none;">
                                            <thead class="thead-dark">
                                                <tr>

                                                    <!-- <th>TCN No</th>
                                    <th>TradeDate</th> -->
                                                    <th>TradeQuantity/Unit</th>
                                                    <th>TradePrice/Unit</th>
                                                    <th>TaxValue</th>
                                                    <th>CommissionFee</th>
                                                    <th>EmdValue</th>
                                                    <th>Total Amt</th>
                                                    <th>TradeDate</th>
                                                    <th>Delivery Qty</th>
                                                    <th>DeliveryOrder Value</th>
                                                    <th>Net Payble</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let payment of tradepayDtl;let i=index">
                                                    <td>{{payment.tradeQuantity|| 'N/A'}}/{{payment.quantityUnit}}</td>
                                                    <td>{{payment.tradePrice|| 'N/A'}}/{{payment.priceUnit}}</td>
                                                    <td>{{payment.taxValue|| 'N/A'}}</td>
                                                    <td>{{payment.commisionFee|number:'1.2-2'}}</td>
                                                    <td>{{payment.emdValue|number:'1.2-2'}}</td>
                                                    <td>{{payment.totalAmount|| 'N/A'}}</td>
                                                    <td>{{payment.tradeDate|| 'N/A'}}</td>

                                                    <td><input type="text" class="form-control"
                                                            (keyup)="checkquantityOffer($event.target.value,payment.transactionId)"
                                                            value="{{payment.deliveryQuantity}}"><span
                                                            class="text-danger float-left" style="font-size: 9px;"
                                                            *ngIf="errormessage">{{errormessage}}</span></td>
                                                    <td><input type="text" disabled class="form-control"
                                                            [(ngModel)]="deliveryOrdValue" name="deliveryOrdValue"
                                                            value="{{payment.deliveryOrderValue}}"></td>
                                                    <td colspan="15"><input type="text" disabled style="width: 91px;"
                                                            class="form-control" [(ngModel)]="netPayble"
                                                            name="deliveryOrdValue" value="{{payment.netPayable}}"></td>
                                                </tr>
                                                <tr *ngIf="tradepayDtl==null">
                                                    <td colspan="5">No Record Found!</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <button class="btn btn-success mt-2 mb-1" id="balancepayment-btn"
                                        (click)="GeneratePreview(paymentdAdviceModal)" style="display: none;">Generate
                                        Advice</button> <span id="error-Blmsg" class="mb-1 grntAdvMsg"><span
                                            class="grntImp">*</span>Advice already generated.</span>

                                </form>
                                <form>
                                    <div class="table-responsive shadow-sm bg-white rounded">
                                        <table class="table text-center table-hover mb-0 pb-0"
                                            id="balanceadjustment-tbl" style="display: none;">
                                            <thead class="thead-dark">
                                                <tr>

                                                    <!-- <th>TCN Number </th>
                                    <th>Trade Date</th> -->
                                                    <th>TradeQuantity/Unit</th>
                                                    <th>TradePrice/Unit</th>
                                                    <th>TaxValue</th>
                                                    <th>Commission Fee</th>
                                                    <th>Emd Value</th>
                                                    <th>Total Amt</th>
                                                    <th>TradeDate</th>
                                                    <th>Delivery Qty</th>
                                                    <th>DeliveryOrder Value</th>
                                                    <th>Net Payble</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let payment of tradepayDtl; let i=index">
                                                    <!-- <td>{{payment.tcn|| 'N/A'}}</td>
                                    <td>{{payment.tradeDate|| 'N/A'}}</td> -->
                                                    <td>{{payment.tradeQuantity|| 'N/A'}}/{{payment.quantityUnit}}</td>
                                                    <td>{{payment.tradePrice|| 'N/A'}}/{{payment.priceUnit}}</td>
                                                    <td>{{payment.taxValue|| 'N/A'}}</td>
                                                    <td>{{payment.commisionFee|| 'N/A'}}</td>
                                                    <td>{{payment.emdValue|| 'N/A'}}</td>
                                                    <td>{{payment.totalAmount|| 'N/A'}}</td>
                                                    <td>{{payment.tradeDate|date}}</td>
                                                    <td>{{payment.deliveryQuantity}}</td>
                                                    <td>{{payment.deliveryOrderValue|| 'N/A'}}</td>
                                                    <td>{{payment.netPayable|| 'N/A'}}</td>
                                                </tr>
                                                <tr *ngIf="tradepayDtl==null">
                                                    <td colspan="5">No Record Found!</td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <button class="btn btn-success" id="adjustment-btn"
                                        (click)="GeneratePreview(paymentdAdviceModal)" style="display: none;">Generate
                                        Advice</button>
                                    <span id="error-Badjustmsg" class="mb-1 grntAdvMsg"><span
                                            class="grntImp">*</span>Advice already
                                        generated.</span>
                                </form>
                                <form>
                                    <div class="table-responsive shadow-sm bg-white rounded">
                                        <table class="table text-center table-hover mb-0 pb-0" id="refund-tbl"
                                            style="display:none;">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th>Company Name</th>
                                                    <!-- <th>Advice No</th> -->
                                                    <th>TCN No</th>
                                                    <th>Commision Fee</th>
                                                    <!-- <th>Contract Value</th> -->
                                                    <th>Created On</th>
                                                    <!-- <th>Delivery Order Value</th> -->
                                                    <th>Delivery Quantity</th>
                                                    <!-- <th>Document Date</th> -->
                                                    <!-- <th>Due Date</th>
                                    <th>Emd Date</th> -->
                                                    <!-- <th>Emd Percentage</th> -->
                                                    <th>Emd Value</th>
                                                    <th>Hsn Code</th>
                                                    <!-- <th>Interest Value</th> -->
                                                    <th>Net Payable</th>
                                                    <th>No Of Bags</th>
                                                    <th>Payment Type Name</th>
                                                    <!-- <th>Price Unit</th>
                                    <th>Quantity Unit</th> -->
                                                    <th>Shipment No</th>
                                                    <!-- <th>Shipment Order Value</th>
                                    <th>Shipment Quantity</th> -->
                                                    <!-- <th>Status</th>
                                    <th>Tax Percentage</th>
                                    <th>Tax Value</th> -->
                                                    <th>Total Amount</th>
                                                    <!-- <th>Trade Date</th>
                                    <th>Trade Price</th>
                                    <th>Trade Quantity</th>
                                    <th>Transaction Fee</th> -->
                                                    <th>Unit Price</th>


                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let payment of tradepayDtl; let i=index">
                                                    <td>{{payment.matchedCompanyName|| 'N/A'}}</td>
                                                    <!-- <td>{{payment.adviceNo|| 'N/A'}}</td> -->
                                                    <td>{{payment.tcn|| 'N/A'}}</td>
                                                    <td>{{payment.commisionFee|| 'N/A'}}</td>
                                                    <!-- <td>{{payment.contractValue|| 'N/A'}}</td> -->
                                                    <td>{{payment.createdOn|date}}</td>
                                                    <!-- <td>{{payment.deliveryOrderValue|| 'N/A'}}</td> -->
                                                    <td>{{payment.deliveryQuantity|| 'N/A'}}</td>
                                                    <!-- <td>{{payment.documentDate|| 'N/A'}}</td> -->
                                                    <!-- <td>{{payment.dueDate|| 'N/A'}}</td>
                                    <td>{{payment.emdDate | date}}</td> -->
                                                    <!-- <td>{{payment.emdPercentage|| 'N/A'}}</td> -->
                                                    <td>{{payment.emdValue|number:'1.2-2'}}</td>
                                                    <td>{{payment.hsnCode|| 'N/A'}}</td>
                                                    <!-- <td>{{payment.interestValue|| 'N/A'}}</td> -->
                                                    <td>{{payment.netPayable|| 'N/A'}}</td>
                                                    <td>{{payment.noOfBags|| 'N/A'}}</td>
                                                    <td>{{payment.paymentTypeName|| 'N/A'}}</td>
                                                    <!-- <td>{{payment.priceUnit|| 'N/A'}}</td>
                                    <td>{{payment.quantityUnit|| 'N/A'}}</td> -->
                                                    <td>{{payment.shipmentNo|| 'N/A'}}</td>
                                                    <!-- <td>{{payment.shipmentOrderValue|| 'N/A'}}</td>
                                    <td>{{payment.shipmentQuantity|| 'N/A'}}</td> -->
                                                    <!-- <td>{{payment.status|| 'N/A'}}</td>
                                    <td>{{payment.taxPercentage|| 'N/A'}}</td>
                                    <td>{{payment.taxValue|| 'N/A'}}</td> -->
                                                    <td>{{payment.totalAmount|| 'N/A'}}</td>
                                                    <!-- <td>{{payment.tradeDate|| 'N/A'}}</td>
                                    <td>{{payment.tradePrice|| 'N/A'}}</td>
                                    <td>{{payment.tradeQuantity|| 'N/A'}}</td>
                                    <td>{{payment.transactionFee|| 'N/A'}}</td> -->
                                                    <td>{{payment.unitPrice|| 'N/A'}}</td>

                                                </tr>
                                                <tr *ngIf="tradepayDtl==null">
                                                    <td colspan="5">No Record Found!</td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <button class="btn btn-success" id="refund-btn" style="display: none;">Generate
                                        Advice</button><span class="mb-1 grntAdvMsg" id="error-msg"><span
                                            class="grntImp">*</span>Advice already generated.</span>
                                </form>
                                <div class="table-order ">
                                    <form (ngSubmit)="GeneratePreview(paymentdAdviceModal)">
                                        <div class="table-responsive shadow-sm bg-white rounded">
                                            <table class="table text-center table-hover mb-0 pb-0"
                                                id="InvoicePayment-tbl" style="display: none;">
                                                <thead>
                                                    <tr>

                                                        <th>TCN Number </th>
                                                        <th>Trade Date</th>
                                                        <th>Trade Quantity / Unit</th>
                                                        <th>Trade Price / Unit</th>
                                                        <th>Supplier Shipment Document No</th>
                                                        <th>Date of Shipment Document No</th>
                                                        <th>Shipment Number</th>
                                                        <th>HSN Code</th>
                                                        <th>No of Bags / Unit</th>
                                                        <th>Quantity / Unit</th>

                                                        <th>Taxable Vaule</th>
                                                        <th>Total</th>
                                                        <th>Payment Due Date</th>
                                                        <th>Claim Amount</th>
                                                        <th>Comission</th>
                                                        <th>Transaction Fee</th>
                                                        <!-- <th>Round Off</th> -->
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let payment of tradepayDtl;let i=index">
                                                        <td>{{payment.tcn|| 'N/A'}}</td>
                                                        <td>{{payment.tradeDate|| 'N/A'}}</td>
                                                        <td>{{payment.tradeQuantity|| 'N/A'}}/{{payment.quantity_unit}}
                                                        </td>
                                                        <td>{{payment.tradePrice|| 'N/A'}}/{{payment.price_unit}}</td>
                                                        <td>{{payment.documentId|| 'N/A'}}</td>
                                                        <td>{{payment.documentDate|| 'N/A'}}</td>
                                                        <td>{{payment.shipmentNo|| 'N/A'}}</td>
                                                        <td>{{payment.hsnCode|| 'N/A'}}</td>
                                                        <td>{{payment.noOfBags}}</td>
                                                        <td>{{payment.shipmentQuantity|| 'N/A'}}</td>
                                                        <!-- <td>{{payment.unitPrice|| 'N/A'}}</td> -->
                                                        <td>{{payment.taxValue|| 'N/A'}}</td>
                                                        <!-- <td>{{payment.tax_percentage|| 'N/A'}}%</td> -->
                                                        <!-- <td>{{payment.tax_percentage|| 'N/A'}}%</td> -->

                                                        <td>{{payment.totalAmount|| 'N/A'}}</td>
                                                        <td>{{payment.dueDate|| 'N/A'}}</td>
                                                        <td>{{payment.commisionFee|| 'N/A'}}%</td>
                                                        <td>{{payment.transactionFee|| 'N/A'}}%</td>
                                                        <!-- <td>{{payment.transaction_fee|| 'N/A'}}%</td> -->
                                                        <!-- <td>{{payment.tax_percentage|| 'N/A'}}%</td> -->
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <button class="btn btn-success" id="InvoicePreview-btn"
                                            style="display: none;">Generate
                                            Advice</button> <span class="mb-1" id="error-Invmsg"
                                            style="display: none;color:green;font-size: 15px;">*Advice already
                                            generated.</span>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- all table -->

        </div>
    </div>
</div>

<!-- new structure -->


<simple-notifications></simple-notifications>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="line-scale" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>






<ng-template #paymentdAdviceModal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Trade Payment Advice</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="" id="exampleModalLabel"
                        style="background-color: rgb(167, 167, 202);height: 23px;width:520px;text-align: center;">Buyer
                        Details</h5>
                </div>
                <div class="col-md-6">
                    <h5 class="" id="exampleModalLabel"
                        style="background-color: rgb(167, 167, 202);height: 23px;width:520px;text-align: center;">Seller
                        Details</h5>
                </div>
            </div>

            <div class="row">

                <div class="col-md-6">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="font-weight-bold">Company Name</td>
                                <td>{{companyDtl.companyName||'N/A'}}</td>

                            </tr>
                            <tr>
                                <td class="font-weight-bold">Pan No</td>
                                <td>{{companyDtl.panNo}}</td>

                            </tr>
                            <tr>
                                <td class="font-weight-bold">Gstin No</td>
                                <td>{{companyDtl.gstNo}}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Company CIN No</td>
                                <td>{{companyDtl.cinNo ||'N/A'}}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Company Email</td>
                                <td>{{companyDtl.email||'N/A'}}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Contact Number</td>
                                <td>{{companyDtl.contactNo}}</td>

                            </tr>
                            <tr>
                                <td class="font-weight-bold">Address</td>
                                <td>{{companyDtl.regAddressLineOne}} ,{{companyDtl.regAddressLineTwo}}
                                    ,{{companyDtl.cityName}}, {{companyDtl.districtName}} ,{{companyDtl.stateName}}
                                    ,{{companyDtl.countryName}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <div class="col-md-6">
                    <!-- <h5 class="modal-title" id="exampleModalLabel" style="background-color: rgb(167, 167, 202);">Buyer Details</h5> -->
                    <table class="table">
                        <tbody>

                            <tr>
                                <td class="font-weight-bold">Company Name</td>
                                <td>{{matchingDtl.companyName||'N/A'}}</td>

                            </tr>
                            <tr>
                                <td class="font-weight-bold">Pan No</td>
                                <td>{{matchingDtl.panNo}}</td>

                            </tr>
                            <tr>
                                <td class="font-weight-bold">Gstin No</td>
                                <td>{{matchingDtl.gstNo}}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Company CIN No</td>
                                <td>{{matchingDtl.cinNo ||'N/A'}}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Company Email</td>
                                <td>{{matchingDtl.email||'N/A'}}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Contact Number</td>
                                <td>{{matchingDtl.contactNo}}</td>

                            </tr>
                            <tr>
                                <td class="font-weight-bold">Address</td>
                                <td>{{matchingDtl.regAddressLineOne}} ,{{matchingDtl.regAddressLineTwo}}
                                    ,{{matchingDtl.cityName}}, {{matchingDtl.districtName}} ,{{matchingDtl.stateName}}
                                    ,{{matchingDtl.countryName}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>
            <div class="row">
                <h5 class="" id="exampleModalLabel"
                    style="background-color: rgb(167, 167, 202);height: 23px;width:1114px;text-align: center;">Bank
                    Details</h5>
                <div class="col-md-6">

                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="font-weight-bold">Bank Name</td>
                                <td>{{BankDtl.bankName||'N/A'}}</td>

                            </tr>
                            <tr>
                                <td class="font-weight-bold">Account Holder Name</td>
                                <td>{{BankDtl.accountHolderName||'N/A'}}</td>

                            </tr>
                            <tr>
                                <td class="font-weight-bold">Account Number</td>
                                <td>{{BankDtl.accountNo||'N/A'}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-md-6">

                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="font-weight-bold">Banch Name</td>
                                <td>{{BankDtl.branchName||'N/A'}}</td>

                            </tr>
                            <tr>
                                <td class="font-weight-bold">Account Type</td>
                                <td>{{BankDtl.accountType||'N/A'}}</td>

                            </tr>
                            <tr>
                                <td class="font-weight-bold">IFSC Code</td>
                                <td>{{BankDtl.ifscCode||'N/A'}}</td>

                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>
            <div class="row">
                <h5 class="" id="exampleModalLabel"
                    style="background-color: rgb(167, 167, 202);height: 23px;width:1114px;text-align: center;">
                    Transaction Details</h5>
                <div class="col-md-12">
                    <h5>ADVICE NO:{{tradepayDtl[0].adviceNo}}</h5>
                    <table class="table">
                        <thead>

                            <th class="font-weight-bold">Payment Type Name</th>
                            <th class="font-weight-bold">TCN No</th>
                            <th class="font-weight-bold">TradeQuantity</th>
                            <th class="font-weight-bold">TradePrice</th>
                            <th class="font-weight-bold">TradeAmount</th>
                            <th class="font-weight-bold">EMDValue</th>
                            <th class="font-weight-bold">TradeDate</th>
                            <th class="font-weight-bold">EmdDate</th>
                            <th class="font-weight-bold">Due Date</th>
                            <th class="font-weight-bold">Tax Value</th>
                            <th class="font-weight-bold">Contract Value </th>
                            <!-- <th class="font-weight-bold">Matched CompanyName </th> -->
                        </thead>
                        <tbody>
                            <tr *ngFor="let p of tradepayDtl">

                                <td>{{p.paymentTypeName||'N/A'}}</td>
                                <td>{{p.tcn||'N/A'}}</td>
                                <td>{{p.tradeQuantity||'N/A'}}</td>
                                <td>{{p.tradePrice||'N/A'}}</td>
                                <td>{{p.totalAmount||'N/A'}}</td>
                                <td>{{p.emdValue||'N/A'}}</td>
                                <td>{{p.tradeDate||'N/A'}}</td>
                                <td>{{p.emdDate||'N/A'}}</td>
                                <td>{{p.dueDate||'N/A'}}</td>
                                <td>{{p.taxValue||'N/A'}}</td>
                                <td>{{p.contractValue||'N/A'}}</td>
                                <!-- <td>{{p.matchedCompanyName||'N/A'}}</td> -->
                            </tr>
                            <ng-container *ngIf="tradepayDtl!=null">
                                <tr *ngFor="let p of tradepayDtl">
                                    <td class="font-weight-bold" colspan="10">Total Amount(In Rupees)</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="font-weight-bold">{{p.totalAmount}}</td>
                                </tr>
                            </ng-container>
                            <!-- <tr>
                                <td class="font-weight-bold">TCN No</td>
                               

                            </tr> -->
                            <!-- <tr>
                                <td class="font-weight-bold">Trade Quantity</td>
                                

                            </tr> -->
                            <!-- <tr>
                                <td class="font-weight-bold">Trade Price</td>
                               

                            </tr>
                            <tr>
                                <td class="font-weight-bold">Total Amount</td>
                                

                            </tr>
                            <tr>
                                <td class="font-weight-bold">EMD Value</td>
                                
                            </tr> -->
                        </tbody>
                    </table>
                </div>

                <div class="col-md-12" *ngIf="paymenttypeId != 1">
                    <h5 class="" id="exampleModalLabel"
                        style="background-color: rgb(167, 167, 202);height: 23px;width:1114px;text-align: center;">
                        Commission Details</h5>
                    <h5>ADVICE NO:{{commissionDtl[0].adviceNo}}</h5>
                    <table class="table">
                        <thead>
                            <th>Advice No</th>
                            <th>TCN No</th>
                            <th>BuyerCompanyName</th>
                            <th>SellerCompanyName</th>
                            <th>Commission Fee</th>
                            <th>GST Amount</th>
                            <th>Total Amount</th>
                            <th>Total Payment</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let c of commissionDtl">
                                <td>{{c.adviceNo}}</td>
                                <td>{{c.tcnNo||'N/A'}}</td>
                                <td>{{c.buyerCompanyName||'N/A'}}</td>
                                <td>{{c.sellerCompanyName||'N/A'}}</td>
                                <td>{{c.commisionFeeReceived||'N/A'}}</td>
                                <td>{{c.gstAmount||'N/A'}}</td>
                                <td>{{c.totalAmount||'N/A'}}</td>
                                <td>{{c.totalPayment||'N/A'}}</td>

                            </tr>
                            <!-- <tr>
                                <td class="font-weight-bold">Emd Date</td>
                                <td>{{paymentDtl.emd_date||'N/A'}}</td>

                            </tr>
                            <tr>
                                <td class="font-weight-bold">Due Date</td>
                                <td>{{paymentDtl.due_date||'N/A'}}</td>

                            </tr>
                            <tr>
                                <td class="font-weight-bold">Tax value</td>
                                <td>{{paymentDtl.tax_value||'N/A'}}</td>

                            </tr> -->
                            <!-- <tr>
                                <td class="font-weight-bold">Contract value</td>
                                <td>{{paymentDtl.contract_value||'N/A'}}</td>

                            </tr>
                            <tr>
                                <td class="font-weight-bold">Matched CompanyName</td>
                                <td>{{paymentDtl.matchedCompanyName||'N/A'}}</td>

                            </tr> -->
                        </tbody>
                    </table>

                </div>

            </div>
            <!-- <b class="font-weight-bold" *ngIf="pgdAdvice==null">Preview Not Available</b> -->
        </div>
        <div class="modal-footer">

        </div>
    </div>
</ng-template>