#InvoicePayment-tbl th {
    background: rgb(135, 146, 167);
  
  border:white 1px solid;
  color: white;
  font-size: 12px;
  font-weight: bold;
  }
  #bank-record td {
    font-size: 12px; 
  }
  
  ::-webkit-scrollbar {
    height: 5px;
    width: 12px;
    background: rgb(190, 188, 188);
  }
  
  ::-webkit-scrollbar-thumb {
    background: #797979;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(116, 114, 114, 0.75);
  }
  
  ::-webkit-scrollbar-corner {
    background: #000;
  }
  .table-order th {
    // background: rgb(135, 146, 167);
  
  // border:white 1px solid;
  color: black;
  font-size: 12px;
  font-weight: bold;
  }
  #table-order td {
    font-size: 12px; 
  }
  
  ::-webkit-scrollbar {
    height: 5px;
    width: 12px;
    background: rgb(190, 188, 188);
  }
  
  ::-webkit-scrollbar-thumb {
    background: #797979;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(116, 114, 114, 0.75);
  }
  
  ::-webkit-scrollbar-corner {
    background: #000;
  }
  .paymentDataTable{
    
  }
  .paymentDataTable th{
    font-size: 12px;
    font-weight: 600;
    color:#0a0a0a;
  }
  .paymentDataTable tr td{
    font-size: 12px;
  }

  .grntAdvMsg{
    display: none;
    color:green;
    font-size: 12px;
    padding-top: 5px;
  }
  .grntImp{
    color:red;
    margin-right: 2px;
    
  }
  .inp {
    border: none;
    border-bottom: 1px solid #999da1;    
    outline: none;    
  }


:host ::ng-deep .multiselect-dropdown .dropdown-btn {
  display: inline-block;
  border-right: none!important;
  border-top: none!important;
  border-left: none!important;
  border-bottom: 1px solid #999da1!important;
  border-radius: 0px!important; 
  outline: none!important;
  height: 38px !important;
  width: 100%;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.1;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border-radius: 4px;
}
.paySubButt{
  margin-top: 29px;
}










  