<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <app-breadcrumb></app-breadcrumb>
        <div class="separator mb-5"></div>
    </div>
</div>


<div class="row">
    <div class="col-12 mb-4">
        <div class="card mb-4">
            <div class="card-body">
                <div class="table-responsive shadow-sm bg-white rounded">
                <table class="table text-center table-hover mb-0 pb-0" id="bank-tbl" >
                    <thead class="thead-dark">
                        <tr><th>Sl No</th>
                            <th>Product Name</th>
                            <th>Sub Product Name</th>
                            <th>Initial Tade Limit</th>
                            <th>Current Trade Limit</th>
                            <th>Current PGD Amt</th>
                            <!-- <th>Created On</th> -->
                          
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let wallet of walletdata; let i=index;">
                            <!-- <td *ngIf="bankDetail.primaryBankFlag=='1'"><input type="radio" (click)="makedefaultalert(alertBankModal,bankDetail.companyBankId)" checked="checked"></td>
                            <td *ngIf="bankDetail.primaryBankFlag!='1'"><input type="radio" (click)="makedefaultalert(alertBankModal,bankDetail.companyBankId)"></td> -->
                            <td>{{i+1}}</td>
                            <td>{{wallet.productName || 'N/A'}}</td>
                            <td>{{wallet.subProductName || 'N/A'}}</td>
                            <td>{{wallet.initialQty }}</td>
                            <td>{{wallet.currentQty}}</td>
                            <td>{{wallet.currentPgdAmt || 'N/A'}}</td>
                            <!-- <td>{{wallet.createdBy || 'N/A'}}</td> -->
                        
                        </tr>
                        <!-- <tr *ngIf="companylocationList==null">
                            <td colspan="9" >No Record Found!</td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>