.custom-checkbox {
    width: 340px;
    height: 66px;
    input#status {
      display: none;
       // Unchecked State
      + label {
        height: 42%;
        width: 100%;
        > .status-switch {
          cursor: pointer;
          width: 100%;
          height: 100%;
          position: relative;
          background-color: grey;
          color: white;
          transition: all 0.5s ease;
          padding: 3px;
          border-radius: 3px;
  
          &:before,
          &:after {
            border-radius: 2px;
            height: calc(100% - 6px);
            width: calc(50% - 3px);
            display: flex;
            align-items: center;
            position: absolute;
            justify-content: center;
            transition: all 0.3s ease;
          }
          
          &:before {
            background-color: #c5d6da;
            color: black;
            box-shadow: 0 0 4px 4px rgba(#000, 0.2);
            left: 3px;
            z-index: 10;
            content: attr(data-unchecked);
          }
          
          &:after {
            right: 0;
            content: attr(data-checked);
          }
        }
      }
  
      // Checked stae
      &:checked + label > .status-switch {
        background-color: rgb(20,83,136);
   
        &:after {
          left: 0;
          content: attr(data-unchecked);
        }
   
        &:before {
          color:  rgb(20,83,136);
          left: 50%;
          content: attr(data-checked);
        }
      }
    }
  }
  .radio-sp{
    margin-left: 10px;
  }
  .radio-gap{
    margin-left: 20px;
  }