
<div class="row">
   
</div>
<div class="row">
    <div class="col-7 mb-4">
        <div class="card">
            <div class="card-body">
                <form id="offerForm" [formGroup]="offerForm" (ngSubmit)="SubmitOffer(offerForm)">
                    <div class="form-row">
                      
                        <div class="form-group col-md-6">
                            <label for="email">Select trade type</label>
                            <div class="input-group">
                                <label for="term" id="lbl-tradeone">Buy</label>
                                <input type="radio" class="radio-sp" name="tradetype" required
                                    formControlName="tradetype" value="1" id="tradeone"
                                    (click)="Getterms($event.target.value)">
                                <label for="term" class="radio-gap" id="lbl-tradetwo">Sell</label>
                                <input type="radio" class="radio-sp" name="tradetype" required id="tradetwo"
                                    formControlName="tradetype" (click)="Getterms($event.target.value)" value="2">

                            
                            </div>
                            <div class="invalid-tooltip"
                                *ngIf="offerForm.get('tradetype').hasError('required') && offerForm.get('tradetype').touched">
                                Terms is required!</div>
                        </div>
                        <div class="form-group col-md-6">
                            <label style="color: white;"> Selct search option</label>
                            <div class="input-group">
                                 <div class="custom-checkbox">
                                    <input id="status" type="checkbox" name="status"
                                        (change)="Getserch($event.target.checked)" data-md-icheck [(ngModel)]="theCheckbox">
                                    <label for="status">
                                        <div class="status-switch" data-unchecked="NIGOTIABLE" data-checked="FIRM">
                                        </div>
                                    </label>
                                </div>
                            </div>
    
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="form-group  col-md-6">
                            <label for="email">Select Product</label>
                            <select class="form-control" name="productId" required formControlName="productId"
                                (change)="getcommodityProduct($event.target.value)">
                                <option value="">Select product</option>
                                <option *ngFor="let p of allproducts" value="{{p.productId}}">{{p.productName}}</option>

                            </select>
                            <div class="invalid-tooltip"
                                *ngIf="offerForm.get('productId').hasError('required') && offerForm.get('productId').touched">
                                State is required!</div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="email">Select Commodity</label>
                            <select class="form-control" name="commodityId" required formControlName="commodityId"
                                (change)="Getallviriety($event.target.value)">
                                <option value="">Select commodity</option>
                                <option *ngFor="let c of allcommodity" value="{{c.subProductId}}">{{c.subProductName}}
                                </option>

                            </select>
                            <div class="invalid-tooltip"
                                *ngIf="offerForm.get('commodityId').hasError('required') && offerForm.get('commodityId').touched">
                                Commodity is required!</div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="email">Select Variety</label>
                            <select class="form-control" name="varietyId" required formControlName="varietyId"
                                (change)="Getgrade($event.target.value)">
                                <option value="">Select Variety</option>
                                <option *ngFor="let v of allvariety" value="{{v.varietyName}}">{{v.varietyName}}
                                </option>

                            </select>
                            <div class="invalid-tooltip"
                                *ngIf="offerForm.get('varietyId').hasError('required') && offerForm.get('varietyId').touched">
                                variety is required!</div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="email">Select Grade</label>
                            <select id="state" name="grade" formControlName="grade" required class="form-control">
                                <option value="">Select Grade</option>
                                <option value="{{g.grade}}" *ngFor="let g of grade">{{g.grade}}</option>


                            </select>
                            <div class="invalid-tooltip"
                                *ngIf="offerForm.get('grade').hasError('required') && offerForm.get('grade').touched">
                                State is required!</div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="email">Harvested Month-year</label>
                            <div class="input-group">
                                <input type="date" class="form-control" required name="harvestDate"
                                    formControlName="harvestDate">
                            </div>
                            <div class="invalid-tooltip"
                                *ngIf="offerForm.get('harvestDate').hasError('required') && offerForm.get('harvestDate').touched">
                                Date is required!</div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="email">Select Delivery Type</label>
                            <div class="input-group">
                                <select name="deliveryType" formControlName="deliveryType" required
                                    class="form-control">
                                    <option value="">Select Type</option>
                                    <option value="{{g.deliveryTypeId}}" *ngFor="let g of deliverytype">
                                        {{g.description}}</option>

                                </select>
                                <!-- <label>FOR</label>
                            <input type="radio" class="radio-sp" name="deliveryType" required value="FOR" placeholder="Delivery"  formControlName="deliveryType">
                            <label  class="radio-gap">ExWarehouse</label>
                            <input type="radio" class="radio-sp" name="deliveryType" required value="ExWarehouse" placeholder="Delivery"  formControlName="deliveryType"> -->
                            </div>
                            <div class="invalid-tooltip"
                                *ngIf="offerForm.get('deliveryType').hasError('required') && offerForm.get('deliveryType').touched">
                                StadeliveryTypete is required!</div>
                            <!-- <div class="invalid-tooltip" *ngIf="false">Email is required!</div> -->
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="email">Specific Quantity</label>

                            <div class="input-group">
                                <input type="number" class="form-control" required name="Quantity"
                                    formControlName="Quantity">
                                <select name="Qunit" style="border-radius:50px" required formControlName="Qunit"
                                    style="background-color: #145388;color:white" required>
                                    <option value="">Select Unit</option>

                                    <option>{{Unitone}}</option>
                                    <option>{{Unittwo}}</option>
                                    <option>{{Unitthree}}</option>
                                </select>
                            </div>
                            <div class="invalid-tooltip"
                                *ngIf="offerForm.get('Quantity').invalid && offerForm.get('Quantity').touched">
                                Input valid Quantity</div>
                            <div class="invalid-tooltip"
                                *ngIf="offerForm.get('Quantity').hasError('required') && offerForm.get('Quantity').touched">
                                Quantity is required!</div>
                            <div class="invalid-tooltip"
                                *ngIf="offerForm.get('Qunit').hasError('Qunit') && offerForm.get('Qunit').touched">
                                Unit is required!</div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="email">Specific Price</label>
                            <div class="input-group">


                                <input type="number" class="form-control" required name="price" formControlName="price">
                                <select name="Punit" formControlName="Punit" required
                                    style="background-color: #145388;color:white">
                                    <option value="">Select Unit</option>

                                    <option>{{Unitone}}</option>
                                    <option>{{Unittwo}}</option>
                                    <option>{{Unitthree}}</option>
                                </select>
                                <div class="invalid-tooltip"
                                    *ngIf="offerForm.get('price').invalid && offerForm.get('price').touched">
                                    Input valid price</div>
                                <div class="invalid-tooltip"
                                    *ngIf="offerForm.get('price').hasError('required') && offerForm.get('price').touched">
                                    Price is required!</div>
                                <div class="invalid-tooltip"
                                    *ngIf="offerForm.get('Punit').hasError('required') && offerForm.get('Punit').touched">
                                    Unit is required!</div>
                            </div>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="email">Specify Location</label>
                            <div class="input-group">
                        

                            </div>
                            <div class="invalid-tooltip"
                                *ngIf="offerForm.get('Location').hasError('required') && offerForm.get('Location').touched">
                                Location is required!</div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="email">Expiry Time</label>
                            <select class="form-control" required name="Exdate" formControlName="Exdate">
                                <option value="">Select</option>
                                <option value="30">30 min</option>
                                <option value="1"> 1 hour</option>
                                <option value="2"> 2 hour</option>
                            </select>
                            <div class="invalid-tooltip"
                                *ngIf="offerForm.get('Exdate').hasError('required') && offerForm.get('Exdate').touched">
                                Expiry Time is required!</div>
                        </div>
                    </div>
                    <div class="form-row">

                        <div class="form-group col-md-6">
                            <label for="Pmode">Select Payment Mode</label>
                            <select class="form-control" name="Pmode" required formControlName="Pmode"
                                (change)="GetpayPterms($event.target.value)">
                                <option value="">Select Mode</option>
                                <option value="{{p.paymentModeId}}" *ngFor="let p of paymentMode">{{p.paymentMode}}
                                </option>


                            </select>
                            <div class="invalid-tooltip"
                                *ngIf="offerForm.get('Pmode').hasError('required') && offerForm.get('Pmode').touched">
                                Payment Mode is required!</div>
                            <!-- <div class="invalid-tooltip" *ngIf="false">Email is required!</div> -->
                        </div>
                        <div class="form-group col-md-6">
                            <label for="email">Select Payment Timeline</label>
                            <div class="input-group">
                                <select id="Ptimeline" name="Ptimeline" formControlName=Ptimeline class="form-control">
                                    <option value="">Select </option>
                                    <option value="{{t.paymentTimeline}}" *ngFor="let t of Ptermsdata">
                                        {{t.paymentTimeline}}</option>

                                </select>

                            </div>
                            <div class="invalid-tooltip"
                                *ngIf="offerForm.get('Ptimeline').hasError('required') && offerForm.get('Ptimeline').touched">
                                Payment Timeline is required!</div>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="Pmode">EMD % </label>
                            <select class="form-control" name="Pemd" formControlName="Pemd">
                                <option value="">Select</option>
                                <option value="{{p.emdPercentage}}" *ngFor="let p of Ptermsdata">{{p.emdPercentage}}
                                </option>
                            </select>

                        </div>
                        <div class="form-group col-md-1">
                            <label for="Pmode"></label>
                            <div class="input-group-append mt-2" style="margin-left: -10px;"><span
                                    class="input-group-text">%</span></div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="email">EMD Payment</label>
                            <div class="input-group">
                                <select name="Emdtimeline" formControlName="Emdtimeline" class="form-control">
                                    <option value="">Select </option>
                                    <option value="{{p.emdPaymentTimeline}}" *ngFor="let p of Ptermsdata">
                                        {{p.emdPaymentTimeline}}
                                    </option>

                                </select>

                            </div>

                            <!-- <div class="invalid-tooltip"
                                *ngIf="offerForm.get('Emdtimeline').hasError('required') && offerForm.get('Emdtimeline').touched">
                                Emd timeline is required!</div> -->
                        </div>
                        <div class="form-group col-md-1">
                            <label for="Pmode"></label>
                            <div class="input-group-append mt-2" style="margin-left: -10px;"><span
                                    class="input-group-text">Days</span></div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="email">Select Payment Term</label>
                            <div class="input-group">

                                <select class="form-control" name="pTerm" id="pTerm" required formControlName="pTerm">
                                    <option value="">Select Term</option>
                                    <option value="{{p.timelineBasedOn}}" *ngFor="let p of termList">
                                        {{p.timelineBasedOn}}
                                    </option>


                                </select>
                                <div class="invalid-tooltip"
                                    *ngIf="offerForm.get('pTerm').hasError('required') && offerForm.get('pTerm').touched">
                                    Payment Term is required!</div>
                            </div>

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="email">Upload Image</label>
                            <div class="input-group">
                                <input type="file" class="form-control" placeholder="Name"
                                    (change)="CheckUploadImage($event)" name="Pimage" formControlName="Pimage">
                            </div>
                            <div class="text-danger invalid-tooltip" *ngIf="imgsizecheck"> Upload valid document with in
                                1 MB(.png,.jpeg,jpg,)</div>
                            <!-- <div class="invalid-tooltip"
                                *ngIf="offerForm.get('Pimage').hasError('required') && offerForm.get('Pimage').touched">
                                Image is required!</div> -->
                        </div>
                        <div class="form-group col-md-6">
                            <label for="email">Upload quality Certificate</label>
                            <div class="input-group">
                                <input type="file" class="form-control" name="Qcertificate"
                                    (change)="CheckUploadCirtificate($event)" formControlName="Qcertificate"
                                    placeholder="Name">
                            </div>
                            <div class="text-danger invalid-tooltip" *ngIf="imgsizecheckcrt"> Upload valid document with
                                in
                                1 MB(pdf,.doc,.docx)</div>
                            <!-- <small class="text-danger invalid-tooltip" *ngIf="imgsizecheck">Upload valid document with in 1 MB
                        (pdf,.doc,.docx)</small> -->
                            <!-- <div class="invalid-tooltip"
                                *ngIf="offerForm.get('Qcertificate').hasError('required') && offerForm.get('Qcertificate').touched">
                                Certificate is required!</div> -->
                        </div>

                    </div>
                    <div class="form-group col-md-12" style="text-align: right;">
                        <button type="Submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>

            </div>
            <!-- <div class="row">
                <div class="col-xs-12 col-12 col-md-4 form-group">
                    <input type="text"
                       placeholder="Datepicker"
                       class="form-control"
                       bsDatepicker
                       [bsValue]="bsValue"
                       [minDate]="minDate"
                       [maxDate]="maxDate"
                       [daysDisabled]="[6,0]"
                      [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-MM-DD' }">
                 </div>
            </div> -->

            <!-- <div class="col-xs-12 col-12 col-md-4 form-group">
                <input type="text"
                   placeholder="Daterangepicker"
                   class="form-control"
                   bsDaterangepicker
                   [(ngModel)]="bsRangeValue"
                   [datesEnabled]="enabledDates"
                   [bsConfig]="{ isAnimated: true }">
             </div> -->

        </div>
    </div>
    <div class="col-5">
        <div class="card">
            <div class="card-body" id="grade-table" style="display:none;">
                <div class="table-responsive">
                    <table class="table table-hover" id="bank-offer">

                        <tr *ngFor="let tabdata of tabledata;let i=index;">
                            <!-- <th></th>
                            <th>{{i+1}}</th> -->

                        </tr>
                        <tbody *ngFor="let tabdata of tabledata;">
                            <tr *ngFor="let header of tableHeader "
                                style="background: lightblue;border-color: rgb(22, 19, 19);font-size:larger;font-weight: bold;text-align: center">
                                {{header}}
                                <td
                                    style="background: rgb(255, 255, 255);border-color: rgb(32, 20, 20);font-size:small">
                                    {{tabdata[header]}}</td>
                            </tr>
                        </tbody>



                        <!-- <thead>
                            <tr>
                                <th *ngFor="let header of tableHeader ">{{header}}</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tabdata of tabledata;">
                                <td *ngFor="let header of tableHeader">{{tabdata[header]}}</td>

                            </tr>

                        </tbody> -->
                    </table>
                </div>


            </div>

        </div>
    </div>
   
</div>
<simple-notifications></simple-notifications>
