<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <app-breadcrumb></app-breadcrumb>
        <div class="separator mb-5"></div>
    </div>
</div>

<div class="row">
    <div class="col-12 mb-4">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-md-4">
                        <label for="dateRange"><b>Select Date
                                Range</b></label>
                        <input placeholder="Select Date Range" style="background-color: white;" readonly
                            class="form-control inp mt-1" #drp="bsDaterangepicker" bsDaterangepicker
                            [container]="'html'" [ngModel]="bsRangeValue"
                            [bsConfig]="{ ranges: ranges,rangeInputFormat : 'DD-MM-YYYY', dateInputFormat: 'DD-MM-YYYY'}"
                            (ngModelChange)="bsRangeValue=$event" />
                    </div>


                    <div class="col-md-4">
                        <label for="state"><b>Select Payment Type</b></label>
                        <select class="form-control inp" name="payment" [(ngModel)]="PaymentType"
                            (change)="GetpaymentType($event.target.value)">
                            <option value="">Select Payment Type</option>
                            <option *ngFor="let p of PaymentsTyp" value="{{p.paymentCategoryId}}">
                                {{p.paymentCategoryDesc}}</option>
                        </select>
                        <div class="invalid-tooltip" *ngIf="typecheck&&!PaymentType">Payment type is required!</div>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary w-100 paySubButt" (click)="GetaymentHistory()">Get Payment Details</button>
                    </div>
                </div>
                                    
                            <div class="table-responsive shadow-sm bg-white rounded mt-4" *ngIf="visibility">
                                <table class="table text-center table-hover mb-0 pb-0" id="bank-tbl"
                                    >
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Sl No</th>
                                            <th>Payment ID</th>
                                            <th>Bill Number</th>
                                            <th>Bill Issuance Date</th>
                                            <th>Payment For</th>
                                            <th>Payment To</th>
                                            <th>GST Amount</th>
                                            <th>Gross Amount</th>
                                            <th>Net Payable</th>
                                            <th>Status</th>
                                            <th>Hash</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let petail of paymentdtl; let i=index;">

                                            <td>{{i+1}}.</td>
                                            <td>{{petail.paymentId || 'N/A'}}</td>
                                            <td>{{petail.billNo || 'N/A'}}</td>
                                            <td>{{petail.billIssuanceDate |date}}</td>
                                            <td>{{petail.paymentCategoryDesc || 'N/A'}}</td>
                                            <td>{{petail.paymentTo|| 'N/A'}}</td>
                                            <td>{{petail.gstAmount|| 'N/A'}}</td>
                                            <td>{{petail.amount || 'N/A'}}</td>
                                            <td>{{petail.netPayable|| 'N/A'}}</td>
                                            <td *ngIf="petail.status==0">Pending</td>
                                            <td *ngIf="petail.status==1">Confirm</td>
                                            <td *ngIf="petail.status==2">Rejected</td>
                                            <td *ngIf="petail.status==3">All</td>
                                            <td *ngIf="petail.status==4">Pending For Approval</td>
                                            <td *ngIf="petail.hash" style="word-wrap: break-word;min-width: 160px;max-width: 160px;white-space:normal;"><a class="font-weight-bold text-primary" [href]="hashUrl+petail.hash" target="_blank">{{petail.hash}}</a></td>
                                            <td *ngIf="!petail.hash">---</td>
                                        </tr>
                                        <tr *ngIf="paymentdtl.length==0">
                                            <td colspan="11">No Record Found!</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        
                   
                

            </div>
        </div>
    </div>
</div>
<simple-notifications></simple-notifications>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="line-scale" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>