// #bank-tbl th {
//     padding-top: 12px;
//     padding-bottom: 12px;
//     text-align: left;
//     background-color: #145388;
//     color: white;
//   }

  .inp {
    border: none;
    border-bottom: 1px solid #999da1;    
    outline: none;    
  }
  .paySubButt{
    margin-top: 29px;
  }