<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <app-breadcrumb></app-breadcrumb>
        <div class="separator mb-5"></div>
    </div>
</div>
<div class="row">
    <div class="col-12 mb-4">
        <div class="card mb-4">
            <div class="card-body">
        <form  [formGroup]="form"  (ngSubmit)="SaveProducts()">
       
            <!-- <div class="col-md-3" *ngFor="let item of product; let j= index"> -->
                <!-- <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" [attr.id]="'Id'+i">
                    <label class="custom-control-label" [for]="'customCheck_'+i+'_'+j">{{item}}</label>
                </div> -->
            <!-- </div> -->
               <!-- <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" [name]="product.productId" [id]="product.productId" [value]="product.productId">
                    <label class="custom-control-label">{{product.productName}}</label>
                </div> -->
                <!-- <div class="custom-control custom-checkbox mb-4">
                    <input type="checkbox" class="custom-control-input"  [(ngModel)]="ProductForm.productId" [id]="product.productId" name="product.productId"   name="product.productId" >
                    <label class="custom-control-label" [for]="product.productId">{{product.productName}}
                      </label>
                  </div> -->
               
                  <!-- <label formArrayName="orders"  *ngFor="let order of ordersFormArray.controls; let i = index" >
                    <input type="checkbox" class="ml-5" [formControlName]="i">
                   
                    {{productPref[i].productName}}
                  </label> -->
                
          
                  <div *ngFor="let data of Data; let i=index">
                    <label>
                      <input type="checkbox" [value]="data.productId" [checked]="data.isActive"  (change)="onCheckboxChange($event)" />
                      {{data.productName}}
                    </label>
                  </div>
                
                  <p class="error" *ngIf="this.form.controls['checkArray'].errors?.required">
                    Checkbox is required, select atleast one value.
                  </p>
                
                  <!-- <input type="submit" value="Submit"> -->
        <div class="row mt-3">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Accept Product</button>
            </div>
        </div>
    </form>
    </div>
</div>
</div>
</div>
<simple-notifications></simple-notifications>