<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <app-breadcrumb></app-breadcrumb>
        <div class="separator mb-5"></div>
    </div>
</div>
<div class="row">
    <div class="col-12 mb-4">
        <div class="card mb-4">
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="ifscCode">New Password</label>
                        <input type="password" name="newPassword" class="form-control" id="newPassword" maxlength="15" placeholder="New Password" [(ngModel)]="Password">
                        <!-- <div *ngIf="newPassword.dirty&&!passwordMatch" class="invalid-tooltip">Password missmatched!</div> -->
                        <!-- <div *ngIf="passwordMatch" class="invalid-tooltip">Password matched!</div> -->
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="ifscCode">Confirm Password</label>
                        <input type="password" name="Cpassoord"  (keyup)="confirmPassword($event)" class="form-control" maxlength="15" id="Cpassoord" [(ngModel)]="CPassword" placeholder="Confirm Password">
                        <div *ngIf="passwordMatch" style="color:green;font-size: large;">Password matched!</div>
                        <!-- <div *ngIf="!passwordMatch" class="invalid-tooltip">Password missmatched !</div> -->
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                       
                        <button type="submit" class="btn btn-primary" (click)="showOtpModal(template)" [disabled]="!passwordMatch" >Update</button>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <div class="col-md-6">
                            <label for="ifscCode">Enable 2FA</label>
                        </div>
                      <div class="col-md-6">
                        <div tooltip="Dark Mode" placement="left" class="custom-control custom-switch" ng-reflect-tooltip="Enable mode" ng-reflect-placement="left">
                            <input type="checkbox" id="darkModeSwitch111" class="custom-control-input"><label for="darkModeSwitch111" class="custom-control-label"></label>
                        </div>
                      </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<simple-notifications></simple-notifications>
<ng-template #template>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Validate OTP</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="otp">OTP</label>
                <input type="text" name="otp" class="form-control" placeholder="Enter OTP" [(ngModel)]="otp" />
                <div class="invalid-tooltip" *ngIf="false">OTP is required!</div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="SavePassword()">Validate</button>
        </div>
    </div>
</ng-template>